<li>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">2. </span>
        Nanomaterials
      </h2>
    </div>
    <div class="app-task-list__section-number govuk-grid-column-one-half">
      <%= nanomaterials_summary_badge(@notification) %>
    </div>
  </div>

  <ul class="app-task-list__items">
    <% @notification.nano_materials.order(:created_at).each_with_index do |nano_material, i| %>
      <li class="app-task-list__item_no_border">
        <span class="app-task-list__task-name govuk-!-font-weight-bold">
         Nanomaterial #<%= i + 1 %>
        </span>

        <%= nanomaterial_badge(nano_material, i) %>
      </li>
      <li class="app-task-list__item_no_border app-task-list__subitem">
        <span class="app-task-list__task-name govuk-!-font-weight-bold" id="nanomaterial_<%= i %>_after_select_purposes_routing">Purpose</span>
        <%= nanomaterial_link(nano_material, i, :select_purposes) %>
      </li>

      <% if nano_material.persisted? %>
        <% if nano_material.non_standard? && nano_material.purposes.one? %>

          <li class="app-task-list__item_no_border app-task-list__subitem">
            <span class="app-task-list__task-name govuk-!-font-weight-bold" id="nanomaterial_<%= i %>_non_standard_nanomaterial_notified">
              Nanomaterial notified
            </span>
            <%= nanomaterial_link(nano_material, i, :non_standard_nanomaterial_notified) %>
          </li>
          <li class="app-task-list__item_no_border app-task-list__subitem">
            <span class="app-task-list__task-name govuk-!-font-weight-bold" id="nanomaterial_<%= i %>_when_products_containing_nanomaterial_can_be_placed_on_market">
              Place on market
            </span>
            <%= nanomaterial_link(nano_material, i, :when_products_containing_nanomaterial_can_be_placed_on_market) %>
          </li>

          <% if nano_material.confirm_toxicology_notified == "yes" %>
            <li class="app-task-list__item_no_border app-task-list__subitem">
              <span class="app-task-list__task-name govuk-!-font-weight-bold" id="nanomaterial_<%= i %>_select_notified_nanomaterial">
                Select a notified nanomaterial
              </span>
              <%= nanomaterial_link(nano_material, i, :select_notified_nanomaterial) %>
            </li>
          <% end %>

        <% else %>

          <li class="app-task-list__item_no_border app-task-list__subitem">
            <span class="app-task-list__task-name govuk-!-font-weight-bold" id="nanomaterial_<%= i %>_add_nanomaterial_name">
              INCI name
            </span>
            <%= nanomaterial_link(nano_material, i, :add_nanomaterial_name) %>
          </li>
          <li class="app-task-list__item_no_border app-task-list__subitem">
            <span class="app-task-list__task-name govuk-!-font-weight-bold" id="nanomaterial_<%= i %>_confirm_restrictions">
              Regulation annex
            </span>
            <%= nanomaterial_link(nano_material, i, :confirm_restrictions) %>
          </li>
          <li class="app-task-list__item_no_border app-task-list__subitem">
            <span class="app-task-list__task-name govuk-!-font-weight-bold" id="nanomaterial_<%= i %>_confirm_usage">
              Regulation annex
            </span>
            <%= nanomaterial_link(nano_material, i, :confirm_usage) %>
          </li>

        <% end %>
      <% end %>
    <% end %>

    <li class="app-task-list__item_no_border app-task-list__subitem app-task-list__futher-actions">
      <span>
        <a href="<%= new_responsible_person_notification_nanomaterial_path(@notification.responsible_person, @notification) %>" class="govuk-link govuk-link--no-visited-state">
          Add<span class="govuk-visually-hidden"> another nanomaterial</span>
        </a>
        <span class="opss-task-sub__pipe"> | </span>
        <a href="<%= responsible_person_notification_draft_delete_nano_material_path(@notification.responsible_person, @notification) %>" class="govuk-link govuk-link--no-visited-state">
          Remove<span class="govuk-visually-hidden"> a nanomaterial</span>
        </a>
      </span>
    </li>
  </ul>
</li>
