<%= render 'nanomaterial_banner' %>
<%= render 'product_info' %>

<div class="govuk-grid-row opss-switch-cols">
  <div class="govuk-grid-column-one-quarter govuk-!-padding-top-9 opss-switch-cols__right">
    <% if @notification.source_notification %>
      <div class="govuk-!-margin-top-7 govuk-!-margin-bottom-5 govuk-!-padding-top-2 govuk-!-padding-right-2 govuk-!-padding-bottom-1 govuk-!-padding-left-2 opss-border-all opss-rounded-corners">
        <h2 class="govuk-heading-s govuk-!-font-size-16 opss-primary-text">Start each task</h2>
        <p class="govuk-body govuk-!-font-size-16 opss-secondary-text">
          This draft notification was created by copying a completed notification and is already prepopulated with data.
        </p>
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1 govuk-!-font-weight-bold opss-primary-text">
          Start and then complete each task to edit or confirm the data.
        </p>
      </div>
    <% end %>
    <div class="govuk-!-margin-top-7 govuk-!-margin-bottom-4">
      <%= render "responsible_persons/drafts/guides/#{@notification.state}" %>
    </div>
  </div>

  <section class="govuk-grid-column-three-quarters govuk-!-padding-top-9 opps-switch-cols__left" role="region" aria-label="Tasks">
    <p class="govuk-body">
      You can review the draft and make final changes to the product details before you are required to accept the draft and submit it.
    </p>
    <p class="govuk-body">
      You will have 7 days from the date you submit the notification to delete it.
      You should only do this if our notification contains wrong information.
    </p>
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
      Cosmetic product notification Incomplete
    </p>

    <%= incomplete_progress %>

    <ol class="app-task-list govuk-!-margin-top-7">
      <%= render 'product' %>
      <%= render 'nanomaterials' if @notification.nano_materials.present? %>
      <% if @notification.multi_component? %>
        <%= render 'product_kit' %>
        <%= render 'components' %>
      <% else %>
        <%= render 'product_details' %>
      <% end %>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">
            <%= section_number(DraftHelper::ACCEPT_SECTION) %>
          </span>
          Accept and submit
        </h2>

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <% if section_can_be_used?(DraftHelper::ACCEPT_SECTION) %>
              <span class="app-task-list__task-name">
                <%= link_to "Accept and submit", review_responsible_person_notification_draft_path(@notification.responsible_person, @notification), class: "govuk-link govuk-link--no-visited-state", aria: { describedby: "accept-and-submit-status" } %>
              </span>
              <%= not_started_badge("accept-and-submit-status") %>
            <% else %>
              <span class="app-task-list__task-name">
                Accept and submit
              </span>
              <b class="govuk-tag govuk-tag--grey app-task-list__tag" id="accept-status">Cannot start yet</b>
            <% end %>
          </li>
        </ul>
      </li>
    </ol>

    <% if @notification.persisted? %>
      <div class="govuk-button-group">
        <%= link_to "View draft", edit_responsible_person_notification_path(@notification.responsible_person, @notification), class: "govuk-button govuk-button--secondary" %>
        <%= link_to "Delete this draft", delete_responsible_person_delete_notification_path(@notification.responsible_person, @notification), class: "govuk-button govuk-button--warning" %>
      </div>
    <% end %>
  </section>
</div>
