<h1 class="govuk-heading-xl">Resend confirmation instructions</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="govuk-form-group">
    <%= f.label :email, :class => "govuk-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
      value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
      :class => "govuk-input"
    %>
  </div>

  <div class="govuk-form-group">
    <%= f.submit "Resend confirmation instructions", :class => "govuk-button" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
