<% if business.errors.any? %>
  <div id="error_explanation">
    <h2 class="heading-large"><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

    <ul>
    <% business.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if business.from_companies_house? %>
  <p>Some data is set by companies house and is therefore non-editable</p>
<% else %>
  <div class="form-group">
    <%= form.label :company_name, :class => "form-label" %>
    <%= form.text_field :company_name, :class => "form-control search-term" %>
  </div>

  <div class="form-group">
    <%= form.label :company_type_code, :class => "form-label" %>
    <%= form.select :company_type_code,
      Rails.application.config.companies_house_constants["company_type"].collect {|t| [t[1], t[0]]},
      { include_blank: "None" },
      { :class => "form-control js-business-company-type" }
    %>
  </div>

  <%= form.fields_for :addresses, [business.primary_address] do |ff| %>
    <p>Registered office address</p>
    <div class="form-group">
      <%= ff.label :line_1, :class => "form-label" %>
      <%= ff.text_field :line_1, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :line_2, :class => "form-label" %>
      <%= ff.text_field :line_2, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :locality, :class => "form-label" %>
      <%= ff.text_field :locality, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :country, :class => "form-label" %>
      <%= ff.text_field :country, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= ff.label :postal_code, :class => "form-label" %>
      <%= ff.text_field :postal_code, :class => "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nature_of_business_id, :class => "form-label" %>
    <%= form.select :nature_of_business_id,
      Rails.application.config.companies_house_constants["sic_descriptions"].collect {|s| [s[1], s[0]]},
      { include_blank: "None" },
      { :class => "form-control js-business-sic-codes" }
    %>
  </div>
<% end %>
