<%= form_with(model: form_model, local: true) do |form| %>
  <%= render 'businesses/core_params', form: form, business: business %>

  <div class="govuk-form-group">
    <%= form.label :additional_information, :class => "govuk-label" %>
    <%= form.text_area :additional_information, :class => "govuk-input" %>
  </div>

  <div class="govuk-form-group">
    <%= form.submit "Save business", :class => "govuk-button" %>
  </div>
<% end %>
