<h3 class="govuk-heading-s">Existing businesses</h3>
<% if @existing_businesses.any? %>
  <% @existing_businesses.each do |business| %>
    <%= render layout: "business_summary", locals: { business: business } do %>
      <% if @investigation.present? %>
        <div class="govuk-!-margin-top-3">
          <%= form_with(url: add_investigation_businesses_path(@investigation), local: true) do |form| %>
            <%= form.hidden_field :business_id, value: business.id %>
            <%= form.submit "Add", :class => "govuk-button" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-body">No matches.</p>
<% end %>


<h3 class="govuk-heading-s">From Companies House</h3>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Company name</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% if @companies_house_businesses.any? %>
      <% @companies_house_businesses.each do |business| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= link_to business[:company_name], business[:url], target: "_blank" %></td>
          <td class="govuk-table__cell">
            <%= form_with(
              url: @investigation.present? ? companies_house_investigation_businesses_path(@investigation)
                                           : companies_house_businesses_path,
              local: true) do |form| %>

              <%= form.hidden_field :company_number, value: business[:company_number] %>
              <%= form.submit "Add", :class => "govuk-button govuk-!-margin-0" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
     <tr class="govuk-table__row"><td class="govuk-table__cell" colspan="2">No matches.</td></tr>
    <% end %>
  </tbody>
</table>
