<h3 class="heading-medium">Existing businesses</h3>
<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% if @existing_businesses.any? %>
      <% @existing_businesses.each do |business| %>
        <tr>
          <td><%= business.company_name %></td>
          <td>
            <% if @investigation.present? %>
              <%= form_with(url: add_investigation_businesses_path(@investigation), local: true) do |form| %>
                <%= form.hidden_field :business_id, value: business.id %>
                <%= form.submit "Add", :class => "govuk-button" %>
              <% end %>
            <% else %>
              <%= link_to "View", business %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
     <tr><td colspan="2">No matches.</td></tr>
    <% end %>
  </tbody>
</table>


<h3 class="heading-medium">From Companies House</h3>
<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% if @companies_house_businesses.any? %>
      <% @companies_house_businesses.each do |business| %>
        <tr>
          <td><%= link_to business[:company_name], business[:url], target: "_blank" %></td>
          <td>
            <%= form_with(
              url: @investigation.present? ? companies_house_investigation_businesses_path(@investigation)
                                           : companies_house_businesses_path,
              local: true) do |form| %>

              <%= form.hidden_field :company_number, value: business[:company_number] %>
              <%= form.submit "Add", :class => "govuk-button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
     <tr><td colspan="2">No matches.</td></tr>
    <% end %>
  </tbody>
</table>
