<h3 class="heading-medium">Existing businesses</h3>
<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @existing_businesses.each do |business| %>
      <tr>
        <td><%= business.company_name %></td>
        <td>
          <%= link_to "View", business %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3 class="heading-medium">From Companies House</h3>
<table>
  <thead>
    <tr>
      <th>Company number</th>
      <th>Company name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies_house_businesses.each do |business| %>
      <tr>
        <td><%= business[:company_number] %></td>
        <td><%= business[:company_name] %></td>
        <td>
          <%= form_with(url: "/businesses/companies_house", local: true) do |form| %>
            <%= form.hidden_field :company_number, value: business[:company_number] %>
            <%= form.submit "Add", :class => "button" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
