<table class="govuk-table sortable govuk-!-margin-bottom-3">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <% if form %>
      <th class="govuk-table__header not-implemented"></th>
    <% end %>
    <th class="govuk-table__header" scope="col"><%= sortable "company_name", "Business" %></th>
    <th class="govuk-table__header" scope="col"><%= sortable "company_type_code", "Type" %></th>
    <th class="govuk-table__header" scope="col">Primary Loc.</th>
    <th class="govuk-table__header" scope="col">Cases</th>
  </tr>
  </thead>

  <tbody class="govuk-table__body">
  <% businesses.each do |business| %>
    <tr class="govuk-table__row">
      <% if form %>
        <td class="not-implemented govuk-table__cell"><%= form.check_box :business_ids, { multiple: true }, business.id, false %></td>
      <% end %>
      <td class="govuk-table__cell"><%= link_to business.company_name, business %></td>
      <td class="govuk-table__cell"><%= business.company_type_code %></td>
      <td class="govuk-table__cell"><%= business.addresses.first ? business.addresses.first.short : "" %></td>
      <td class="govuk-table__cell">
          <span class="govuk-!-font-size-36 govuk-!-font-weight-bold">
            <%= business.investigations.count %>
          </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
