<% content_for :page_title, "Businesses - Market Surveillance & Product Safety" %>

<%= render "layouts/navbar" %>

<%= form_with(url: businesses_path, method: :get, class: "grey govuk-!-padding-3") do |form| %>
  <div class="form-group">
    <%= form.label "Search for business", :class => "form-label" %>
    <%= form.text_field :q, value: params[:q], :class => "form-control" %>
    <%= form.submit ">", name: nil, :class => "govuk-button" %>
  </div>
<% end %>
</br>
<%= link_to 'New business', new_business_path, class: "govuk-button right" %>

<%= will_paginate @businesses %>
<%= render 'table', business: @businesses %>
<br />
<%= will_paginate @businesses %>
