<% content_for :page_title, "Businesses - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Businesses', businesses_path %>
        </li>
    </ol>
</div>


<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/pages/example">
        Issues
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/investigations">
        Investigations
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/businesses" aria-selected="true">
        Businesses
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/products">
        Products
      </a>
    </li>
  </ul>
</div>


<%= link_to 'New business', new_business_path, :class => "button" %><br /><br />

<%= form_with(url: businesses_path, method: :get, class: "grey govuk-!-padding-3") do |form| %>
  <div class="form-group">
    <%= form.label "Search for business", :class => "form-label" %>
    <%= form.text_field :q, value: params[:q], :class => "form-control" %>
    <%= form.submit ">", name: nil, :class => "button" %>
  </div>
<% end %>

<%= will_paginate @businesses %>
<br />
<table>
  <thead>
    <tr>
      <th>Business name(s)</th>
      <th>Type(s)</th>
      <th>Category(s)</th>
      <th>Location(s)</th>
      <th>Investigations</th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= link_to business.company_name, business %></td>
        <td><%= business.company_type_code %></td>
        <td>N/A</td>
        <td><%= business.addresses.first ? business.addresses.first.short : "" %></td>
        <td><%= business.investigations.count %></td>
<!--        <td><%#= link_to 'Delete', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= will_paginate @businesses %>
