<% content_for :page_title, "Businesses - Market Surveillance & Product Safety" %>

<%= render "layouts/navbar" %>

<%= form_with(url: businesses_path, method: :get, class: "search-background govuk-!-padding-3") do |form| %>
  <div class="govuk-form-group">
    <%= form.label "Search for business", :class => "govuk-label" %>
    <%= form.text_field :q, value: params[:q], :class => "govuk-input" %>
  </div>
  <div class="govuk-form-group">
    <%= form.submit "Search", name: nil, :class => "govuk-button" %>
  </div>
<% end %>

<br/>

<%= form_with(url: confirm_merge_businesses_path, method: :get) do |form| %>
  <%= form.submit "Merge selected", name: nil, class: "not-implemented" %>
  <p><%= link_to 'Create new business', new_business_path, class: "govuk-!-font-size-19  govuk-!-font-weight-bold" %></p>

  <%= render 'table', businesses: @businesses, form: form %>
  <%= will_paginate @businesses %>
<% end %>