<% content_for :page_title, "Businesses - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Businesses', businesses_path %>
        </li>
    </ol>
</div>


<h1 class="heading-xlarge">Businesses</h1>
<%= link_to 'New business', new_business_path, :class => "button" %><br /><br />

<%= form_with(url: businesses_path, method: :get) do |form| %>
  <div class="form-group">
    <%= form.label "Search", :class => "form-label" %>
    <%= form.text_field :q, value: params[:q], :class => "form-control" %>
    <%= form.submit "Go", name: nil, :class => "button" %>
  </div>
<% end %>

<%= will_paginate @businesses %>
<br />
<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= link_to business.company_name, business %></td>
        <td><%= link_to 'Delete', business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= will_paginate @businesses %>
