<% content_for :page_title, "View business - Market Surveillance & Product Safety" %>

<div class="show-business">
  <%= link_to 'Back to list', businesses_path, class: "govuk-back-link" %>
  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <%= render "business_heading", business: @business %>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Cases</h3>
      <span class="govuk-heading-xl govuk-!-margin-bottom-0"><%= @business.investigations.size %></span>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-6 row-border-top">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Contents</h3>
      <ul class="govuk-list dashed-list">
        <li><a href="#details" class="govuk-!-font-size-19">Details</a></li>
        <li><a href="#locations" class="govuk-!-font-size-19">Locations</a></li>
        <li><a href="#cases" class="govuk-!-font-size-19">Cases</a></li>
        <li><a href="#history" class="govuk-!-font-size-19">History</a></li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="details">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Details</h2>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Company number</th>
                <td class="govuk-table__cell"><%= @business.company_number %></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Company type</th>
                <td class="govuk-table__cell"><%= @business.company_type %></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Registered office address</th>
                <td class="govuk-table__cell"><%= @business.primary_address&.summary %></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Nature of business (SIC)</th>
                <td class="govuk-table__cell"><%= @business.nature_of_business %></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Additional information</th>
                <td class="govuk-table__cell"><%= @business.additional_information %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Edit details", edit_business_path(@business) %>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="locations">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Locations (<%= @business.addresses.size %>)</h2>
          <% if @business.addresses.any? %>
            <div class="govuk-grid-row govuk-!-padding-bottom-4">
              <% @business.addresses.limit(2).each do |address| %>
                <div class="govuk-grid-column-one-half">
                  <h4 class="govuk-heading-s"><%= address.address_type %></h4>
                  <div><%= address.line_1 %></div>
                  <div><%= address.line_2 %></div>
                  <div><%= address.locality %></div>
                  <div><%= address.country %></div>
                  <div><%= address.postal_code %></div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p class="govuk-body">No locations.</p>
          <% end %>
          <%= link_to "Manage locations", business_addresses_path(@business), class: "govuk-link" %>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="cases">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Cases</h2>
          <%= render "investigations_summary", parent: @business %>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="history">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">History</h2>
          <%= render 'history', versions: @business.versions %>
        </div>
      </div>
    </div>
  </div>
</div>
