<h2 class="govuk-heading-l poison-centre__table-heading">Ingredients</h2>

<% notification.components.each do |component| %>
  <% if component.ingredients.any? || component.formulation_file.attached? %>
    <table class="govuk-table">
      <% if component.name.present? %>
        <caption class="govuk-table__caption govuk-heading-m"><%= component.name %></caption>
      <% end %>
  
      <% if component.ingredients.exact.any? %>
        <%= render "formulation_table", entities_list: component.ingredients.exact,
                key_name: :inci_name, value_name: :exact_concentration %>
      <% end %>
      <% if component.ingredients.range.any? %>
        <%= render "formulation_table", entities_list: component.ingredients.range,
                key_name: :inci_name, value_name: :range_concentration %>
      <% end %>
      <% if component.formulation_file.attached? %>
        <% if component.formulation_file.metadata["safe"] %>
          <%= link_to component.formulation_file.filename, url_for(component.formulation_file) %>
          <%= render("shared/pdf_size", file: component.formulation_file) %>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>
