<section id="product-table" class="govuk-!-margin-top-7">
  <h2 class="govuk-visually-hidden">The product</h2>
  <%= govukSummaryList(
    classes: "opss-summary-list-mixed",
    rows: [
      {
        key: { text: "Label" },
        value: { html: render("notifications/product_details_label_images", notification:) },
      },
      if notification.industry_reference.present?
        {
          key: { text: "Internal reference number" },
          value: { text: notification.industry_reference },
        }
      end,
      unless notification.under_three_years.nil?
        {
          key: { text: "For children under 3" },
          value: { text: notification.under_three_years ? "Yes" : "No" },
        }
      end,
      {
        key: { text: "Number of components" },
        value: { text: notification.components.length },
      },
      {
        key: { text: "Shades" },
        value: { html: display_shades(notification) },
      },
      if notification.cpnp_notification_date.present?
        {
          key: { text: "EU notification date" },
          value: { text: display_full_month_date(notification.cpnp_notification_date) },
        }
      end,
      {
        key: { text: "Are the components mixed?" },
        value: { text: notification.components_are_mixed ? "Yes" : "No" },
      },
      if can_view_product_ingredients? && notification.ph_min_value.present?
        {
          key: { text: "Minimum pH value" },
          value: { text: notification.ph_min_value },
        }
      end,
      if can_view_product_ingredients? && notification.ph_max_value.present?
        {
          key: { text: "Maximum pH value" },
          value: { text: notification.ph_max_value },
        }
      end,
    ].compact
  ) %>
</section>

<% notification.components.order(:id).each_with_index do |component, i| %>
  <%
    item_count = "Item #{i + 1}"
    component_title = if notification.is_multicomponent?
                        component.name.present? ? "#{item_count}: #{component.name}" : item_count
                      else
                        "Details"
                      end
  %>
  <section id="<%= component.name&.parameterize.presence || item_count.parameterize %>" class="govuk-!-margin-top-9 opss-grouping">
    <h3 class="govuk-heading-m opss-grouping__heading-m"><%= component_title %></h3>
      <%= govukSummaryList(
        classes: "opss-summary-list-mixed",
        rows: [
          {
            key: { text: "Shades" },
            value: { html: render("none_or_bullet_list", entities_list: component.shades, list_item_classes: "", list_classes: "") },
          },
        ].compact
      ) %>
      <%= render "notifications/component_details", component: component %>
  </section>
<% end %>
