<section id="product-table" class="govuk-!-margin-top-7">
  <h2 class="govuk-visually-hidden">The product</h2>
  <%= govuk_summary_list do |summary_list|
    summary_list.with_row do |row|
      row.with_key { "Label" }
      row.with_value { render("notifications/product_details_label_images", notification:) }
    end;
      if notification.industry_reference.present?
        summary_list.with_row do |row|
          row.with_key { "Internal reference number" }
          row.with_value { notification.industry_reference }
        end;
      end
      unless notification.under_three_years.nil?
        summary_list.with_row do |row|
          row.with_key { "For children under 3" }
          row.with_value { notification.under_three_years ? "Yes" : "No" }
        end;
      end

      summary_list.with_row do |row|
        row.with_key { "Number of components" }
        row.with_value { notification.components.length }
      end;

      summary_list.with_row do |row|
        row.with_key { "Shades" }
        row.with_value { display_shades(notification) }
      end;

      if notification.cpnp_notification_date.present?
        summary_list.with_row do |row|
          row.with_key { "EU notification date" }
          row.with_value { display_full_month_date(notification.cpnp_notification_date) }
        end;
      end

      summary_list.with_row do |row|
        row.with_key { "Are the components mixed?" }
        row.with_value { notification.components_are_mixed ? "Yes" : "No" }
      end;

      if can_view_product_ingredients? && notification.ph_min_value.present?
        summary_list.with_row do |row|
          row.with_key { "Minimum pH value" }
          row.with_value { notification.ph_min_value }
        end;
      end

      if can_view_product_ingredients? && notification.ph_max_value.present?
        summary_list.with_row do |row|
          row.with_key { "Maximum pH value" }
          row.with_value { notification.ph_max_value }
        end;
      end

  end %>
</section>

<% notification.components.order(:id).each_with_index do |component, i| %>
  <%
    item_count = "Item #{i + 1}"
    component_title = if notification.is_multicomponent?
                        component.name.present? ? "#{item_count}: #{component.name}" : item_count
                      else
                        "Details"
                      end
  %>
  <section id="<%= component.name&.parameterize.presence || item_count.parameterize %>" class="govuk-!-margin-top-9 opss-grouping">
    <h3 class="govuk-heading-m opss-grouping__heading-m"><%= component_title %></h3>
    <%= govuk_summary_list do |summary_list|
          summary_list.with_row do |row|
            row.with_key { "Shades" }
            row.with_value { render("none_or_bullet_list", entities_list: component.shades, list_item_classes: "", list_classes: "") }
          end;
    end %>
      <%= render "notifications/component_details", component: component %>
  </section>
<% end %>
