<% content_for :page_title, "Upload an image of the product label" %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: responsible_person_notifications_path(@responsible_person, anchor: "incomplete") %>
<% end %>

<%= form_with url: responsible_person_notification_product_image_upload_index_path, method: :post do |form| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <% if @error_list.present? %>
        <%= govukErrorSummary(titleText: "There is a problem", errorList: @error_list) %>
      <% end %>

      <h1 class="govuk-heading-xl">Upload an image of the product label</h1>

      <p>This can be an artwork file or a photo of the label.</p>

      <p>If you upload a photo text in the image must be legible.</p>

      <p>
        The file must be a ‘jpg’, ‘pdf’, or ‘png’ and no larger than <%= ImageUpload.max_file_size / 1.megabyte %> MB.
      </p>

      <div class="govuk-form-group <%= "govuk-form-group--error" if @error_list.present? %>">
        <%= form.label :image_upload, "Choose file", class: "govuk-label" %>

        <% if @error_list.present? %>
          <span class="govuk-error-message">
            <%= @error_list.first[:text] %>
          </span>
        <% end %>

        <%= form.file_field :image_upload, multiple: true, accept: ImageUpload.allowed_types.join(", "), class: "govuk-file-upload" %>

      </div>

      <div class="govuk-form-group">
        <%= govukButton text: "Continue" %>
      </div>

    </div>
  </div>
<% end %>
