<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a href="<%= frame_formulations_path %>" class="govuk-footer__link" target="_blank" rel="noreferrer noopener">Find a frame formulation<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a href="<%= how_to_notify_nanomaterials_path %>" class="govuk-footer__link" target="_blank" rel="noreferrer noopener">How to notify nanomaterials<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a href="<%= how_to_prepare_images_for_notification_path %>" class="govuk-footer__link" target="_blank" rel="noreferrer noopener">How to prepare images for notification<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a href="<%= how_to_set_up_authenticator_app_path %>" class="govuk-footer__link" target="_blank" rel="noreferrer noopener">Set up your authenticator app<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
          </li>
        </ul>
        <hr class="govuk-footer__section-break">
        <p class="govuk-body-s">Email <a href="mailto:opss.enquiries@beis.gov.uk?subject=Help requested on Submit Cosmetic Product Notifications" class="govuk-footer__link">opss.enquiries@beis.gov.uk</a> for help using this service.</p>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a href="<%= accessibility_statement_path %>" class="govuk-footer__link" target="_blank" rel="noreferrer noopener">Accessibility statement<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a href="<%= privacy_notice_path %>" class="govuk-footer__link" target="_blank" rel="noreferrer noopener">Privacy policy<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a href="<%= terms_and_conditions_path %>" class="govuk-footer__link" target="_blank" rel="noreferrer noopener">Terms and conditions<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a href="<%= cookies_policy_path %>" class="govuk-footer__link" target="_blank" rel="noreferrer noopener">Cookies<span class="govuk-visually-hidden"> (opens in new tab)</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
          target="_blank"
          rel="noreferrer noopener">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
