<head>
  <meta charset="utf-8">
  <title><%= yield :page_title %><% if content_for?(:page_title) %> - <% end %><%= @service_name %> - GOV.UK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="blue">
  <link rel="icon" sizes="48x48" href="<%= image_path("favicon.ico") %>">
  <link rel="icon" sizes="any" href="<%= image_path("favicon.svg") %>" type="image/svg+xml">
  <link rel="mask-icon" href="<%= image_path("govuk-icon-mask.svg") %>" color="blue">
  <link rel="apple-touch-icon" href="<%= image_path("govuk-icon-180.png") %>">
  <link rel="manifest" href="<%= image_path("manifest.json") %>">
  <meta property="og:image" content="<%= image_path("govuk-opengraph-image.png") %>">
  <%= javascript_include_tag "application", type: "module", nonce: true %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <% if true || Rails.env.production? %>
    <% if analytics_cookies_accepted? %>
      <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=UA-126364208-2", async: true, nonce: true %>
      <%= javascript_tag nonce: true do %>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-126364208-2');
      <% end %>
    <% end %>
  <% end %>
</head>
