<head>
  <% # Google Analytics %>
  <% if Rails.env.production? %>
    <%= javascript_tag src: "https://www.googletagmanager.com/gtag/js?id=UA-126364208-2", async: true, nonce: true do -%>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'UA-126364208-2');
    <% end -%>
  <% end %>
  <meta charset="utf-8" />
  <title><%= yield :page_title %><%= " - #{@service_name}" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="blue" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= asset_pack_path("media/images/favicon.ico") %>" />
  <link rel="mask-icon" color="#0b0c0c" href="<%= asset_pack_path("media/images/govuk-mask-icon.svg") %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_pack_path("media/images/govuk-apple-touch-icon-180x180.png") %>">
  <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_pack_path("media/images/govuk-apple-touch-icon-167x167.png") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_pack_path("media/images/govuk-apple-touch-icon-152x152.png") %>">
  <link rel="apple-touch-icon" href="<%= asset_pack_path("media/images/govuk-apple-touch-icon.png") %>">
  <!--[if !IE 8]><!-->
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  <!--<![endif]-->
  <!--[if lte IE 8]>
    <%= javascript_pack_tag "application-ie8" %>
    <%= stylesheet_pack_tag "application-ie8" %>
  <![endif]-->
  <%= csrf_meta_tags %>
  <meta property="og:image" content="<%= asset_pack_path("media/images/govuk-opengraph-image.png") %>">
</head>
