<!DOCTYPE html>
<html class="govuk-template app-html-class" lang="en">

  <%= render "layouts/head" %>

  <body class="govuk-template__body app-body-class">

    <%= render "layouts/header" %>

    <div class="govuk-width-container">
      <%= render "shared/phase_banner" %>
      <%= yield :after_header %>

      <% if alert.present? %>
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 id="error-summary-title" class="govuk-error-summary__title">
            <%= alert %>
          </h2>
        </div>
      <% end %>

      <% if notice %>
        <div class="govuk-inset-text" class="govuk-!-margin-0" tabindex="-1">
          <strong class="govuk-!-font-weight-bold">
            <%= notice %>
          </strong>
        </div>
      <% end %>

      <% if confirmation %>
        <%= render "components/hmcts_banner", text: confirmation, type: "success" %>
      <% end %>

      <main id="main-content" class="govuk-main-wrapper app-main-class" role="main">
        <%= yield %>
      </main>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
