<% content_for :page_title, "Ingredients list" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full opss-desktop-min-height--s">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      Ingredients list
    </h1>

    <p class="govuk-body opss-secondary-text">
      Ingredients listed in cosmetic product notifications (<span class="govuk-!-font-weight-bold opss-primary-text">submitted after 2 October 2022</span>)
      <a href="#october" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"><sup class="govuk-!-font-size-14">*</sup></a>.
    </p>
  </div>
</div>

<div class="govuk-grid-row opss-full-height">
  <section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">
    <a href="#ingredients" class="govuk-skip-link opss-skip-link">
      Skip to the main content
    </a>
    <nav aria-label="Secondary">
      <%= render 'poison_centres/shared/secondary_navigation' %>
    </nav>
  </section>
  <section class="govuk-grid-column-three-quarters" id="ingredients">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third opss-text-align-right">
        <div class="govuk-form-group opss-text-align-right">
          <form id="new_notification_search_form_sort" novalidate="novalidate" action="#" accept-charset="UTF-8" method="get">
            <label class="govuk-label govuk-body-s" for="notification_search_form_sort_by">
              Order by
            </label>

            <select class="govuk-select govuk-!-margin-bottom-1" name="sort_by" id="notification_search_form_sort_by">
              <%= ingredient_search_option("A - Z", "name_asc") %>
              <%= ingredient_search_option("Z - A", "name_desc") %>
              <%= ingredient_search_option("Newly added", "date") %>
            </select>

            <button class="govuk-button opss-js-enabled-hidden">
              Order
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body-s">
          There are currently <%= @ingredients.total_count %> different ingredients listed in cosmetic product notifications
          <br class="opss-br-desktop">(submitted after 2 October 2022).
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" role="region" aria-label="Search results">
        <div class="govuk-!-margin-top-5 opss-2-col-flow">
          <ul class="govuk-list govuk-list--bullet">
            <% @ingredients.each_with_index do |ingredient, index| %>
              <li>
                <%= link_to ingredient.inci_name,
                  poison_centre_ingredients_search_path(ingredient_search_form: { q: ingredient.inci_name }),
                  class: "govuk-link govuk-link--no-visited-state", target: :blank %>
              </li>
            <% end %>
          </ul>
        </div>
        <%= paginate @ingredients, views_prefix: "pagination", nav_class: "opss-pagination-link--no-top-border" %>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p id="october" class="govuk-body govuk-!-font-size-14 govuk-!-margin-top-9 govuk-!-margin-bottom-0 opss-secondary-text opss-text-align-right">
            <sup>*</sup>Notifications submitted before 3 October 2022 are not searchable for ingredients.
        </p>
      </div>
    </div>
  </section>
</div>
