<section class="govuk-grid-column-three-quarters" id="search-results-section">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><span id="opss-qty"><%= pluralize(search_response.results.total, 'notification') %></span> <%= display_keywords %> <%= display_filters_informations %> <%= search_response.results.total == 1 ? "was found." : "were found." %></p>
    </div>


    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group opss-text-align-right">
        <%= render partial: 'sort_form' %>
      </div>
    </div>
  </div>

  <% if results.present? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" role="region" aria-label="search-results-list" id="results-order" aria-live="polite">
        <table id="table-items" class="govuk-table govuk-!-margin-top-5 opss-table-items opss-table-items--sm opss-table-items--first-col-33">
          <caption class="govuk-visually-hidden">
            Search results. Each notification is described across 2 rows within its own table body.
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-visually-hidden">&nbsp;</th>
              <th id="uknotified" scope="col" class="govuk-table__header"><abbr>UK</abbr> notified</th>
              <th id="ukcosprodnumber" scope="col" class="govuk-table__header"><abbr>UK</abbr> cosmetic product number</th>
              <th id="eurefnumber" scope="col" class="govuk-table__header"><abbr>EU</abbr> reference number</th>
            </tr>
          </thead>
          <% results.each.with_index(1) do |notification, index| %>
            <%= render "poison_centres/notifications_search/result_row", notification: notification, index: index, form: :notification_search_form, back_to: PoisonCentresNotificationsHelper::NOTIFICATIONS_SEARCH %>
          <% end %>
          <% if results.size > 11 %>
            <tfoot class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-visually-hidden">&nbsp;</th>
                <th scope="col" class="govuk-table__header"><abbr>UK</abbr> notified</th>
                <th scope="col" class="govuk-table__header"><abbr>UK</abbr> cosmetic product number</th>
                <th scope="col" class="govuk-table__header"><abbr>EU</abbr> reference number</th>
              </tr>
            </tfoot>
          <% end %>
        </table>
        <%= paginate search_response, views_prefix: "pagination", nav_class: "opss-pagination-link--no-top-border" %>
      </div>
    </div>
  <% else %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" role="region" aria-label="search-results-list" id="results-order" aria-live="polite">
        <p class="govuk-body govuk-visually-hidden">No results</p>
      </div>
    </div>
  <% end %>
</section>
