<%= form_for(@search_form, url: poison_centre_notifications_search_path, method: :get, html: { 'novalidate' => true }) do |form| %>
  <div class="govuk-grid-column-full">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="notification_search_form_q">
        Search cosmetic products
      </label>
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters opss-desktop-min-height--m">
        <div id="search-hint" class="govuk-hint">
          Use one or more keywords to search for product notifications.
        </div>
        <div class="govuk-form-group">
          <div class="govuk-input__wrapper opss-search__wrapper">
            <%= form.search_field :q, class: "govuk-input govuk-!-width-three-quarters", 'aria-describedby' => "search-hint" %>
            <button class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
              <span class="govuk-visually-hidden">Search</span>
            </button>
          </div>
          <% if PoisonCentres::NotificationsSearchController::ADVANCED_SEARCH_USER_ROLES.include? current_user.role %>
            <%= govukRadios(
              form: form,
              key: :search_fields,
              idPrefix: "search-by",
              fieldset: { legend: { text: "Advanced search options", classes: "govuk-visually-hidden" } },
              classes: "govuk-radios--inline govuk-radios--small",
              formGroup: { classes: "govuk-!-margin-bottom-0" },
              items: [
                {
                  value: OpenSearchQuery::Notification::SEARCH_NOTIFICATION_NAME_FIELD,
                  text: 'Notification name',
                  label: { classes: 'govuk-!-font-size-16' }
                },
                {
                  value: OpenSearchQuery::Notification::SEARCH_RESPONSIBLE_PERSON_FIELDS,
                  text: "Responsible Person name&sol;address".html_safe,
                  label: { classes: 'govuk-!-font-size-16' }
                },
                {
                  value: OpenSearchQuery::Notification::SEARCH_ALL_FIELDS,
                  text: 'Both',
                  label: { classes: 'govuk-!-font-size-16' }
                },
              ],
            ) %>
            <%= govukCheckboxes(
              form: form,
              key: :match_similar,
              classes: "govuk-checkboxes--small",
              items: [{ key: 'match_similar', text: 'Include similar words', disable_ghost: true, label: { classes: 'govuk-!-font-size-16' } }],
            ) %>
          <% end %>
          <%= form.hidden_field :category, id: 'notification_search_form_category_hidden' %>
          <%= render partial: 'hidden_date_fields', locals: { attribute: :date_exact, id: :keyword_form, search_type: 'notification' } %>
          <%= render partial: 'hidden_date_fields', locals: { attribute: :date_from, id: :keyword_form, search_type: 'notification' } %>
          <%= render partial: 'hidden_date_fields', locals: { attribute: :date_to, id: :keyword_form, search_type: 'notification' } %>
          <%= form.hidden_field :date_filter, id: 'notification_search_form_date_filter_hidden' %>
          <%= form.hidden_field :sort_by, id: 'notification_search_form_sort_by_hidden' %>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              About keywords search
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body govuk-!-font-size-14">
            Target keyword searches by searching on:
            </p>

            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-14">
              <li>
                A notification name
              </li>
              <li>
                A Responsible Person name or their address (or parts of their address)
              </li>
              <li>
                And include close matches with similar words.
              </li>
            </ul>

          </div>
        </details>

      </div>
    </div>
  </div>
<% end %>
