<%= form_for(@search_form, url: poison_centre_notifications_search_path, method: :get, html: { 'novalidate' => true }) do |form| %>
  <div class="govuk-form-group govuk-!-padding-botton-2">
    <%= form.label :q, 'Search', class: 'govuk-label' %>
    <div class="govuk-input__wrapper opss-search__wrapper">
      <%= form.search_field :q, class: "govuk-input govuk-!-width-full", 'aria-describedby' => "search-hint" %>
      <%= form.hidden_field :category, id: 'notification_search_form_category_hidden' %>
      <%= render partial: 'hidden_date_fields', locals: { attribute: :date_exact, id: :keyword_form, search_type: 'notification' } %>
      <%= render partial: 'hidden_date_fields', locals: { attribute: :date_from, id: :keyword_form, search_type: 'notification' } %>
      <%= render partial: 'hidden_date_fields', locals: { attribute: :date_to, id: :keyword_form, search_type: 'notification' } %>
      <%= form.hidden_field :date_filter, id: 'notification_search_form_date_filter_hidden' %>
      <%= form.hidden_field :sort_by, id: 'notification_search_form_sort_by_hidden' %>
      <%= form.hidden_field :search_fields, id: 'notification_search_form_search_fields_hidden' %>
      <%= form.hidden_field :match_similar, id: 'notification_search_form_match_similar_hidden' %>
      <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
        <span class="govuk-visually-hidden">Search</span>
      </button>
    </div>
  </div>
<% end %>
