<%= form_for(@search_form, url: poison_centre_notifications_search_path, method: :get, html: { novalidate: true , id: 'new_notification_search_form_sort' }) do |form| %>
  <label class="govuk-label govuk-body-s" for="notification_search_form_sort_by">
    Sort by
  </label>
  <%= form.select :sort_by, options_for_select(@search_form.sorting_options, @search_form.sort_by), {}, class: "govuk-select govuk-!-margin-bottom-1" %>
  <button class="govuk-button opss-js-enabled-hidden" data-module="govuk-button">
    Sort
  </button>
  <%= form.hidden_field :q, id: :notification_search_form_q_sort_hidden %>
  <%= form.hidden_field :category, id: 'notification_search_form_category_sort_hidden' %>
  <%= render partial: 'hidden_date_fields', locals: { attribute: :date_exact, id: :sort_form, search_type: 'notification' } %>
  <%= render partial: 'hidden_date_fields', locals: { attribute: :date_from, id: :sort_form, search_type: 'notification' } %>
  <%= render partial: 'hidden_date_fields', locals: { attribute: :date_to, id: :sort_form, search_type: 'notification' } %>
  <%= form.hidden_field :date_filter, id: 'notification_search_form_date_filter_sort_hidden' %>
<% end %>
