<% page_title "New contact person", errors: @contact_person.errors.any? %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: account_path(:select_type) %>
<% end %>

<%= form_with model: @contact_person, url: responsible_person_contact_persons_path(@responsible_person), html: { novalidate: true }, method: :post do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= error_summary_for(@contact_person) %>

      <h1 class="govuk-heading-l">Contact person for <%= @responsible_person.name %></h1>

      <p>A contact person must provide information when the National Poisons Information Service (NPIS) or market surveillance authorities (for example, Trading Standards officers) ask for it.</p>

      <%= render "form_components/govuk_input", form: form, key: :name,
            label: { text: "Full name" } %>

      <%= render "form_components/govuk_input", form: form, key: :email_address, type: :email,
            label: { text: "Email address" } %>

      <%= render "form_components/govuk_input", form: form, key: :phone_number, type: :tel,
            label: { text: "Phone number" }, classes: "govuk-input--width-20" %>

      <div class="govuk-form-group">
        <%= govukButton text: "Save and continue" %>
      </div>
    </div>
  </div>
<% end %>
