<%= paginator.render do %>
  <nav class="opss-pagination-link <%= nav_class %>">
    <ul>
      <%= prev_page_tag %>
      <li class="opss-pagination-link__wrap opss-pagination-link--text govuk-body">
        Page <%= current_page %>
      </li>
      <%= next_page_tag %>
    </ul>
  </nav>
<% end %>
