<% title = "Add physical form" %>
<% question = "What is the physical form of the #{@component_name}?" %>
<% items = Component.physical_forms.map { |key, value|
            { text: get_physical_form_name(key), value: value, checked: @component.physical_form == key }
          } %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<%= form_with model: @component, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "form_components/govuk_error_summary", form: form %>
      <%= render "form_components/govuk_radios", form: form, key: :physical_form,
              fieldset: { legend: { text: question, classes: "govuk-fieldset__legend--xl", isPageHeading: true } },
              items: items %>
      <%= govukButton text: "Continue" %>

    </div>
  </div>
<% end %>
