<% title = "List nanomaterials" %>
<% question = "List the nanomaterials in #{@component_name}" %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<%= form_with(model: @nano_material, url: wizard_path, method: :put) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= error_summary_for(@nano_material, first_values: {nano_elements: "attributes_0_inci_name"}) %>
      <%= render "components/govuk_fieldset",
              legend: { text: question, classes: "govuk-fieldset__legend--xl", isPageHeading: true } %>
      <%= form.fields_for :nano_elements do |nano_element_form| %>
        <%= render "form_components/govuk_input", form: nano_element_form, key: :inci_name, label: { text: "INCI name" } %>
      <% end %>
      <%= govukButton text: "Continue" %>

    </div>
  </div>
<% end %>
