<% content_for :page_title, "Contains an applicator" %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<% title = "What type of applicator?" %>
<% other_text = "Type of applicator" %>

<%= form_with model: @component, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= render "form_components/govuk_error_summary", form: form %>
      <% other_text_field = capture do %>
        <%= render "form_components/govuk_input", form: form,
                key: :other_special_applicator, label: { text: other_text } %>
      <% end %>

      <%  items = NotificationPropertiesHelper::SPECIAL_APPLICATOR.keys.map { |applicator|
          { text: get_special_applicator_name(applicator),
            value: applicator,
            conditional: ({ html: other_text_field } if applicator == :other_special_applicator) }
        }.compact %>

      <%= render "form_components/govuk_radios", form: form, key: :special_applicator,
            fieldset: { legend: { text: title, classes: "govuk-label--xl", isPageHeading: true } },
            items: items %>
      <%= govukButton text: "Continue" %>

    </div>
  </div>
<% end %>
