<% title = @component.predefined? ? "Upload list of poisonous ingredients" : "Upload list of ingredients" %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<%= form_with model: @component, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl"><%= title %></h1>

      <%= render "form_components/govuk_error_summary", form: form %>
      <div class="govuk-form-group">
        <%= form.label :formulation_file, "The file type must be a PDF", class: "govuk-label" %>
        <%= form.file_field :formulation_file, class: "govuk-file-upload",
                accept: Component.allowed_types.join(",") %>

      </div>
      <%= govukButton text: "Continue" %>

    </div>
  </div>
<% end %>
