<% title = "Add a Responsible Person" %>
<% page_title(title, errors: @responsible_persons_details_form.errors.any?) %>

<% content_for :after_header do %>
  <% back_path =  if current_user.responsible_persons.none?
                    wizard_path(:create_or_join_existing)
                  elsif current_user.responsible_persons.one?
                    responsible_person_path(current_user.responsible_persons.first)
                  else
                    select_responsible_persons_path
                  end
  %>
  <%= link_to "Back", back_path, class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= error_summary(@responsible_persons_details_form.errors,
                      %i[account_type name address_line_1 address_line_2 city county postal_code],
                      map_errors: { account_type: "account_type_business" }) %>

    <h1 class="govuk-heading-l"><%= title %></h1>


    <%= govukDetails(summaryHtml: "Help with the <abbr>UK</abbr> Responsible Person details".html_safe, classes: "govuk-!-margin-top-4") do %>
      <p class="govuk-body">
          A Responsible Person can be a business - in the law this is called a 'legal person'.
          Or a Responsible Person can be a living person - in the law this is called a 'natural person'.
      </p>
      <p class="govuk-body">
          The Responsible Person - the legal person or natural person - is a legal entity that must be established in the <abbr>UK</abbr>.
          The address provided must be that of the legal entity named as the Responsible Person.
          The Responsible Person must provide a <abbr>UK</abbr> address, which cannot be a <abbr title="Post Office">PO</abbr> box or mail forwarding address.
      </p>
      <p class="govuk-body">
          A Responsible Person is legally bound by the obligations in the Cosmetics Regulation.
      </p>
      <p class="govuk-body">
        The Responsible Person is the individual or company responsible for ensuring the regulations are followed.
        Every cosmetic product placed on the <abbr>GB</abbr> market must have a Responsible Person.
        You must ensure your Responsible Person contact information remains up to date on both the SCPN service, as well as on your products placed on the market.
      </p>
    <% end %>

    <%= govukWarningText(
      iconFallbackText: "Warning",
      classes: "govuk-!-margin-top-4",
      html: "The <abbr>UK</abbr> address provided must not be a <abbr>PO</abbr> box or mail forwarding address. These are not <abbr>UK</abbr> established addresses that comply with the regulation.".html_safe
    )%>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= form_for(@responsible_persons_details_form, url: wizard_path, method: :put, html: { novalidate: true }) do |form| %>
      <%= govukRadios(
            form: form,
            key: :account_type,
            fieldset: { legend: { html: "Is the <abbr>UK</abbr> Responsible Person a business or an individual?".html_safe,
                        classes: "govuk-fieldset__legend--s" } },
            items: [
              { html: "Limited company or Limited Liability Partnership (<abbr>LLP</abbr>)".html_safe,
                id: "account_type_business",
                value: :business },
              { text: "Individual or sole trader",
                id: "account_type_individual",
                value: :individual },
            ],
          ) %>

      <%= govukInput(
            form: form,
            key: :name,
            id: "name",
            classes: "govuk-input govuk-!-width-three-quarters",
            label: { text: "Name", classes: "govuk-label--s" },
            hint: { text: "The name of the business, individual or sole trader named as the legal entity of Responsible Person." },
          ) %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h2 class="govuk-fieldset__heading">
            Address
          </h2>
        </legend>
        <div id="address-hint" class="govuk-hint">
          The address of the legal entity named as the Responsible Person.
        </div>

        <%= govukInput(
              form: form,
              key: :address_line_1,
              id: "address_line_1",
              classes: "govuk-input govuk-!-width-three-quarters",
              formGroup: { classes: "govuk-!-margin-bottom-5" },
              described_by: "address-hint",
              label: { html: "Building and street <span class='govuk-visually-hidden'>line 1 of 2</span>".html_safe },
            ) %>

        <%= govukInput(
              form: form,
              key: :address_line_2,
              id: "address_line_2",
              classes: "govuk-input govuk-!-width-three-quarters",
              label: { html: "<span class='govuk-visually-hidden'>Building and street line 2 of 2</span>".html_safe },
            ) %>

        <%= govukInput(form: form, key: :city, id: "city", classes: "govuk-input govuk-!-width-three-quarters", label: { text: "Town or city" }) %>
        <%= govukInput(form: form, key: :county, id: "county", classes: "govuk-input govuk-!-width-three-quarters", label: { text: "County" }) %>
        <%= govukInput(form: form, key: :postal_code, id: "postal_code", label: { text: "Postcode" }, classes: "govuk-input govuk-!-width-one-quarter") %>

        <div class="govuk-form-group">
          <%= govukButton text: "Save and continue" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
