<% title = "Add a Responsible Person" %>
<% page_title(title, errors: @responsible_persons_details_form.errors.any?) %>

<% content_for :after_header do %>
  <% default_back_path =  if current_user.responsible_persons.none?
                            wizard_path(:create_or_join_existing)
                          elsif current_responsible_person.present?
                            responsible_person_path(current_responsible_person)
                          else
                            select_responsible_persons_path
                          end
  %>
  <%= link_to "Back", request.referer.presence || default_back_path, class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= error_summary(@responsible_persons_details_form.errors,
                      %i[account_type name address_line_1 address_line_2 city county postal_code],
                      map_errors: { account_type: "account_type_business" }) %>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-2"><%= title %></h1>

    <%= govukDetails(summaryHtml: "Help with the <abbr>UK</abbr> Responsible Person details".html_safe, classes: "opss-details--sm govuk-!-margin-top-4") do %>
      <p class="govuk-body-s">
          A Responsible Person can be a business - in the law this is called a 'legal person'.
          Or a Responsible Person can be a living person - in the law this is called a 'natural person'.
      </p>
      <p class="govuk-body-s">
          The Responsible Person - the legal person or natural person - is a legal entity that must be established in the <abbr>UK</abbr>.
          The address provided must be that of the legal entity named as the Responsible Person.
          The Responsible Person must provide a <abbr>UK</abbr> address, which cannot be a <abbr title="Post Office">PO</abbr> box or mail forwarding address.
      </p>
      <p class="govuk-body-s">
          A Responsible Person is legally bound by the obligations in the Cosmetics Regulation.
      </p>
    <% end %>

    <%= govukWarningText(
      iconFallbackText: "Warning",
      classes: "govuk-!-margin-top-4 govuk-!-margin-bottom-6",
      html: "The <abbr>UK</abbr> address provided must not be a <abbr>PO</abbr> box or mail forwarding address. These are not <abbr>UK</abbr> established addresses that comply with the regulation.".html_safe
    )%>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(@responsible_persons_details_form, url: wizard_path, method: :put, html: { novalidate: true }) do |form| %>
      <%= render("form_components/govuk_radios",
                 form: form,
                 key: :account_type,
                 formGroup: { classes: "govuk-!-margin-top-6" },
                 fieldset: { legend: { html: "Is the <abbr>UK</abbr> Responsible Person a business or an individual?".html_safe,
                             classes: "govuk-fieldset__legend--s" } },
                 classes: "govuk-radios--small",
                 items: [
                   { html: "Limited company or Limited Liability Partnership (<abbr>LLP</abbr>)".html_safe,
                     id: "account_type_business",
                     value: :business,
                     label: { classes: "govuk-!-padding-bottom-0" } },
                   { text: "Individual or sole trader",
                     id: "account_type_individual",
                     value: :individual,
                     label: { classes: "govuk-!-padding-bottom-0" } },
                 ]) %>

      <%= render("form_components/govuk_input",
                 form: form,
                 key: :name,
                 id: "name",
                 classes: "govuk-input govuk-!-width-two-thirds",
                 label: { text: "Name", classes: "govuk-label--s" },
                 hint: { text: "The name of the business, individual or sole trader named as the legal entity of Responsible Person.",
                         classes: "govuk-!-font-size-16 govuk-!-width-three-quarters" }) %>
      <fieldset class="govuk-fieldset ">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h2 class="govuk-fieldset__heading">
            Address
          </h2>
        </legend>
        <div id="address-hint" class="govuk-hint govuk-!-font-size-16 govuk-!-margin-bottom-6 govuk-!-width-three-quarters">
          The address of the legal entity named as the Responsible Person.
        </div>

        <%= render("form_components/govuk_input",
                   form: form,
                   key: :address_line_1,
                   id: "address_line_1",
                   classes: "govuk-!-width-three-quarters",
                   formGroup: { classes: "govuk-!-margin-bottom-5" },
                   described_by: "address-hint",
                   label: { html: "Building and street <span class='govuk-visually-hidden'>line 1 of 2</span>".html_safe }) %>

        <%= render("form_components/govuk_input",
                   form: form,
                   key: :address_line_2,
                   id: "address_line_2",
                   classes: "govuk-!-width-three-quarters",
                   label: { html: "<span class='govuk-visually-hidden'>Building and street line 2 of 2</span>".html_safe }) %>

        <%= render "form_components/govuk_input", form: form, key: :city, id: "city", classes: "govuk-input govuk-!-width-two-thirds", label: { text: "Town or city" } %>
        <%= render "form_components/govuk_input", form: form, key: :county, id: "county", classes: "govuk-input govuk-!-width-two-thirds", label: { text: "County" } %>
        <%= render "form_components/govuk_input", form: form, key: :postal_code, id: "postal_code", label: { text: "Postcode" }, classes: "govuk-input--width-10" %>

        <div class="govuk-form-group">
          <%= govukButton text: "Save and continue" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
