<% title = "Who do you want to submit cosmetic product notifications for?" %>
<% page_title(title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= title %></h1>
    <% @pending_invitations.each do |invitation| %>
      <p>
        <span class="no-wrap"><strong><%= invitation.responsible_person.name %></strong></span>
        <br>
        <% if invitation.expired? %>
          Your invite has expired and needs to be resent. You were invited by
          <span class="no-wrap">
            <%= invitation.inviting_user.name + "." %>
          </span>
        <% else %>
          Check your email inbox for your invite, sent
          <span class="no-wrap">
            <%= display_full_month_date(invitation.created_at) + "." %>
          </span>
        <% end %>
      </p>
    <% end %>
    <p>or</p>
    <p>
      another organisation —
      <%= link_to("create a new Responsible Person", account_path(:select_type), class: "govuk-link govuk-link--no-visited-state") %>.
    </p>
  </div>
</div>
