<% content_for :page_title, "Responsible person type" %>
<% content_for :after_header do %>
  <%= link_to "Back", wizard_path(:create_or_join_existing), class: "govuk-back-link" %>
  <% if current_user.responsible_persons.none? %>
    <%= link_to "Back", wizard_path(:create_or_join_existing), class: "govuk-back-link" %>
  <% end %>
<% end %>

<%= form_with model: @responsible_person, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% heading = capture do %>
        <h1 class="govuk-heading-xl">Is the UK Responsible Person a business or an individual?</h1>
      <% end %>
      <%= error_summary_for(@responsible_person, first_values: {account_type: "business"}) %>
      <%= render "form_components/govuk_radios", form: form, key: :account_type,
              fieldset: { legend: { html: heading } },
              items: [{ text: "Limited company or Limited Liability Partnership (LLP)", value: :business },
                      { text: "Individual or sole trader", value: :individual }] %>
      <div class="govuk-form-group">
        <%= govukButton text: "Continue" %>
      </div>
    </div>
  </div>
<% end %>
