<% content_for :page_title, "Responsible person type" %>
<% content_for :after_header do %>
  <% default_back_path =  if current_user.responsible_persons.none?
                            wizard_path(:create_or_join_existing)
                          elsif current_responsible_person.present?
                            responsible_person_path(current_responsible_person)
                          else
                            select_responsible_persons_path
                          end
  %>
  <%= link_to "Back", request.referer.present? ? request.referer : default_back_path, class: "govuk-back-link" %>
<% end %>

<%= form_with model: @responsible_person, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% heading = capture do %>
        <h1 class="govuk-heading-l">Is the UK Responsible Person a business or an individual?</h1>
      <% end %>
      <%= error_summary_for(@responsible_person, first_values: {account_type: "business"}) %>
      <%= render "form_components/govuk_radios", form: form, key: :account_type,
              fieldset: { legend: { html: heading } },
              items: [{ text: "Limited company or Limited Liability Partnership (LLP)", value: :business },
                      { text: "Individual or sole trader", value: :individual }] %>
      <div class="govuk-form-group">
        <%= govukButton text: "Continue" %>
      </div>
    </div>
  </div>
<% end %>
