<%= form_with(model: investigation, local: true) do |form| %>
  <% if investigation.errors.any? %>
    <div id="error_explanation">
      <h2 class="heading-large"><%= pluralize(investigation.errors.count, "error") %> prohibited this investigation from being saved:</h2>

      <ul>
      <% investigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description, :class => "form-label" %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <div class="multiple-choice">
      <%= form.check_box :is_closed %>
      <%= form.label :is_closed, "Is closed?", :class => "form-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :source, :class => "form-label" %>
    <%= form.text_field :source, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :severity, :class => "form-label" %>
    <%= form.number_field :severity, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.fields_for :investigation_products do |investigation_product| %>
      <%= render "investigation_product_fields", f: investigation_product %>
    <% end %>
    <%= link_to_add_association "Add product", form, :investigation_products, :class => "button" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", :class => "button" %>
  </div>
<% end %>
