<%= form_with(model: investigation, local: true) do |form| %>
  <% if investigation.errors.any? %>
    <div id="error_explanation">
      <h2 class="heading-large"><%= pluralize(investigation.errors.count, "error") %> prohibited this investigation from being saved:</h2>

      <ul>
      <% investigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, :class => "form-label" %>
    <%= form.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, :class => "form-label" %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :risk_notes, :class => "form-label" %>
    <%= form.text_area :risk_notes, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, :class => "form-label" %>
    <%= form.file_field :image, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :product_ids, "Products", :class => "form-label" %>
    <%= form.select :product_ids,
      investigation.products.collect {|p| ["#{p.name} - #{p.brand}", p.id]},
      {},
      {:multiple => true, :class => "js-investigation-products form-control" }
    %>
  </div>

  <div class="form-group">
    <%= form.label :business_ids, "Businesses", :class => "form-label" %>
    <%= form.select :business_ids,
      investigation.businesses.collect {|p| [p.company_name, p.id]},
      {},
      {:multiple => true, :class => "js-investigation-businesses form-control" }
    %>
  </div>

  <div class="form-group">
    <%= form.submit "Save investigation", :class => "button" %>
  </div>
<% end %>
