<%= form_with(model: investigation, local: true) do |form| %>
  <% if investigation.errors.any? %>
    <div id="error_explanation">
      <h2 class="govuk-heading-l"><%= pluralize(investigation.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul class="govuk-list">
        <% investigation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="govuk-form-group">
    <%= form.label :title, :class => "govuk-label" %>
    <span id="title-format-hint" class="govuk-hint">
      For example, "Brand Name, Model Name, Type – Risk", <br/>
      e.g. "Charge Works, Travel plug adaptor – Fire hazard"
    </span>
    <%= form.text_field :title, :class => "govuk-input" %>
  </div>

  <div class="govuk-form-group">
    <%= form.label :risk_overview, :class => "govuk-label" %>
    <%= form.text_field :risk_overview, :class => "govuk-input" %>
  </div>

  <div class="govuk-form-group">
    <%= form.label :description, "Risk description", :class => "govuk-label" %>
    <%= form.text_area :description, :class => "govuk-textarea" %>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend"><h4 class="govuk-label">Risk level</h4></legend>
      <div class="govuk-radios">
        <% Investigation.risk_levels.each do |(level, _)| %>
          <div class="govuk-radios__item">
            <%= form.radio_button :risk_level, level, class: "govuk-radios__input" %>
            <%= form.label :risk_level, level.titleize, class: "govuk-label govuk-radios__label" %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend"><h4 class="govuk-label">Sensitivity</h4></legend>
      <div class="govuk-radios">
        <% Investigation.sensitivities.each do |(sensitivity, _)| %>
          <div class="govuk-radios__item">
            <%= form.radio_button :sensitivity, sensitivity, class: "govuk-radios__input" %>
            <%= form.label :sensitivity, sensitivity.titleize, class: "govuk-label govuk-radios__label" %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <%= form.submit "Save", :class => "govuk-button" %>
  </div>
<% end %>
