<%= form_with(model: investigation, local: true) do |form| %>
  <% if investigation.errors.any? %>
    <div id="error_explanation">
      <h2 class="heading-large"><%= pluralize(investigation.errors.count, "error") %> prohibited this investigation from being saved:</h2>

      <ul>
      <% investigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, :class => "form-label" %>
    <%= form.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :risk_notes, :class => "form-label" %>
    <%= form.text_field :risk_notes, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, :class => "form-label" %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Save investigation", :class => "govuk-button" %>
  </div>
<% end %>
