<%= form_with(model: investigation, local: true) do |form| %>
  <% if investigation.errors.any? %>
    <div id="error_explanation">
      <h2 class="heading-large"><%= pluralize(investigation.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% investigation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, :class => "form-label" %>
    <span id="title-format-hint" class="govuk-hint">
      For example, "Brand Name, Model Name, Type – Risk", <br/>
      e.g. "Charge Works, Travel plug adaptor – Fire hazard"
    </span>
    <%= form.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :risk_overview, :class => "form-label" %>
    <%= form.text_field :risk_overview, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Risk description", :class => "form-label" %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <fieldset>
      <legend><h4 class="form-label">Risk level</h4></legend>
      <% Investigation.risk_levels.each do |(level, _)| %>
        <div class="multiple-choice">
          <%= form.radio_button :risk_level, level %>
          <%= form.label :risk_level, level.titleize %>
        </div>
      <% end %>
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset>
      <legend><h4 class="form-label">Sensitivity</h4></legend>
      <% Investigation.sensitivities.each do |(sensitivity, _)| %>
        <div class="multiple-choice">
          <%= form.radio_button :sensitivity, sensitivity %>
          <%= form.label :sensitivity, sensitivity.titleize %>
        </div>
      <% end %>
    </fieldset>
  </div>

  <div class="form-group">
    <%= form.submit "Save", :class => "govuk-button" %>
  </div>
<% end %>
