<table class="govuk-table investigation-list govuk-!-margin-bottom-3">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">Case</th>
    <th class="govuk-table__header" scope="col">Status</th>
    <th class="govuk-table__header" scope="col">Risk</th>
    <th class="govuk-table__header" scope="col">Assigned</th>
    <th class="govuk-table__header" scope="col">Last update</th>
  </tr>
  </thead>

  <tbody class="govuk-table__body">
  <% @investigations.each do |investigation| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <%= link_to investigation do %>
          <span class="govuk-!-font-size-16"><%= investigation.id %></span><br />
          <%= investigation.title %>
        <% end %>
      </td>
      <td class="govuk-table__cell">
        <span><%= investigation.status %></span>
      </td>
      <td class="govuk-table__cell">
        <span><%= investigation.risk_overview %></span>
      </td>
      <td class="govuk-table__cell"><%= investigation.assignee ? investigation.assignee.email : "" %></td>
      <td class="govuk-table__cell govuk-!-font-weight-bold"><%= investigation.updated_at.strftime("%d/%m/%Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
