<table class="investigation-list govuk-!-margin-bottom-3">
  <thead>
  <tr>
    <th>Case</th>
    <th>Status</th>
    <th>Risk</th>
    <th>Assigned</th>
    <th>Last update</th>
  </tr>
  </thead>

  <tbody>
  <% @investigations.each do |investigation| %>
    <tr>
      <td>
        <%= link_to investigation, class: "govuk-link" do %>
          <span class="govuk-!-font-size-16"><%= investigation.id %></span><br />
          <%= investigation.title %>
        <% end %>
      </td>
      <td>
        <span><%= investigation.status %></span>
      </td>
      <td>
        <span><%= investigation.risk_overview %></span>
      </td>
      <td><%= investigation.assignee ? investigation.assignee.email : "" %></td>
      <td class="govuk-!-font-weight-bold"><%= investigation.updated_at.strftime("%d/%m/%Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
