<table class="investigation-list">
  <thead>
  <tr>
    <th><%= sortable "title", "Title" %></th>
    <th>Product</th>
    <th><%= sortable "is_closed", "Status" %></th>
    <th><%= sortable "updated_at", "Last updated" %></th>
    <th><%= sortable "users.email", "Assigned to" %></th>
  </tr>
  </thead>

  <tbody>
  <% @investigations.each do |investigation| %>
    <tr>
      <td><%= link_to investigation.title, investigation, class: "govuk-link"%></td>
      <td>
        <span><%= investigation.products.first ? investigation.products.first.name : "" %></span>
        <span><%= investigation.products.first ? investigation.products.first.brand : "" %></span>
      </td>
      <td>
        <span><%= investigation.is_closed? ? "Closed" : "Open" %></span>
        <span class="not-implemented">Progress</span>
      </td>
      <td><%= investigation.updated_at.strftime("%d %B %Y") %></td>
      <td><%= investigation.assignee ? investigation.assignee.email : "" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
