<% content_for :page_title, "Investigations - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Investigations', investigations_path %>
        </li>
    </ol>
</div>


<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/pages/example">
        Issues
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/investigations" aria-selected="true">
        Investigations
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/businesses">
        Businesses
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/products">
        Products
      </a>
    </li>
  </ul>
</div>

<% if @current_user %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body govuk-!-font-size-48 govuk-grid-column-one-quarter" style="text-align:right">
        <%= @investigations.where(assignee: @current_user).count %>
      </div>
      <div class="govuk-grid-column-half">
        Investigations assigned to you >
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body govuk-!-font-size-48 govuk-grid-column-one-quarter" style="text-align:right">
        <%= @investigations.where(assignee: @current_user).count %>
      </div>
      <div class="govuk-grid-column-half">
        Overdue actions >
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body govuk-!-font-size-48 govuk-grid-column-one-quarter" style="text-align:right">
        <%= @investigations.where(assignee: @current_user).count %>
      </div>
      <div class="govuk-grid-column-half">
        Actions due soon >
      </div>
    </div>
  </div>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <%= link_to 'Create investigation', new_investigation_path, :class => "button" %><br /><br />
  </div>
</div>

<%= will_paginate @investigations %>
<br />
<table>
  <thead>
    <tr>
      <th>Case ID</th>
      <th>Product</th>
      <th>Status</th>
      <th>Last updated</th>
      <th>Assigned to</th>
    </tr>
  </thead>

  <tbody>
    <% @investigations.each do |investigation| %>
      <tr>
        <td><%= link_to investigation.title, investigation, class: "govuk-link"%></td>
        <td>
          <%= investigation.products.first ? investigation.products.first.name : "" %>
          <%= investigation.products.first ? investigation.products.first.brand : "" %>
        </td>
        <td><%= investigation.is_closed? ? "Closed" : "Open" %></td>
        <td><%= investigation.updated_at.strftime("%d %B %Y") %></td>
        <td><%= investigation.assignee ? investigation.assignee.email : "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= will_paginate @investigations %>

<%= link_to "Export as spreadsheet", investigations_path(format: :xlsx)%>
