<% content_for :page_title, "Investigations - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Investigations', investigations_path %>
        </li>
    </ol>
</div>


<h1 class="heading-xlarge">Investigations</h1>
<%= link_to 'New investigation', new_investigation_path, :class => "button" %><br /><br />

<%= will_paginate @investigations %>
<br />
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @investigations.each do |investigation| %>
      <tr>
        <td><%= link_to investigation.id, investigation %></td>
        <td><%= link_to 'Delete', investigation, method: :delete, data: { confirm: 'Are you sure?' } if policy(investigation).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= will_paginate @investigations %>
