<% content_for :page_title, "Investigations - Market Surveillance & Product Safety" %>

<%= render "layouts/navbar" %>

<% if @current_user %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-column-one-quarter assigned-number">
        <%= @investigations.where(assignee: @current_user).count %>
      </div>
      <div class="govuk-grid-column-one-half investigation-number-description">
        Investigations assigned to you
      </div>
    </div>
    <div class="govuk-grid-column-one-third not-implemented">
      <div class="govuk-grid-column-one-quarter overdue-number">
        <%= @investigations.where(assignee: @current_user).count %>
      </div>
      <div class="govuk-grid-column-one-half investigation-number-description">
        Overdue actions
      </div>
    </div>
    <div class="govuk-grid-column-one-third not-implemented">
      <div class="govuk-grid-column-one-quarter due-number">
        <%= @investigations.where(assignee: @current_user).count %>
      </div>
      <div class="govuk-grid-column-one-half investigation-number-description">
        Actions due soon
      </div>
    </div>
  </div>
<% end %>

<%= form_with(url: investigations_path, method: "get", class: "search-background govuk-!-padding-3") do |form| %>
  <div class="form-group">
    <%= form.label "Search for keywords", class: "form-label" %>
    <%= form.text_field :q, value: params[:q], class: "form-control" %>
    <%= form.submit ">", name: nil, class: "govuk-button" %>
  </div>
<% end %>
</br>

<%= link_to 'Assign', new_investigation_path, class: "govuk-button govuk-button--disabled not-implemented" %>
<%= link_to 'Create investigation', new_investigation_path, class: "govuk-button right" %>

<%= will_paginate @investigations %>
<%= render 'table' %>
<%= will_paginate @investigations %>
</br>
<%= link_to "Export as spreadsheet", investigations_path(format: :xlsx), class: "govuk-button"%>

