<% content_for :page_title, "View investigation - Market Surveillance & Product Safety" %>
<div class="show-investigation">

  <div class="govuk-grid-row govuk-!-padding-top-6 top-details">
    <div class="govuk-grid-column-one-third">
      <%= link_to 'Back to list', investigations_path, class: "govuk-back-link link-back" %>
    </div>
    <div class="govuk-grid-column-one-third">
      Status
      <% if @investigation.is_closed? && policy(@investigation).reopen? %>
        <%= form_with(url: reopen_investigation_path(@investigation), local: true) do |form| %>
          <%= form.submit "Closed", data: { confirm: "Are you sure you want to reopen the issue?" }, class: "govuk-link" %>
        <% end %>
      <% elsif !@investigation.is_closed? %>
        <%= form_with(url: close_investigation_path(@investigation), local: true) do |form| %>
          <%= form.submit "Open", data: { confirm: "Are you sure you want to close the issue?" }, class: "govuk-link" %>
        <% end %>
      <% end %>
    </div>
    <div class="govuk-grid-column-one-third">
      Assigned <%=link_to @investigation.assignee ? @investigation.assignee.email: "Unassigned",
                              assign_investigation_path(@investigation) %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-heading-m govuk-!-margin-bottom-1">Case ID: <%= @investigation.id %></p>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-1"><%= @investigation.title %></h1>
      <span>Created: <%= @investigation.created_at.strftime("%d %B %Y") %></span>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Risk Notes: <%= @investigation.risk_overview %></h3>
      <p><%= @investigation.description %></p>
      <%= link_to 'Edit details', edit_investigation_path(@investigation), :class => "no-print" %>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-body-l govuk-!-margin-bottom-1">Risk level</h4>
          <span class="govuk-heading-xl govuk-!-margin-bottom-0"><%= @investigation.risk_level&.titleize %></span>
        </div>
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-body-l govuk-!-margin-bottom-1">Sensitivity</h4>
          <span class="govuk-heading-xl govuk-!-margin-bottom-0"><%= @investigation.sensitivity&.titleize %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Contents</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Activities</h2>
          <% if @investigation.activities.any? %>
          <div class="timeline">
            <ul>
              <% @investigation.activities.limit(3).each do |activity| %>
                <li>
                  <h3 class="govuk-heading-s"><%= activity.activity_type.titleize %></h3>
                  <p class="timeline-details">By <%= activity.source.name %>, <%= activity.created_at.to_s :long_ordinal %></p>
                  <p><%= activity.notes %></p>
                </li>
              <% end %>
              <!-- A dummy item at the end adds the end blob to the timeline -->
              <li></li>
            </ul>
          </div>
          <% else %>
            <p>No activities.</p>
          <% end %>
          <%= link_to "View all activity", investigation_activities_path(@investigation), class: "govuk-!-margin-right-3" %>
          <%= link_to "New activity", new_investigation_activity_path(@investigation) %>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Products</h2>
          <% if @investigation.products.any? %>
            <% @investigation.products.each do |product| %>
              <%= render "product_summary", product: product %>
            <% end %>
          <% else %>
            <p>No products.</p>
          <% end %>
          <%= link_to 'Add product', investigation_products_path(@investigation), :class => "no-print" %>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Businesses</h2>
          <% if @investigation.businesses.any? %>
            <% @investigation.businesses.each do |business| %>
              <%= render "business_summary", business: business %>
            <% end %>
          <% else %>
            <p>No businesses.</p>
          <% end %>
          <%= link_to 'Add business', investigation_businesses_path(@investigation), :class => "no-print" %>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Images (3)</h2>
          <p>No images.</p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Documents</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Title</th>
                <th class="govuk-table__header" scope="col">Upload date</th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
            </tbody>
          </table>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render 'history', versions: @investigation.versions %>
          <div class="govuk-!-margin-top-3 no-print">
            <%= link_to 'Create PDF document', investigation_path(@investigation, format: :pdf) %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
