<% content_for :page_title, "View investigation - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Investigations', investigations_path %>
        </li>
        <li>
            <%= link_to 'View', @investigation %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">
  Investigation
</h1>

<h4 class="heading-small">
  Status
</h4>
<p>
  <%= @investigation.is_closed? ? "Closed" : "Open" %>
</p>

<% if @investigation.is_closed? && policy(@investigation).reopen? %>
  <%= form_with(url: reopen_investigation_path(@investigation), local: true) do |form| %>
    <div class="form-group">
      <%= form.submit "Reopen", :class => "button" %>
    </div>
  <% end %>
<% elsif !@investigation.is_closed? %>
  <%= form_with(url: close_investigation_path(@investigation), local: true) do |form| %>
    <div class="form-group">
      <%= form.submit "Close", :class => "button-warning", data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
<% end %>

<h4 class="heading-small">
  Description
</h4>
<p>
  <%= @investigation.description %>
</p>

<h4 class="heading-small">
  Assignee
</h4>
<p>
  <% if @investigation.assignee.nil? %>
    Unassigned
  <% else %>
    <%= @investigation.assignee.email %>
  <% end %>
</p>
<div class="form-group">
  <%= link_to "Assign", assign_investigation_path(@investigation), :class => "button" %>
</div>

<h4 class="heading-small">
  Source
</h4>
<p>
  <%= @investigation.source %>
</p>

<h4 class="heading-small">
  Severity
</h4>
<p>
  <%= @investigation.severity %>
</p>

<% if @investigation.products.any? -%>
  <h4 class="heading-small">Products</h4>
  <% @investigation.products.each do |product| %>
    <p><%= link_to product.name, product %></p>
  <% end %>
<% end -%>

<% if @investigation.activities.any? -%>
  <h4 class="heading-small">Activities</h4>
  <% @investigation.activities.limit(5).each do |activity| %>
    <p><%= link_to "#{activity.created_at} - #{activity.activity_type.titleized_name}", activity %></p>
  <% end %>
  <%= link_to "See all", investigation_activities_path(@investigation) %><br /> <br />
<% end -%>

<div class="form-group">
  <%= link_to 'Add activity', new_investigation_activity_path(@investigation), :class => "button" %>
</div>

<% if policy(@investigation).update? %>
  <div class="form-group">
    <%= link_to 'Edit investigation', edit_investigation_path(@investigation), :class => "button" %>
  </div>
<% end %>
<%= link_to 'Back', investigations_path, :class => "link-back" %>
