<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Investigations', investigations_path %>
        </li>
        <li>
            <%= link_to 'View', @investigation %>
        </li>
    </ol>
</div>

<h4 class="heading-small">
  Description
</h4>
<p>
  <%= @investigation.description %>
</p>

<h4 class="heading-small">
  Is closed?
</h4>
<p>
  <%= @investigation.is_closed %>
</p>

<h4 class="heading-small">
  Source
</h4>
<p>
  <%= @investigation.source %>
</p>

<h4 class="heading-small">
  Severity
</h4>
<p>
  <%= @investigation.severity %>
</p>

<% if @investigation.products.any? -%>
  <h4 class="heading-small">Products</h4>
  <% @investigation.products.each do |product| %>
    <p><%= link_to product.id, product %></p>
  <% end %>
<% end -%>

<div class="form-group">
  <%= link_to 'Edit', edit_investigation_path(@investigation), :class => "button" %>
</div>
<%= link_to 'Back', investigations_path, :class => "link-back" %>
