<% content_for :page_title, "View investigation - Market Surveillance & Product Safety" %>
<div class="show-investigation">

  <div class="govuk-grid-row govuk-!-padding-bottom-6 govuk-!-padding-top-6 top-details">
    <div class="govuk-grid-column-one-third">
      <%= link_to 'Back to list', investigations_path, class: "govuk-back-link link-back" %>
    </div>
    <div class="govuk-grid-column-one-third">
      Status <%= link_to @investigation.status, status_investigation_path(@investigation) %>
    </div>
    <div class="govuk-grid-column-one-third">
      Assigned <%=link_to @investigation.assignee ? @investigation.assignee.email: "Unassigned",
                              assign_investigation_path(@investigation) %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-full">
      <%= render "investigation_heading", investigation: @investigation %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Risk Notes: <%= @investigation.risk_overview %></h3>
      <p><%= @investigation.description %></p>
      <%= link_to 'Edit details', edit_investigation_path(@investigation), :class => "no-print" %>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row govuk-!-padding-bottom-6">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-body-l govuk-!-margin-bottom-1">Risk level</h4>
          <span class="govuk-heading-xl govuk-!-margin-bottom-0"><%= @investigation.risk_level&.titleize %></span>
        </div>
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-body-l govuk-!-margin-bottom-1">Sensitivity</h4>
          <span class="govuk-heading-xl govuk-!-margin-bottom-0"><%= @investigation.sensitivity&.titleize %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-6 row-border-top">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Contents</h3>
      <ul class="dashed-list">
        <li><a href="#activities" class="govuk-!-font-size-19">Activities</a></li>
        <li><a href="#products" class="govuk-!-font-size-19">Products</a></li>
        <li><a href="#businesses" class="govuk-!-font-size-19">Businesses</a></li>
        <li><a href="#images" class="govuk-!-font-size-19">Images</a></li>
        <li><a href="#documents" class="govuk-!-font-size-19">Documents</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="activities">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Activities</h2>
          <%= render "activities_summary", activities: @investigation.activities.limit(3) %>
          <%= link_to "View all activity", investigation_activities_path(@investigation), class: "govuk-!-margin-right-3" %>
          <%= link_to "New activity", new_investigation_activity_path(@investigation) %>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="products">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Products</h2>
          <% if @investigation.products.any? %>
            <% @investigation.products.each do |product| %>
              <%= render "product_summary", product: product %>
            <% end %>
          <% else %>
            <p>No products.</p>
          <% end %>
          <%= link_to 'Manage products', investigation_products_path(@investigation), :class => "no-print" %>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="businesses">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Businesses</h2>
          <% if @investigation.businesses.any? %>
            <% @investigation.businesses.each do |business| %>
              <%= render "business_summary", business: business, allow_removing: false %>
            <% end %>
          <% else %>
            <p>No businesses.</p>
          <% end %>
          <%= link_to 'Manage businesses', investigation_businesses_path(@investigation), :class => "no-print" %>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="images">
        <div class="govuk-grid-column-full">
          <% if @investigation.images.attached? %>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-1"><%= "Images (#{@investigation.images.size})" %></h2>
            <% @investigation.images.attachments.limit(2).each do |image| %>
              <%= render "images/image", image: image, dimensions: "300x200" %>
            <% end %>
            <br/>
          <% else %>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Images</h2>
            <p>No images.</p>
          <% end %>
          <%= link_to "Manage images", associated_images_path(@investigation), class: "no-print" %>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-6" id="documents">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Documents</h2>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Title</th>
                <th class="govuk-table__header" scope="col">Upload date</th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
            </tbody>
          </table>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-bottom-6">
        <div class="govuk-grid-column-full">
          <%= render 'history', versions: @investigation.versions %>
          <div class="govuk-!-margin-top-3 no-print">
            <%= link_to 'Create PDF document', investigation_path(@investigation, format: :pdf) %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
