<% content_for :page_title, "View investigation - Market Surveillance & Product Safety" %>
<div class="show-investigation">
  <div class="breadcrumbs">
      <ol role="breadcrumbs">
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <%= link_to 'Investigations', investigations_path %>
          </li>
          <li>
              <%= link_to 'View', @investigation %>
          </li>
      </ol>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <p>
        <%= link_to 'Back to list', investigations_path, :class => "link-back" %>
      </p>
    </div>
    <div class="column-third">
      <p>
        <% if @investigation.assignee.nil? %>
          Unassigned
        <% else %>
          Assigned to <%= @investigation.assignee.email %>
        <% end %>
      </p>
    </div>
    <div class="column-third">
      <p>
        Status <%= @investigation.is_closed? ? "Closed" : "Open" %>
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third dummy-column"></div>
    <div class="column-third">
      <div class="form-group no-print">
        <%= link_to "Assign", assign_investigation_path(@investigation), :class => "button" if policy(@investigation).update? %>
      </div>
    </div>
    <div class="column-third">
      <% if @investigation.is_closed? && policy(@investigation).reopen? %>
        <%= form_with(url: reopen_investigation_path(@investigation), local: true) do |form| %>
          <div class="form-group no-print">
            <%= form.submit "Reopen", :class => "button" %>
          </div>
        <% end %>
      <% elsif !@investigation.is_closed? %>
        <%= form_with(url: close_investigation_path(@investigation), local: true) do |form| %>
          <div class="form-group no-print">
            <%= form.submit "Close", :class => "button-warning", data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <%= @investigation.title %>
      </h1>
      <h2 class="heading-small">Product safety Investigation ID:<br /><%= @investigation.id %></h2>
      <p>Created: <%= @investigation.created_at.to_s :long_ordinal %></p>
      <p>Risk notes: <%= @investigation.risk_notes %></p>
      <p>Source: <%= @investigation.source.show %></p>
      <p><%= @investigation.description %></p>
      <%= link_to 'Edit details', edit_investigation_path(@investigation), :class => "no-print" %>
    </div>
  </div>

  <% if @investigation.products.any? %>
    <% @investigation.products.each do |product| %>
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="heading-small sub-heading">
            Product details
          </h2>
          <p>Category:</p><!-- TODO MSPSDS-189 Add when adding to products -->
          <p>Name: <%= product.name %></p>
          <p>Brand: <%= product.brand %></p>
          <p>Type / number of model: <%= product.model %></p>
          <p>Barcode (GTIN): <%= product.gtin %></p>
          <p>Associated parts or components:</p><!-- TODO MSPSDS-189 Add when adding to products -->
          <%= link_to 'Edit details', edit_product_path(product), :class => "no-print" %>
        </div>
        <div class="column-third">
          <h2 class="heading-small sub-heading">
            Images
          </h2>
          <% if product.images.any? %>
            <%= image_tag(product.images[0].url, alt: product.images[0].title, :class => "product-image") %>
            <%= link_to "View images (#{product.images.size})", product_path(product), :class => "no-print" %>
          <% else %>
            <p>No images.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-small sub-heading">
        Case activity
      </h2>
    </div>
    <div class="column-two-thirds">
      <% @investigation.activities.limit(3).each do |activity| %>
        <div class="activity">
          <p>
            <em><%= activity.activity_type.titleized_name %></em>
            by
            <%= activity.source.show %>
            on
            <%= activity.created_at.to_s :long_ordinal %>
          </p>
          <p>Notes: <%= activity.notes %></p>
        </div>
      <% end %>
      <%= link_to "+ View more activity", investigation_activities_path(@investigation) %>
      <br /><br />
      <div class="form-group no-print">
        <%= link_to 'Add activity', new_investigation_activity_path(@investigation), :class => "button" %>
      </div>
    </div>
    <div class="column-third">
      <% if @investigation.image.attached? && @investigation.image.image? %>
        <% if @investigation.image.metadata["safe"].nil? %>
          <p>Still checking upload for viruses</p>
        <% elsif @investigation.image.metadata["safe"] %>
          <%= image_tag @investigation.image.variant(resize: "300x300"), alt: "Investigation", :class => "case-image" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <% if @investigation.businesses.any? %>
        <% @investigation.businesses.each do |business| %>
          <h2 class="heading-small sub-heading">
            Business
          </h2>
          <p>Business name: <%= link_to business.company_name, business %></p>
          <p>Main address: <%= business.address_summary %></p>
          <%= link_to 'Edit details', edit_business_path(business), :class => "no-print" %>
        <% end %>
      <% else %>
        <h2 class="heading-small sub-heading">
          Business
        </h2>
        <p>No business attached</p>
      <% end %>
    </div>
    <div class="column-third">
      <h2 class="heading-small sub-heading">
        Additional information
      </h2>
      <div class="form-group no-print">
        <%= link_to 'Create PDF document', investigation_path(@investigation, format: :pdf) %>
      </div>
    </div>
  </div>

  <%= render 'history', versions: @investigation.versions %>
</div>