<% title = "Check your phone" %>
<% page_title(title, errors: @form.errors.any?) %>

<% if @form.user&.multiple_secondary_authentication_methods? && !@form.user&.mobile_number_pending_verification? %>
  <% content_for(:after_header) do %>
    <%= govukBackLink(text: "Back", href: new_secondary_authentication_method_path) %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= error_summary @form.errors %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">
      <% if @form.operation == SecondaryAuthentication::Operations::INVITE_USER %>
        You need to confirm your identity. We have sent you a security code by text message.
      <% else %>
        We have sent you a security code by text message
      <% end %>
    </p>

    <%= form_with(url: secondary_authentication_sms_path, method: :post, html: { novalidate: true }) do |f| %>
      <%= f.hidden_field :user_id, value: @form.user_id %>
      <%= render "form_components/govuk_input",
            key: :otp_code,
            form: f,
            classes: "govuk-input--width-5",
            label: { text: "Enter security code" },
            attributes: { pattern: "[0-9]*", inputmode: "numeric" },
            errorMessage: format_errors_for(@form, @form.errors.full_messages_for(:otp_code)),
            autocomplete: "one-time-code" %>

      <%= govukButton(text: "Continue") %>
    <% end %>

    <div class="govuk-body">
      <%= link_to "Not received a text message?", new_secondary_authentication_sms_resend_path, class: "govuk-link" %>
    </div>
  </div>
</div>
