<% content_for :page_title, "Invite a team member" %>
<% content_for :after_header do %>
  <%= render "layouts/navbar" %>
<% end %>

<%= form_with model: @new_account_form, url: responsible_person_team_members_path(@responsible_person), method: :post do |form| %>
  <div class="govuk-grid-row">
    <%= error_summary_for(@new_account_form) %>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Invite a team member</h1>

      <p>Inviting a team member will allow them to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>see all cosmetic products</li>
        <li>submit cosmetic product notifications</li>
      </ul>

      <%= form_input @new_account_form, :full_name %>
      <%= email_input @new_account_form %>

      <div class="govuk-form-group">
        <%= govukButton text: "Send invitation" %>
      </div>
    </div>
  </div>
<% end %>
