<% title = "Change your password" %>
<% page_title title, errors: @user.errors.any? %>

<% content_for(:after_header) do %>
  <%= govuk_back_link(href: my_account_path, text: "Back") %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @user, url: my_account_password_path, method: :patch, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <%= form.govuk_error_summary %>
      <h1 class="govuk-heading-l"><%= title %></h1>
      <%= form.govuk_text_field :old_password, label: { text: "Current password" }, type: "password" %>
      <%= form.govuk_text_field :password, label: { text: "New password" }, type: "password" %>
      <%= form.govuk_submit "Save" %>
    <% end %>
  </div>
</div>
