<% content_for :page_title, "Nanomaterials" %>
<% content_for :after_header do %>
  <%= render "layouts/navbar" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="nanomaterial-notifications-hint">
          Nanomaterials
        </h1>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2 govuk-!-text-align-right">
        <%= link_to("Add a nanomaterial",
                    new_responsible_person_nanomaterial_path(@responsible_person),
                    class: "govuk-button") %>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>
          Cosmetic products available to consumers must be safe for human health. OPSS will take the necessary action to ensure the safety of
          consumers including but not limited to prohibiting or  restricting specific nanomaterials if a risk to human health is identified.
        </p>
        <p>
          Products containing nanomaterials notified in GB after 1 January 2021 can be placed on the market 6 months after the nanomaterial has first been notified.
        </p>
        <p class="govuk-!-font-weight-bold">
          Note that you cannot use a nanomaterial as a preservative, UV-filter or colourant that is not listed in the Annexes.
        </p>
        <p>
          <a href="/pdf/Nanomaterial Characterisation Information Checklist.pdf" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Checklist for Applicants submitting Nanomaterial Characterisation Information on SCPN (opens in a new tab)</a>
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p id="nanomaterial-notifications-hint" class="govuk-hint govuk-!-width-two-thirds">
          These are your notified nanomaterials.
        </p>
      </div>
    </div>
  </div>
</div>

<% if @nanomaterial_notifications.present? %>
  <div class="govuk-grid-row">
    <section class="govuk-grid-column-full">
      <table id="table-items" class="govuk-table opss-table-items govuk-!-margin-top-5">
        <caption class="govuk-visually-hidden">
            Notified Nanomaterials data: 3 columns with each nanomaterial described across 2 rows within its own table body.
        </caption>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th class="govuk-visually-hidden">&nbsp;</th>
              <th id="uknotified" scope="col" class="govuk-table__header"><abbr>UK</abbr> notified</th>
              <th id="eunotified" scope="col" class="govuk-table__header"><abbr>EU</abbr> notified</th>
              <th id="reviewperiodenddate" scope="col" class="govuk-table__header">6 month review period end</th>
              <th id="uknumber" scope="col" class="govuk-table__header"><abbr>UK</abbr> nanomaterial number</th>
          </tr>
        </thead>

        <% @nanomaterial_notifications.each_with_index do |notification, index| %>
          <%
            # Element index to start from 1 instead of 0
            item = "item-#{index + 1}"
            meta = "meta-#{index + 1}"
          %>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-visually-hidden">
                Name
              </th>
              <th id="<%= item %>" colspan="3" scope="colgroup" class="govuk-table__header">
                <%= link_to(notification.name, nanomaterial_path(notification), class: "govuk-link govuk-link--no-visited-state") %>
              </th>
            </tr>
            <tr class="govuk-table__row">
              <th headers="<%= item %>" id="<%= meta %>" class="govuk-visually-hidden">
                Metadata
              </th>
              <td headers="uknotified <%= item %> <%= meta %>" class="govuk-table__cell">
                <%= display_full_month_date notification.submitted_at %>
              </td>
              <td headers="eunotified <%= item %> <%= meta %>" class="govuk-table__cell">
                <%= if notification.eu_notified
                      display_full_month_date notification.notified_to_eu_on
                    else
                      "No"
                    end %>
              </td>
              <td headers="reviewperiodenddate <%= item %> <%= meta %>" class="govuk-table__cell">
                <%= display_full_month_date notification.can_be_made_available_on_uk_market_from %>
              </td>
              <td headers="uknumber <%= item %> <%= meta %>" class="govuk-table__cell">
                <abbr>UKN</abbr>-<%= notification.id %>
              </td>
            </tr>
          </tbody>
        <% end %>
        <% if @nanomaterial_notifications.size >= 12 %>
          <tfoot class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-visually-hidden">&nbsp;</th>
              <th scope="col" class="govuk-table__header"><abbr>UK</abbr> notified</th>
              <th scope="col" class="govuk-table__header"><abbr>EU</abbr> notified</th>
              <th scope="col" class="govuk-table__header"><abbr>UK</abbr> nanomaterial number</th>
            </tr>
          </tfoot>
        <% end %>
      </table>
      <%= paginate @nanomaterial_notifications, views_prefix: "pagination", nav_class: "opss-pagination-link--no-top-border" %>
    </section>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      &nbsp;
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="<%= responsible_person_nanomaterials_path(@responsible_person, :csv) %>" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14 govuk-!-margin-top-3 opss-text-align-right" download="download">
        <span class="opss-download-link-sm"></span>Download a <abbr title="Comma-Separated Values">CSV</abbr> file of notified nanomaterials
      </a>
    </div>
  </div>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-margin-top-9 govuk-!-margin-bottom-9">
            There are currently no notified nanomaterials.
      </p>
    </div>
  </div>
<% end %>
