<% page_title = "What is the name of the nanomaterial?" %>
<% content_for :page_title, page_title %>
<% content_for :after_header do %>
  <%= govukBackLink(text: "Back", href: @previous_page_path) %>
<% end %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @nanomaterial_notification, url: @form_url do |form| %>

      <%= error_summary_for(@nanomaterial_notification) %>

      <%= render "form_components/govuk_input", form: form, key: :name, label: { text: page_title, isPageHeading: "true", classes: "govuk-label--xl" }  %>

      <%= govukButton text: "Continue" %>
    <% end %>

  </div>
</div>
