<% content_for :page_title, @nanomaterial_notification.name %>
<% content_for :after_header do %>
  <%= render "layouts/navbar" %>
  <%= govukBackLink text: "Back", href: responsible_person_nanomaterials_path(@responsible_person) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= @nanomaterial_notification.name %>
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <abbr>UK</abbr> nanomaterial number
        </dt>
        <dd class="govuk-summary-list__value">
          UKN-<%= @nanomaterial_notification.id %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Notified in the <abbr>UK</abbr>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= display_full_month_date @nanomaterial_notification.submitted_at %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Notified in the <abbr>EU</abbr>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= if @nanomaterial_notification.eu_notified
                display_full_month_date @nanomaterial_notification.notified_to_eu_on
              else
                "No"
              end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <abbr>PDF</abbr> file
        </dt>
        <dd class="govuk-summary-list__value">
          <%= link_to(url_for(@nanomaterial_notification.file), download: true, class: "govuk-link govuk-link--no-visited-state") do %>
            <span class="opss-download-link-m"></span>
            <%= @nanomaterial_notification.file.filename %>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>
</div>
