<% title = @notification.is_multicomponent? ? "Upload images of the item labels" : "Upload an image of the product label" %>
<% page_title title, errors: @notification.errors.messages.include?(:image_uploads) %>
<% content_for :after_header do %>
  <% if params[:back_to_edit] %>
    <%= govukBackLink text: "Back", href: edit_responsible_person_notification_path(@notification.responsible_person, @notification) %>
  <% else %>
    <%= govukBackLink text: "Back", href: previous_wizard_path %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @notification.errors.messages.include?(:image_uploads) %>
      <%= govukErrorSummary(titleText: "There is a problem", errorList: [{text: @notification.errors.messages[:image_uploads][0], href: "#image_upload"}]) %>
    <% end %>

    <%= render(partial: "instructions", locals: { title: title }) %>

    <% if @notification.image_uploads.any? %>
      <table class="govuk-table" id="label-images-table">
        <caption class="govuk-table__caption govuk-heading-m">
          Label images <span class="govuk-!-font-weight-regular govuk-!-font-size-16"> &ndash; You can remove any image when more than one has been added.</span>
        </caption>
        <tbody class="govuk-table__body">
          <% image_count = @notification.image_uploads.size %>
          <% @notification.image_uploads.each do |image| %>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-width-two-thirds" scope="row">
                  <%= link_to(image.filename, url_for(image.file), class: "govuk-link govuk-link--no-visited-state") %>
                </th>
                <td class="govuk-table__cell">
                  <%=
                    if image_count > 1
                      link_to("Remove",
                              responsible_person_notification_draft_delete_product_image_path(@notification.responsible_person, @notification, image_id: image.id),
                              method: :delete)
                    end
                  %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= form_with(url: wizard_path, method: :put, multipart: true) do |form| %>
      <%= hidden_field_tag :back_to_edit, params[:back_to_edit] %>
      <% classes = "govuk-form-group" %>
      <% classes += " govuk-form-group--error" if @notification.errors.messages[:image_uploads].any? %>

      <div class="<%= classes %>">
        <% if @notification.errors.messages[:image_uploads].any? %>
          <span class="govuk-error-message"><%= @notification.errors.messages[:image_uploads][0] %></span>
        <% end %>
        <%= form.label :image_upload, "Upload a file no larger than 30 MB", class: "govuk-label govuk-label--s" %>

        <%= form.file_field :image_upload, multiple: true, accept: ImageUpload.allowed_types.join(", "), class: "govuk-file-upload" %>
      </div>

      <div class="govuk-form-group">
        <%= govukButton text: "Save and continue", name: 'after_save', value: 'continue' %>
        <%= govukButton text: "Save and upload another image", name: 'after_save', value: 'upload_another', classes: "govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
