<% title = "Multi-item kits" %>
<% errors = @single_or_multi_component_form.errors %>
<% page_title(title, errors: errors.any?) %>
<% content_for :after_header do %>
  <%= link_to "Back", previous_wizard_path, class: "govuk-back-link" %>
<% end %>

<% if @notification.components.count <= 1 %>
  <%= form_with model: @single_or_multi_component_form, url: wizard_path, scope: :single_or_multi_component_form, method: :put, disabled: true do |form| %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= error_summary(errors, map_errors: { single_or_multi_component: :single_or_multi_component_multiple }) %>

        <h1 class="govuk-heading-l"><%= title %></h1>

        <p>Multi-item kits have items that need to be mixed together or used in a particular order for them to work.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with multi-item kits
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-!-margin-bottom-20">Examples of multi-item kits include:</p>

            <div class= "govuk-!-margin-bottom-20">
              <ul class="govuk-list govuk-list--bullet">
                <li>hair dye kits</li>
                <li>skin peeling kits</li>
                <li>permanent styling products</li>
                <li>anti-ageing or revitalising kits</li>
              </ul>
            </div>

            Where a set contains separate products that do not need to be mixed together or used in a particular order for the product to work, you’ll need to
            submit a separate notification for each product.
          </div>
        </details>

        <%= govukWarningText(
          iconFallbackText: "Warning",
          classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-5",
          text: "You will be unable to change to a single item product once you select and confirm that this is a multi-item kit. You will need to create a new product notification in order to use the single item product option."
        )%>

        <% count_input_html = capture do %>
          <%= govukInput(form: form,
                         key: :components_count,
                         id: "components_count",
                         inputmode: "numeric",
                         pattern: "[0-9]*",
                         classes: "govuk-input--width-3",
                         label: { text: "How many items does it contain?" },
                         value: [2, @notification.components_count].max) %>
        <% end %>
        <%= govukRadios(
              form: form,
              key: :single_or_multi_component,
              hint: { text: "This draft is currently a single item product. You can make it a multi-item kit by selecting yes and adding more items.",
                      classes: "govuk-!-font-size-16 govuk-!-width-three-quarters govuk-!-margin-botton-6",
                      id: "single_or_multi_component_form_single_or_multi_component-hint" },
              fieldset: { legend: { text: "Is the product a multi-item kit?", classes: "govuk-label--m"}},
              items: [
                { text: "Yes",
                  value: "multiple",
                  id: "single_or_multi_component_multiple",
                  conditional: { html: count_input_html },
                  checked: errors.include?(:components_count) || form.object.multi_component? },
                { text: "No, this is a single product",
                  value: "single",
                  id: "single_or_multi_component_single",
                  checked: errors.exclude?(:components_count) &&
                            (form.object.single_component? || (form.object.multi_component? && @notification.components.count == 1)) },
              ],
            ) %>
        <%= govukButton text: "Continue" %>
      </div>
    </div>
  <% end %>
<% else %>
  <h1 class="govuk-heading-m">
    This draft product notification has been defined as a multi-item kit.
  </h1>

  <p class="govuk-body">
    A multi-item kit must contain, at least, 2 items. If this product is not a multi-item kit you will need to create a new product notification.
  </p>

  <%= link_to "Continue", next_step_path, class: "govuk-button govuk-!-margin-top-8" %>
<% end %>
