<section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

  <a href="#search-results-section" class="govuk-skip-link opss-skip-link">
    Skip to the main content
  </a>

  <nav aria-label="Secondary">
    <ul class="govuk-list opss-left-nav">
      <li>
        <a href="<%= root_path %>" class="govuk-link govuk-link--no-visited-state" aria-current="page">
          Cosmetic products search
        </a>
      </li>
      <li class="opss-left-nav__active">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Ingredients search
        </a>
      </li>
    </ul>
  </nav>

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-1 govuk-!-margin-bottom-6 govuk-!-margin-right-6">

  <a href="#results-order" class="govuk-skip-link opss-skip-link opss-skip-link--mb">
    Skip past the filter options
  </a>

  <%= form_for(@search_form, url: poison_centre_ingredients_search_path, method: :get, html: { novalidate: true , id: 'new_notification_search_form_filters' }) do |form| %>
    <%= form.hidden_field :q, id: :ingredients_search_form_q_hidden %>
    <h2 class="govuk-heading-s">
      Filters<span class="govuk-visually-hidden">:</span>
    </h2>

    <div class="govuk-form-group opss-form-group opss-form-group--sm-labels">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
          Match type
        </legend>

        <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <%= form.radio_button :exact_or_any_match, @search_form.class::EXACT_MATCH, 'class' => "govuk-radios__input", 'id' => "exact-match" %>
            <label class="govuk-label govuk-radios__label" for="exact-match">
              Exact match only
            </label>
          </div>

          <div class="govuk-radios__item">
            <%= form.radio_button :exact_or_any_match, @search_form.class::ANY_MATCH, 'class' => "govuk-radios__input", 'id' => "any-match" %>
            <label class="govuk-label govuk-radios__label" for="any-match">
              Match any words
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group govuk-!-margin-bottom-7">
      <fieldset class="govuk-fieldset" aria-describedby="by-date-range-hint">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
          Notified dates
        </legend>

        <div class="govuk-form-group">

          <div id="by-date-range-hint" class="govuk-hint govuk-!-font-size-16">
            Filter searches by notified dates within a date range. For example, from <span class="opss-no-wrap">01 04 2020</span> to <span class="opss-no-wrap">30 09 2022</span>.
          </div>

          <div class="govuk-hint govuk-!-font-size-16">
            From<span class="govuk-visually-hidden">:</span>
          </div>

          <%= render partial: 'poison_centres/notifications_search/date_filter_input', locals: { attribute: :date_from, id: 'by-date-form-day', extra_classes: "opss-date-input--tight", search_type: "ingredient" } %>
          <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-4 govuk-!-margin-bottom-3">
            To<span class="govuk-visually-hidden">:</span>
          </div>
          <%= render partial: 'poison_centres/notifications_search/date_filter_input', locals: { attribute: :date_to, id: 'by-date-to-day', extra_classes: "opss-date-input--tight", search_type: "ingredient" } %>
      </fieldset>
    </div>
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Apply
      </button>
    </div>
  <% end %>
</section>
