<section class="govuk-grid-column-one-quarter govuk-!-padding-right-1 opss-full-height__col">

  <a href="#search-results-section" class="govuk-skip-link opss-skip-link">
    Skip to the main content
  </a>

  <nav aria-label="Secondary">
    <ul class="govuk-list opss-left-nav">
      <li>
        <a href="<%= root_path %>" class="govuk-link govuk-link--no-visited-state" aria-current="page">
          Cosmetic products search
        </a>
      </li>
      <li class="opss-left-nav__active">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Ingredients search
        </a>
      </li>
    </ul>
  </nav>

  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-1 govuk-!-margin-bottom-6 govuk-!-margin-right-6">


  <a href="#results-order" class="govuk-skip-link opss-skip-link opss-skip-link--mb">
    Skip past the filter options
  </a>

  <%= form_for(@search_form, url: poison_centre_ingredients_search_path, method: :get, html: { novalidate: true , id: 'new_notification_search_form_filters' }) do |form| %>
    <%= form.hidden_field :q, id: :ingredients_search_form_q_hidden %>
    <h2 class="govuk-heading-s">
      Filters<span class="govuk-visually-hidden">:</span>
    </h2>

    <div class="govuk-form-group opss-form-group opss-form-group--sm-labels">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-font-weight-regular">
          Match type
        </legend>

        <div class="govuk-radios govuk-radios--small">
          <div class="govuk-radios__item">
            <%= form.radio_button :exact_or_any_match, @search_form.class::EXACT_MATCH, 'class' => "govuk-radios__input", 'id' => "exact-match" %>
            <label class="govuk-label govuk-radios__label" for="exact-match">
              Exact match only
            </label>
          </div>

          <div class="govuk-radios__item">
            <%= form.radio_button :exact_or_any_match, @search_form.class::ANY_MATCH, 'class' => "govuk-radios__input", 'id' => "any-match" %>
            <label class="govuk-label govuk-radios__label" for="any-match">
              Match any words
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Apply
      </button>
    </div>
  <% end %>
</section>
