<%
    cell_headers = "item-#{index} meta-#{index}"
%>

<tbody class="govuk-table__body <%= additional_classes %>">
  <tr class="govuk-table__row">
    <th class="govuk-visually-hidden">
      Name
    </th>
    <th id="item-<%= index %>" colspan="3" scope="colgroup" class="govuk-table__header">
      <%= link_to notification.product_name,
        poison_centre_notification_path(notification, form => search_params, :back_to => back_to, page: params[:page]),
        class: "govuk-link govuk-link--no-visited-state" %>
    </th>
  </tr>
  <tr class="govuk-table__row">
    <th headers="item-<%= index %>" id="meta-<%= index %>" class="govuk-visually-hidden">
      Metadata
    </th>
    <td headers="uknotified <%= cell_headers %>" class="govuk-table__cell">
      <%= notification.notification_complete_at.present? ? display_full_month_date(notification.notification_complete_at) : "&nbsp;".html_safe %>
    </td>
    <td headers="ukcosprodnumber <%= cell_headers %>" class="govuk-table__cell">
      <%= notification.reference_number_for_display.presence || "&nbsp;".html_safe %>
    </td>
    <td headers="eurefnumber <%= cell_headers %>" class="govuk-table__cell">
      <%= notification.responsible_person.name %>
    </td>
  </tr>
  <% matches = notifiction.matched_ingredients_for_query(@search_form.q) %>
  <% if matches.present? %>
    <tr class="govuk-table__row">
      <th headers="item-01" id="ingredients-01" class="govuk-visually-hidden">
        Matches
      </th>
      <td headers="item-01 ingredients-01" colspan="3" class="govuk-table__cell">
        <span class="govuk-!-font-size-14">Ingredient matches: </span>
        <% matches.each do |matched_ingredient| %>
          <span class="govuk-!-font-size-14"><mark><%= matched_ingredient %></mark>. </span>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
