<%= form_for(@search_form, url: poison_centre_ingredients_search_path, method: :get, builder: GOVUKDesignSystemFormBuilder::FormBuilder, html: { 'novalidate' => true }) do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-form-group">
        <label class="govuk-label--s" for="prod-search">Search</label>
        <div class="govuk-hint govuk-!-font-size-16 govuk-!-display-inline-block govuk-!-margin-top-1" id="search-hint">
          <span class="govuk-visually-hidden">Search</span> - on an ingredient name.
        </div>
        <div class="govuk-input__wrapper opss-search__wrapper">
          <%= form.search_field :q, class: "govuk-input govuk-!-width-three-quarters", "aria-describedby" => "search-hint", "spellcheck" => "false" %>
          <button class="govuk-button govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">Submit search</span>
          </button>
        </div>
      </div>

      <fieldset class="govuk-fieldset opss-grouping" aria-describedby="group-by-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--s opss-grouping__legend--s opss-grouping__heading--norm" style="margin-bottom: 8px">
          Group by
        </legend>
        <%= form.govuk_radio_buttons_fieldset(:group_by,inline: true, legend: { text: "Group by", hidden: true }, hint: { text: "You can display the results grouped by notifications which share the same Responsible Person.", style: "font-size: 1rem !important;" }) do %>
            <%= form.govuk_radio_button :group_by, OpenSearchQuery::Ingredient::GROUP_BY_NONE, label: { text: 'None', style: 'font-size: 1.1875rem; line-height: 1.3157894737;' }, link_errors: true %>
            <%= form.govuk_radio_button :group_by, OpenSearchQuery::Ingredient::GROUP_BY_RESPONSIBLE_PERSON_ASC, label: { text: 'Responsible Person', style: 'font-size: 1.1875rem; line-height: 1.3157894737;' } %>
        <% end %>
      </fieldset>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset govuk-!-padding-bottom-5 opss-grouping" aria-describedby="notified-date">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s opss-grouping__legend--s opss-grouping__heading--norm">
            Notification date
          </legend>
          <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1" id="notified-date">
            You can filter the search results to show only notifications notified within a date range.
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <fieldset class="govuk-fieldset govuk-!-margin-top-3" role="group" aria-describedby="from-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-right-4 opss-float-left">
                  From
                </legend>
                <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1" id="from-hint">
                  For example, 27 9 2020
                </div>
                <%= render partial: 'poison_centres/notifications_search/date_filter_input', locals: { attribute: :date_from, extra_classes: "", search_type: "ingredient" } %>
              </fieldset>
            </div>

            <div class="govuk-grid-column-one-half">
              <fieldset class="govuk-fieldset govuk-!-margin-top-3" role="group" aria-describedby="to-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-right-4">
                  To
                </legend>
                <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1 govuk-visually-hidden" id="to-hint">
                  For example, 27 8 2022
                </div>
                <%= render partial: 'poison_centres/notifications_search/date_filter_input', locals: { attribute: :date_to, extra_classes: "", search_type: "ingredient" } %>
              </fieldset>
            </div>
          </div>
        </fieldset>
      </div>

      <fieldset class="govuk-fieldset opss-grouping" aria-describedby="group-by-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--s opss-grouping__legend--s opss-grouping__heading--norm" style="margin-bottom: 8px">
          Match type
        </legend>
        <%= form.govuk_radio_buttons_fieldset(:exact_or_any_match,inline: true, legend: { text: "Group by", hidden: true }, hint: { text: "You can filter the results to match against any of its words or the ingredient name exactly.", style: "font-size: 1rem !important;" }) do %>
          <%= form.govuk_radio_button :exact_or_any_match, OpenSearchQuery::Ingredient::ANY_MATCH, label: { text: 'Match any words', style: 'font-size: 1.1875rem; line-height: 1.3157894737;' }, link_errors: true %>
          <%= form.govuk_radio_button :exact_or_any_match, OpenSearchQuery::Ingredient::EXACT_MATCH, label: { text: 'Exact match only', style: 'font-size: 1.1875rem; line-height: 1.3157894737;' } %>
        <% end %>
      </fieldset>

      <fieldset class="govuk-fieldset opss-grouping" aria-describedby="group-by-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--s opss-grouping__legend--s opss-grouping__heading--norm" style="margin-bottom: 8px">
          Sorting order
        </legend>
        <%= form.govuk_radio_buttons_fieldset(:sort_by,inline: true, legend: { text: "Group by", hidden: true }, hint: { text: "You can sort the ordering of how the notifications will be displayed.", style: "font-size: 1rem !important;" }) do %>
          <%= form.govuk_radio_button :sort_by, OpenSearchQuery::Ingredient::SCORE_SORTING, label: { text: 'Relevance', style: 'font-size: 1.1875rem; line-height: 1.3157894737;' }, link_errors: true %>
          <%= form.govuk_radio_button :sort_by, OpenSearchQuery::Ingredient::DATE_DESCENDING_SORTING, label: { text: "Newest", style: 'font-size: 1.1875rem; line-height: 1.3157894737;' } %>
          <%= form.govuk_radio_button :sort_by, OpenSearchQuery::Ingredient::DATE_ASCENDING_SORTING, label: { text: "Oldest", style: 'font-size: 1.1875rem; line-height: 1.3157894737;' } %>
        <% end %>
      </fieldset>
    </div>
  </div>

  <div class="govuk-button-group">
    <%= form.govuk_submit "Search" %>
    <button type="reset" class="govuk-button opss-button-link opss-nojs-hide" data-reset-form="new_ingredient_search_form" data-form-defaults="<%= { 'sort-by_score' => OpenSearchQuery::Ingredient::SCORE_SORTING, 'exact-or-any-match_any_match' => OpenSearchQuery::Ingredient::ANY_MATCH }.to_json %>">
      Reset
    </button>
  </div>
<% end %>
