<% content_for :page_title, "Change Responsible Person business type" %>
<% @errors = @responsible_person.errors.any? %>
<% @back_link_href = responsible_person_path(@responsible_person, q: params[:q]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @responsible_person, url: update_business_type_responsible_person_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <% if @errors %><h1 class="govuk-heading-l"><%= yield :page_title %></h1><% end %>
      <%= f.govuk_collection_radio_buttons :account_type, business_type_radios, :id, :name, legend: nil %>
      <%= f.govuk_submit "Save changes" %>
    <% end %>
  </div>
</div>
