<table class="govuk-table govuk-!-margin-top-6 govuk-!-margin-bottom-0 opss-table opss-table--last-col-right opss-table--first-col-normal">

  <caption class="govuk-table__caption govuk-visually-hidden">List of notified products</caption>


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">Product</th>

      <th scope="col" class="govuk-table__header">Notified in the <abbr>UK</abbr></th>

      <th scope="col" class="govuk-table__header"><abbr>UK</abbr> <span class="govuk-visually-hidden">cosmetic product </span>number</th>

      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">View</span></th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <% @registered_notifications.each do |notification| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= notification.product_name %></th>
        <td class="govuk-table__cell"><%= display_full_month_date notification.notification_complete_at %></td>
        <td class="govuk-table__cell"><%= reference_number_for_display(notification) %></td>
        <td class="govuk-table__cell">
          <a href="<%= responsible_person_notification_url(@responsible_person, notification, page: params[:page]) %>" class="govuk-link govuk-link--no-visited-state">
            View<span class="govuk-visually-hidden"><%= notification.product_name %></span>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
