<div class="govuk-accordion__section" id="incomplete-notifications">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-opss-heading-2">
        Draft notifications (<%= @unfinished_notifications.count %>)
      </span>
    </h2>

    <div class="govuk-accordion__section-summary govuk-body" id="accordion-opss-summary-2">
      <p class="govuk-body govuk-!-margin-bottom-1">There are currently <%= @unfinished_notifications.count %> draft notifications.</p>
    </div>

  </div>
  <div id="accordion-opss-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-opss-heading-2">

    <table class="govuk-table govuk-!-margin-bottom-4 opss-table opss-table--last-col-right opss-table--first-col-normal">

      <caption class="govuk-table__caption govuk-visually-hidden">List of draft notified products</caption>


      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Product</th>
          <th scope="col" class="govuk-table__header">Created</th>
          <th scope="col" class="govuk-table__header"><abbr>UKCP</abbr> <span class="govuk-visually-hidden">cosmetic product </span>number</th>
          <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Continue</span></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @unfinished_notifications.each do |notification| %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="<%= edit_responsible_person_notification_path(@responsible_person, notification) %>" class="govuk-link govuk-link--no-visited-state">
                <%= notification.product_name %>
              </a>
            </th>
            <td class="govuk-table__cell"><%= display_full_month_date notification.created_at %></td>
            <td class="govuk-table__cell"><%= reference_number_for_display(notification) %></td>
            <td class="govuk-table__cell">
              <% url = responsible_person_notification_draft_path(@responsible_person, notification) %>
              <a href="<%= url %>" class="govuk-link govuk-link--no-visited-state">Continue<span class="govuk-visually-hidden"> <%= notification.product_name %></span></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>
