<div class="govuk-!-margin-top-5 opss-2-col-flow">
  <dl class="govuk-!-margin-top-0 govuk-!-margin-bottom-0 opss-definition-list opss-definition-list--left">
    <% ingredients.each do |ingredient| %>
      <div class="govuk-!-margin-bottom-4">
        <dt class="govuk-!-font-weight-bold"><%= ingredient.inci_name %></dt>
        <% if ingredient.cas_number.present? %>
          <dd><abbr>CAS</abbr>: <%= ingredient.cas_number %> </dd>
        <% end %>
        <% if ingredient.exact_concentration.present? %>
          <dd><% if ingredient.multi_shade? && ingredient.used_for_multiple_shades? %>Maximum concentration: <% end %><%= ingredient.exact_concentration %>%&nbsp;<abbr>w/w</abbr></dd>
        <%
          # range_concentration will be removed when the legacy data has been migrated
          # to minimum / maximum
        %>
        <% elsif ingredient.range_concentration.present? %>
          <% range = ingredient_concentration_range(ingredient.range_concentration) %>
          <% if range.upto.present? %>
            <% if range.above.present? %>
               <dd>Above <%= range.above %>%&nbsp;<abbr>w/w</abbr></dd>
               <dd>Up to <%= range.upto %>%&nbsp;<abbr>w/w</abbr></dd>
            <% else %>
               <dd>Up to and including <%= range.upto %>%&nbsp;<abbr>w/w</abbr></dd>
            <% end %>
          <% end %>
        <%
          # Minimum/Maximum replaces range_concentation
        %>
        <% elsif ingredient.range? %>
          <% if ingredient.minimum_concentration == ingredient.maximum_concentration %>
            <dd><% if ingredient.multi_shade? && ingredient.used_for_multiple_shades? %>Maximum concentration: <% end %> <%= ingredient.maximum_concentration %>%&nbsp;<abbr>w/w</abbr></dd>
          <% else %>
            <dd>Minimum range: <%= ingredient.minimum_concentration %>%&nbsp;<abbr>w/w</abbr></dd>
            <dd>Maximum range: <%= ingredient.maximum_concentration %>%&nbsp;<abbr>w/w</abbr></dd>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </dl>
</div>
