<nav class="govuk-grid-column-one-quarter govuk-!-padding-right-0" aria-label="Secondary">
  <a href="#page-content" class="govuk-skip-link opss-skip-link">
    Skip to the main content
  </a>

  <ul class="govuk-list opss-left-nav">
    <li class="<%= "opss-left-nav__active" if params[:controller] == "responsible_persons/notifications" %>">
      <a href="<%= responsible_person_notifications_path(@responsible_person) %>" class="govuk-link govuk-link--no-visited-state" <%= 'aria-current="page"' if params[:controller] == "responsible_persons/notifications" %>>
        Product notifications
      </a>
    </li>
    <li class="<%= "opss-left-nav__active" if params[:controller] == "responsible_persons/draft_notifications" %> govuk-!-margin-bottom-6">
      <a href="<%= responsible_person_draft_notifications_path(@responsible_person) %>" class="govuk-link govuk-link--no-visited-state" <%= 'aria-current="page"' if params[:controller] == "responsible_persons/draft_notifications" %>>
        Draft notifications
      </a>
    </li>
  </ul>
</nav>
