<% content_for :page_title, "Cosmetic products" %>
<% content_for :after_header do %>
  <%= render "layouts/navbar" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-6">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds opss-desktop-min-height--xs">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="cosmetic-products-hint">
          Product notifications
        </h1>
        <p id="cosmetic-products-hint" class="govuk-body opss-secondary-text govuk-!-margin-bottom-1">
          These are your notified cosmetic products.
        </p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
        <a href="<%= new_responsible_person_draft_path(@responsible_person) %>" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset">
          Add a cosmetic product
        </a>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <%= render 'responsible_persons/notifications/notification_nav' %>
  <section id="page-content" class="govuk-grid-column-three-quarters" role="region" aria-label="Notified products">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-0">
          There are currently <%= (count = @registered_notifications.total_count) > 0 ? count : 'no' %> notified cosmetic products.
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="opss-text-align-right">
          <% if @registered_notifications.present? %>
            <a href="<%= responsible_person_notifications_path(@responsible_person, format: :csv) %>" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-14 opss-text-underline-offset" download="">
              <span class="opss-download-link-sm"></span>Download a <abbr title="Comma-Separated Values">CSV</abbr> file
            </a>
          <% end %>
        </div>
      </div>
    </div>

    <% if @registered_notifications.total_count.zero? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body govuk-!-margin-bottom-7">
            <%= @responsible_person.name %> has not submitted any cosmetic product notifications in Great Britain (<abbr>GB</abbr>).
            All cosmetic products sold or given away in <abbr>GB</abbr> must be notified in <abbr>GB</abbr>.
          </p>
        </div>
      </div>
    <% end %>

    <%= render 'complete_notifications_table' if @registered_notifications.present? %>
    <%= paginate @registered_notifications, views_prefix: 'pagination', nav_class: 'opss-pagination-link--no-top-border' %>
  </section>
</div>
