<% content_for :page_title, "Product details" %>
<% content_for :after_header do %>
  <%= link_to "Back", responsible_person_notifications_path(@responsible_person, anchor: "notified"), class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l responsible-person-notification-name">
      <%= @notification.product_name %>
    </h1>

    <%= render "notifications/product_overview", notification: @notification %>
  </div>

  <div class="govuk-grid-column-full">
    <%= render "notifications/responsible_person_details", responsible_person: @notification.responsible_person %>
    <%= render "notifications/contact_person_overview", contact_person: @responsible_person.contact_persons.first %>
    <%= render "notifications/product_details", notification: @notification, allow_edits: false %>
  </div>

  <% if @notification.can_be_deleted? %>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-margin-bottom-1">You have <%= Notification::DELETION_PERIOD_DAYS %> days from the date you submitted your notification to delete it. You should only do this if your notification contains wrong information.</p>
      <%= link_to "Delete this cosmetic product notification", delete_responsible_person_delete_notification_path(@responsible_person, @notification), class: 'govuk-link govuk-link--no-visited-state govuk-!-font-size-19' %>
    </div>
  <% end %>
</div>
