<% content_for :page_title, safe_join(["Product details: ", @notification.product_name]) %>
<% content_for :after_header do %>
  <%= link_to "Back", @back_link, class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Notified product: </span>
          <%= @notification.product_name %>
          <% if @notification.archived? %>
            <%= govukTag(text: "Archived", classes: "govuk-tag--grey") %>
          <% end %>
        </h1>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="opss-text-align-right govuk-!-margin-bottom-8">
          <%= govukButton(text: "Copy this notification", href: new_responsible_person_notification_clone_path(@responsible_person, @notification), classes: "govuk-button--secondary") %>
        </div>
      </div>
    </div>
    <% if @notification.can_be_deleted? %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <%= govukWarningText(
            iconFallbackText: "Warning",
            text: "You have #{Notification::DELETION_PERIOD_DAYS} days from the date you submitted your notification to delete it. You should only do this if your notification contains wrong information."
          )%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <article class="govuk-grid-column-three-quarters">
    <%= render("product_details", notification: @notification) %>
  </article>

  <%= render("aside_responsible_person_details", responsible_person: @responsible_person) %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-4">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <% if @notification.archived? %>
          <%= govukButton(text: "Unarchive this notification", href: responsible_person_notification_unarchive_path(@responsible_person, @notification), classes: "govuk-button--secondary") %>
        <% elsif false # TODO: Enable back to 'else' when re-introducing archiving %>
          <%= govukButton(text: "Archive this notification", href: responsible_person_notification_archive_path(@responsible_person, @notification), classes: "govuk-button--secondary") %>
        <% end %>
        <% if @notification.can_be_deleted? %>
          <%= govukButton(text: "Delete this notification", href: delete_responsible_person_delete_notification_path(@responsible_person, @notification), classes: "govuk-button--warning") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
