<% content_for :page_title, safe_join(["Product details: ", @notification.product_name]) %>
<% content_for :after_header do %>
  <%= link_to "Back", responsible_person_notifications_path(@responsible_person, page: params[:page]), class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Notified product: </span>
          <%= @notification.product_name %>
        </h1>
      </div>
      <% if @notification.can_be_deleted? %>
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-7">
          <%= link_to "Delete this notification",
              delete_responsible_person_delete_notification_path(@responsible_person, @notification),
              class: "govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @notification.can_be_deleted? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <%= govukWarningText(
        iconFallbackText: "Warning",
        text: "You have #{Notification::DELETION_PERIOD_DAYS} days from the date you submitted your notification to delete it. You should only do this if your notification contains wrong information."
      )%>
    </div>
  </div>
<% end %>

<div class="govuk-grid-row">
  <article class="govuk-grid-column-three-quarters">
    <%= render("product_details", notification: @notification, allow_edits: false) %>
  </article>

  <%= render("aside_responsible_person_details", responsible_person: @responsible_person) %>
</div>
