<% title = "Remove Nanomaterial" %>
<% question = "Select which nanomaterial(s) to remove" %>

<% page_title title, errors: @form.errors.any? %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: responsible_person_notification_draft_path(@notification.responsible_person, @notification) %>
<% end %>

<%
  items = @notification.nano_materials.order(:created_at).each_with_index.map do |nano_material, i|
    hint = if nano_material.components.present?
             { text: "Included in item(s): #{nano_material.components.map(&:name).join(', ')}.",
               classes: 'govuk-checkboxes__hint govuk-!-font-size-16' }
           end

    { name: 'responsible_persons_notifications_delete_nano_material_form[nano_material_ids][]',
      text: nano_material.inci_name.presence || "Nanomaterial ##{i+1}",
      value: nano_material.id,
      key: :nil, # TODO: investigate design library to get rid of required key attribute
      id: "nano-#{nano_material.id}",
      disable_ghost: true,
      hint: hint }
  end
%>

<% hint_text = tag.p('The selected nanomaterial(s) will be removed and deleted from this draft. If you delete all of them you can add nanomaterials to the draft by completing the first task again.', class: 'govuk-body opss-secondary-text') %>

<% if @notification.nano_materials.any? { |n| n.components.present? } %>
  <% hint_text += tag.p('You can complete individual item tasks again to include nanomaterials you have created.', class: 'govuk-body opss-secondary-text') %>
<% end %>

<%= form_with model: @form, url: responsible_person_notification_draft_delete_nano_material_path(@notification.responsible_person, @notification), html: { novalidate: true }, method: :delete do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <% if @form.errors.present? %>
        <%= govukErrorSummary(titleText: "There is a problem", errorList: [{text: @form.errors.messages[:nano_material_ids][0], href: "#nano-#{@notification.nano_materials.first.id}"}] ) %>
      <% end %>
      <%= form.hidden_field "nano_material_ids[]" %>
      <%= govukCheckboxes(form: form,
                          key: :nano_material_ids,
                          classes: "govuk-!-margin-top-7",
                          fieldset: { legend: { text: question, classes: "govuk-label--l", isPageHeading: true } },
                          items: items,
                          hint: { text: hint_text, classes: 'govuk-!-width-three-quarters' }) %>
      <div class="govuk-button-group">
        <%= govukButton text: "Delete and continue" %>

        <a class="govuk-link govuk-link--no-visited-state" href="<%= responsible_person_notification_draft_path(@notification.responsible_person, @notification) %>">Cancel</a>
      </div>
    </div>
  </div>
<% end %>
