<h1 class="heading-xlarge">Resend unlock instructions</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, :class => "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Resend unlock instructions", :class => "button" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
