<h3 class="govuk-heading-m"><%= user.email %></h3>
<%= form_for(user) do |form| %>
    <div class="govuk-form-group">
        <div class="govuk-checkboxes">
            <% Role.all.each do |role| %>
                <div class="govuk-checkboxes__item">
                    <%= check_box_tag "user[_roles][]", role.name, user.has_role?(role.name), "aria-label" => role.name, class: "govuk-checkboxes__input" %>
                    <%= label role.name, role.name, class: "govuk-label govuk-checkboxes__label" %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="govuk-form-group">
        <%= form.submit "Update", :class => "govuk-button" %>
    </div>
<% end %>
<div class="govuk-form-group">
    <%= link_to("Delete", user_path(user),
            :data => { :confirm => "Are you sure?" },
            :method => :delete) unless user == current_user %>
</div>
