<td>
    <%= user.email %>
</td>
    <%= form_for(user) do |form| %>
        <% Role.all.each do |role| %>
            <td>
                <%= check_box_tag "user[_roles][]", role.name, user.has_role?(role.name), "aria-label" => role.name %>
            </td>
        <% end %>
        <td>
            <%= form.submit "Update", :class => "button" %>
        </td>
    <% end %>
<td>
    <%= link_to("Delete user", user_path(user),
            :data => { :confirm => "Are you sure?" },
            :method => :delete,
            :class => 'button-warning') unless user == current_user %>
</td>