<% title = "What is the pH range of the product?" %>
<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= link_to "Back", previous_wizard_path, class: "govuk-back-link" %>
<% end %>


<%= form_with model: @component, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "form_components/govuk_error_summary", form: form %>

      <%= render "form_components/govuk_radios", form: form, key: :ph,
        fieldset: { legend: { text: title, classes: "govuk-fieldset__legend--xl", isPageHeading: true } },
        hint: { text: local_assigns[:hint] },
        items: [{ text: "The minimum pH is 3 or higher, and the maximum pH is 10 or lower", value: "between_3_and_10" },
          { text: "The minimum pH is lower than 3", value: "lower_than_3" },
          { text: "The maximum pH is higher than 10", value: "above_10" },
          { text: "It does not have a pH", value: "not_applicable" }]
      %>

      <%= govukButton text: "Continue" %>
    </div>
  </div>
<% end %>
