<% title = "You cannot currently notify products containing #{@nano_element.inci_name}" %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= title %></h1>

    <%= yield %>

    <h2 class="govuk-heading-m">New ingredients used as colourants, <abbr title='Ultraviolet'>UV</abbr>-filters, or preservatives</h2>

    <p class="govuk-body">
      For all new ingredients which are used as colourants, <abbr title='Ultraviolet'>UV</abbr>-filters, or preservatives,
      so not listed in Annex 4, 5 or 6, a safety dossier must be submitted to <abbr title='Office for Product Safety and Standards'>OPSS</abbr> for safety assessment.
      This also applies to nanomaterials.
    </p>

    <p class="govuk-body">
      There is technical guidance on what needs to be submitted in a safety dossier for nanomaterials and what needs to be submitted in a safety dossier for all other ingredients.
      There is also a checklist detailing the information required for a safety dossier.
      Details of what is required can be found on the
      <%= link_to "GOV.UK guidance page",
                  "https://www.gov.uk/guidance/making-cosmetic-products-available-to-consumers-in-great-britain#making-cosmetic-products-safe-for-users",
                  class: "govuk-link govuk-link--no-visited-state",
                  target: "_blank" %>.
    </p>

    <p class="govuk-body">
      Safety dossiers must be submitted to the <abbr title='Office for Product Safety and Standards'>OPSS</abbr> Safety Assessment inbox:
      <%= mail_to "opss.safetyassessment@beis.gov.uk", nil, class: "govuk-link govuk-link--no-visited-state" %>.
    </p>

    <p class="govuk-body">
      Go to <%= link_to "your cosmetic products", responsible_person_notifications_path(current_responsible_person), class: "govuk-link govuk-link--no-visited-state" %>.
    </p>
  </div>
</div>
