<section class="govuk-grid-column-one-quarter govuk-!-padding-right-0">


   <%= form_for(@search_form, url: poison_centre_notifications_path, method: :get, html: { novalidate: true , id: 'new_notification_search_form_filters' }) do |form| %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Filter the results by<span class="govuk-visually-hidden">:</span>
          </h2>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label" for="notification_search_form_category">
            Product category
          </label>
          <%= form.select :category, @search_form.class::CATEGORIES, { include_blank: "All" },  class: "govuk-select" %>
          <%= form.hidden_field :q, id: :notification_search_form_q_hidden %>
          <%= form.hidden_field :sort_by, id: 'notification_search_form_sort_by_date_filter_hidden' %>
        </div>
        <div class="govuk-radios govuk-radios--small govuk-radios--conditional opss-radios--tight" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <%= form.radio_button :date_filter, @search_form.class::FILTER_BY_DATE_EXACT, 'class' => "govuk-radios__input", 'id' => "by-date", 'aria-describedby' => "by-date-hint", 'aria-controls' => "conditional-date-block-1" %>
            <label class="govuk-label govuk-radios__label" for="by-date">
              Date
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden <%= search_date_filter_group_error_class(:date_exact) %>" id="conditional-date-block-1">
            <div class="govuk-form-group">

              <div id="by-date-hint" class="govuk-hint govuk-!-font-size-16">
                The date notified. <br>
                For example, 14 08 2019.
              </div>

              <%= render partial: 'date_filter_input', locals: { attribute: :date_exact, id: 'by-date' } %>
            </div>
          </div>
          <div class="govuk-radios__item">
            <%= form.radio_button :date_filter, @search_form.class::FILTER_BY_DATE_RANGE, 'class' => "govuk-radios__input", 'id' => "by-date-range", 'aria-describedby' => "by-date-hint", 'aria-controls' => "conditional-date-block-2" %>
            <label class="govuk-label govuk-radios__label" for="by-date-range">
              Date range
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden <%= search_date_filter_group_error_class(:date_from, :date_to) %>" id="conditional-date-block-2">
            <div class="govuk-form-group">

              <div id="by-date-range-hint" class="govuk-hint govuk-!-font-size-16">
                The date notified within a date range. For example, from <span class="opss-no-wrap">01 04 2019</span> to <span class="opss-no-wrap">30 09 2020</span>.
              </div>
              <div class="govuk-hint govuk-!-font-size-16">
                From<span class="govuk-visually-hidden">:</span>
              </div>

              <%= render partial: 'date_filter_input', locals: { attribute: :date_from, id: 'by-date-form-day' } %>
              <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-4 govuk-!-margin-bottom-3">
                To<span class="govuk-visually-hidden">:</span>
              </div>
              <%= render partial: 'date_filter_input', locals: { attribute: :date_to, id: 'by-date-to-day' } %>


            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Apply
      </button>
      <button type="reset" class="govuk-button govuk-!-font-size-16 opss-button-link" id="opss-reset">
        Reset
      </button>
    </div>
  <% end %>
</section>
