<section class="govuk-grid-column-two-thirds" id="search-results-section">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><%= pluralize(@result.results.total, 'product') %> <%= display_keywords %> <%= display_filters_informations %> <%= @result.results.total == 1 ? "was found." : "were found." %></p>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group opss-text-align-right">
        <%= render partial: 'sort_form' %>
      </div>
    </div>
  </div>

  <% if results.present? %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" role="region" aria-label="search-results-list" id="results-order">
        <ul class="govuk-list opss-list--borders">
          <% results.each do |notification| %>
            <%= render "registered_product", notification: notification %>
          <% end %>
        </ul>
        <%= paginate @notifications, views_prefix: 'pagination' %>
      </div>
    </div>
  <% end %>
</section>
