<% title = "Check your phone" %>
<% page_title(title, errors: @secondary_authentication_form.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= error_summary @secondary_authentication_form.errors %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">
      <% if @secondary_authentication_form.operation == SecondaryAuthentication::INVITE_USER %>
        You need to confirm your identity. We have sent you a security code by text message.
      <% else %>
        We have sent you a security code by text message
      <% end %>
    </p>

    <%= form_tag(secondary_authentication_path, :method => :post, novalidate: true) do %>
      <%= hidden_field_tag 'secondary_authentication_form[user_id]', @secondary_authentication_form.user_id %>
      <%= render "components/govuk_input",
          id: "otp_code", name: "secondary_authentication_form[otp_code]",
          type: "text",
          classes: "govuk-input--width-5",
          label: { text: "Enter security code" },
          attributes: { pattern: "[0-9]*", inputmode: "numeric" },
          errorMessage: format_errors_for(@secondary_authentication_form, @secondary_authentication_form.errors.full_messages_for(:otp_code)),
          autocomplete: "one-time-code" %>

      <%= govukButton(text: "Continue") %>
    <% end %>

    <div class="govuk-body">
      <%= link_to "Not received a text message?", new_resend_secondary_authentication_code_path, class: "govuk-link" %>
    </div>
  </div>
</div>
