<% content_for :page_title, "Upload your EU notification files" %>
<% content_for :after_header do %>
  <%= link_to "Back", responsible_person_add_notification_path(@responsible_person, :do_you_have_files_from_eu_notification),
          class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: responsible_person_notification_files_path(@responsible_person),
      method: :post,
      data: { "max-number-of-files": NotificationFile::MAX_NUMBER_OF_FILES },
      id: "file-upload-form",
      local: true do |form| %>

        <span class="error-summary-js">
          <% if @errors.blank? %>
            <%= govukErrorSummary(titleText: "There is a problem",
              errorList: [{ text: "You can only select up to " \
              "#{NotificationFile::MAX_NUMBER_OF_FILES} files at the same time",
                href: "#uploaded_files" }]) %>
          <% end %>
        </span>
        <span id="error-summary">
          <% if @errors.present? %>
            <%= govukErrorSummary(titleText: "There is a problem", errorList: @errors) %>
          <% end %>
        </span>

        <h1 class="govuk-heading-l">Upload your EU notification files</h1>

        <div class="govuk-body-m">
          <p>You can upload up to <%= NotificationFile::MAX_NUMBER_OF_FILES %> files at a time.</p>

          <p>To choose multiple files, hold the ‘Shift’ key when selecting them.</p>
        </div>


        <div class="govuk-form-group <%= "govuk-form-group--error" if @errors.present? %>" id="file-upload-form-group">

          <%= form.label :uploaded_files, "Upload EU notification files", class: "govuk-label govuk-!-font-weight-bold" %>
          <span class="govuk-error-message" id="file-upload-error-message">
            <%= @errors.last[:text] if @errors.present? %>
          </span>

          <%= form.file_field :uploaded_files, multiple: true, accept: "application/zip", class: "govuk-file-upload", direct_upload: true %>
        </div>
        <noscript>
          <div class="govuk-inset-text">
            Your browser does not support Javascript and may stop responding until all files are uploaded. You must wait for your files to upload
          </div>
        </noscript>
        <div class="govuk-form-group">
          <%= form.submit "Continue", data: { disable_with: false }, class: "govuk-button", id: "submit-button" %>
          <button class="govuk-button" id="loading-button" data-module="govuk-button" disabled style='display: none;' role="status" aria-live="assertive" tabindex="-1">
            <span class="spinner"></span>Uploading, please wait
          </button>
        </div>
    <% end %>
  </div>
</div>
