<% content_for :page_title, "Document details - Market Surveillance & Product Safety" %>

<%= link_to "Back to #{@parent.class.name == "Investigation" ? "case" : @parent.class.name.downcase}", polymorphic_path(@parent), class: "govuk-back-link" %>

<%= render "page_heading", title: link_to(@document.metadata["title"], @document) %>

<h3 class="govuk-heading-m document-type-details">
  <span class="document-type">
    <%= @document.metadata["document_type"]&.titleize %>
    <%= " – #{@document.metadata["other_type"].titleize}" if @document.metadata["other_type"].present? %>
  </span>
  <span class="govuk-!-padding-left-2 document-filetype"><%= "(#{document_filetype_label(@document)})" %></span>
</h3>

<%= link_to render("document_image", document: @document), @document, class: "govuk-link document-link" %>

<p class="document-description"><%= @document.metadata["description"] %></p>

<%= link_to "Edit document details", edit_associated_document_path(@parent, @document), class: "govuk-link edit-document-link" %>
