<% title = "Change your email address" %>
<% page_title title, errors: @user.errors.any? %>

<% content_for(:after_header) do %>
  <%= govukBackLink(text: "Back", href: my_account_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= error_summary(@user.errors) %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <%= form_with model: @user, url: my_account_email_path, method: :patch do |form| %>
      <%= render "form_components/govuk_input",
        key: :password,
        type: :password,
        form: form,
        classes: "app-!-max-width-two-thirds",
        label: {
          text: "Password"
        },
        value: nil,
        id: "old_password"
        %>
      <%= render "form_components/govuk_input",
        key: :new_email,
        type: :text,
        form: form,
        classes: "app-!-max-width-two-thirds",
        label: {
          text: "New email address"
        },
        value: nil,
        id: "new_email"
        %>
      <%= govukButton(text: "Continue") %>
    <% end %>
  </div>
</div>
