<% title = "What’s the item called?" %>
<% question = "Item name" %>

<% page_title title, errors: @component.errors.any? %>
<% content_for :after_header do %>
  <%= link_to "Back", responsible_person_notification_draft_index_path(@notification.responsible_person, @notification), class: "govuk-back-link" %>
<% end %>

<h1 class="govuk-heading-l"><%= title %></h1>

<p>Each item must have a different name.</p>

<%= form_with model: @component, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary_for(@component) %>
      <%= render "form_components/govuk_input",
              form: form,
              key: :name,
              label: { text: question, classes: "govuk-label--m" },
              hint: { text: 'For example, ‘cream peroxide’' } %>
      <%= govukButton text: "Continue" %>

    </div>
  </div>
<% end %>
