<% content_for :page_title, "Landing Page" %>
<div class="app-masthead">
  <div class="govuk-width-container">
    <%= render "shared/phase_banner" %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-top-4 govuk-!-margin-bottom-6">
          Submit cosmetic product notifications
        </h1>
        <p class="masthead-account-links govuk-!-padding-top-2 govuk-!-margin-bottom-5">
          <% if @responsible_person.present? %>
            <a class="govuk-button govuk-!-font-weight-bold" role="button" draggable="false"
              href="<%= responsible_person_notifications_path(@responsible_person) %>">
              Your cosmetic products
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="#1d70b8" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </a>
          <% else %>
            <%= govukButton text: "Create an account", href: registration_new_submit_user_path, classes: "govuk-!-font-weight-bold" %>
            or
            <%= link_to "sign in", new_submit_user_session_path, class: "govuk-link govuk-link--no-visited-state" %>
            if you have used this service before
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <% if confirmation %>
    <div class="govuk-!-margin-top-4"></div>
    <%= govukNotificationBanner(text: confirmation, type: "success") %>
  <% end %>

  <main id="main-content" class="govuk-main-wrapper app-main-class" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">Notify the Office for Product Safety and Standards (OPSS) about cosmetic products available to consumers in Great Britain (GB).</p>

        <h2 class="govuk-heading-m">What you need to do</h2>

        <p class="govuk-body">You need to notify OPSS about every cosmetic product available to consumers in GB.</p>

        <%= govukWarningText(
              iconFallbackText: "Warning",
              html: "You may face a fine and a prison term of up to 3 months if you do not notify " \
                    "<abbr title='Office for Product Safety and Standards'>OPSS</abbr> about a cosmetic product. " \
                    "This fine could be unlimited in England and Wales or up to &pound;5,000 in Scotland and Northern Ireland.".html_safe
            ) %>

        <h2 class="govuk-heading-m">What you will need to tell us</h2>

        <p class="govuk-body govuk-!-margin-bottom-2">You will need to tell OPSS:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>what is in the cosmetic product, including certain nanomaterials</li>
          <li>the name and details of a contact person for the National Poisons Information Service, or Trading Standards, to get in touch with</li>
          <li>who the Responsible Person is</li>
        </ul>

        <div class="govuk-inset-text">The Responsible Person is the individual or company responsible for ensuring the regulations are followed. Every cosmetic product placed on the GB market must have a Responsible Person.</div>
      </div>
    </div>
  </main>
</div>
