<% content_for :page_title, "Add new component" %>
<% content_for :after_header do %>
  <%= link_to "Back", previous_wizard_path, class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Kit items</h1>

    <%= form_for(@notification, url: wizard_path, method: :put) do |form| %>
      <% valid_multicomponents = @notification.get_valid_multicomponents %>
      <% valid_multicomponents.each do |valid_component| %>
        <div class="govuk-grid-row">
          <p class="govuk-grid-column-two-thirds"><%= valid_component.name %></p>
          <%= govukButton text: "Remove item", classes: "govuk-button--secondary govuk-grid-column-one-third", value: valid_component.id, name: "remove_component" %>
        </div>
      <% end %>

      <div class="govuk-form-group">
        <button class="govuk-button govuk-button--secondary" type="submit" name="add_component" value="true">
          Add an item
        </button>
      </div>

      <% if valid_multicomponents.length > 1 %>
        <div class="govuk-form-group">
          <%= govukButton text: "Continue" %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
