<% title = "Mixed kit" %>
<% question = "How are the items in the kit used?" %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= link_to "Back", previous_wizard_path, class: "govuk-back-link" %>
<% end %>

<%= form_with model: @notification, url: wizard_path, method: :put do |form| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <%= error_summary_for(@notification, first_values: {components_are_mixed: "true"}) %>
      <%= render "form_components/govuk_radios", form: form, key: :components_are_mixed,
              fieldset: { legend: { text: question, classes: "govuk-fieldset__legend--xl", isPageHeading: true } },
              items: [{ text: "Mixed together", value: "true" },
                      { text: "Used in a particular order", value: "false" }] %>
      <%= govukButton text: "Continue" %>

    </div>
  </div>
<% end %>
