<% title = "What is the nanomaterial INCI name?" %>

<% page_title title, errors: @nano_element.errors.any? %>
<% content_for :after_header do %>
  <%= link_to "Back", responsible_person_notification_draft_path(@notification.responsible_person, @notification), class: "govuk-back-link" %>
<% end %>

<h1 class="govuk-heading-l">
  What is the nanomaterial <abbr title="International Nomenclature for Cosmetic Ingredients">INCI</abbr> name?
</h1>

<%= form_with model: @nano_element, url: responsible_person_notification_nanomaterials_path(@notification.responsible_person, @notification), method: :post do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary_for(@nano_element) %>
      <%= render "form_components/govuk_input",
              form: form,
              key: :inci_name,
              label: { text: "Inci Name", classes: "govuk-label--m" },
              hint: { text: 'This is the International Nomenclature for Cosmetic Ingredients name.' } %>
      <%= govukButton text: "Save and Continue" %>

    </div>
  </div>
<% end %>
