<% title = "Remove item" %>
<% question = "Select which item to remove" %>

<% page_title title, errors: @form.errors.any? %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: responsible_person_notification_draft_path(@notification.responsible_person, @notification) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if @notification.components.count > 2 %>
      <% items = @notification.components.order(:created_at).each_with_index.map { |c, i| { text: (c.name.present? ? c.name : "Item ##{i+1}"), value: c.id } } %>
      <%= form_with model: @form, url: responsible_person_notification_draft_delete_item_path(@notification.responsible_person, @notification), method: :delete do |form| %>
        <%= error_summary_for(@form) %>
        <%= form.hidden_field :component_id %>
        <%= govukRadios(
              form: form,
              key: :component_id,
              classes: "govuk-!-margin-top-7",
              fieldset: { legend: { text: question, classes: "govuk-label--l", isPageHeading: true } },
              items: items,
              hint: { text: 'The item will be removed and deleted from this draft.', classes: 'govuk-!-width-three-quarters' }) %>
        <div class="govuk-button-group">
          <%= govukButton text: "Delete and continue" %>

          <a class="govuk-link govuk-link--no-visited-state" href="<%= responsible_person_notification_draft_path(@notification.responsible_person, @notification) %>">Cancel</a>
        </div>
      <% end %>
    <% else %>
      <h1 class="govuk-heading-m govuk-!-margin-bottom-0">You cannot remove an item</h1>
      <p class="govuk-body opss-secondary-text govuk-!-margin-bottom-7">A multi-item kit product must include 2 or more items.</p>
      <p class="govuk-body">
        This draft product notification has defined the product as being a multi-item kit and currently includes 2 items.
        A product containing only 1 item (or component) is a single item product and is not a multi-item kit product.
      </p>
      <p class="govuk-body">
        To remove an item you must first add a new item.
        <span class="govuk-!-font-weight-bold">If the product is not a multi-item kit product</span>, you will need to
        <%= link_to("delete this draft",
                    delete_responsible_person_delete_notification_path(@notification.responsible_person, @notification),
                    class: "govuk-link govuk-link--no-visited-state") %>.
      </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body">
        Return to the
        <%= link_to("tasks list page",
            responsible_person_notification_draft_path(@notification.responsible_person, @notification),
            class: "govuk-link govuk-link--no-visited-state") %>.
      </p>
    <% end %>
  </div>
</div>
