<!DOCTYPE html>
<html>
<head>
  <title>Shared web</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "shared/web/application", media: "all" %>
  <%= javascript_include_tag "shared/web/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
