<% content_for :page_title, "Add business to investigation - Market Surveillance & Product Safety" %>
<%# The data attribute is used by JS to determine if there is an investigation %>
<div class="investigation-business-page business-search-form"
    data-investigation-id=<%= @investigation.id %>
    data-business-ids=<%= @investigation.business_ids.join(",") %>
    >
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
            <li>
                <a href="/">Home</a>
            </li>
                <li>
                    <%= link_to 'Investigations', investigations_path %>
                </li>
                <li>
                    <%= link_to 'Investigation', @investigation %>
                </li>
                <li>
                    <%= link_to 'Add Business', new_investigation_business_path(@investigation) %>
                </li>
        </ol>
    </div>

    <%= link_to 'Back', @investigation, class: "govuk-back-link link-back" %>

    <h1 class="heading-xlarge">Add business to investigation</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <%= form_with(model: @business, url: new_investigation_business_path(@investigation), local: true, method: :get) do |form| %>
                <%= render 'businesses/core_params', form: form, business: @business %>
                <div class="form-group">
                    <%= form.submit "Create new", :class => "govuk-button" %>
                </div>
            <% end %>
        </div>
        <div class="govuk-grid-column-one-half">
            <%= render 'businesses/suggestions_container' %>
        </div>
    </div>
</div>
