<ul class="govuk-list opss-left-nav">
  <li <%= active_page_class(:notifications_search) %>>
    <a href="<%= root_path %>" class="govuk-link govuk-link--no-visited-state" <%= aria_active(:notifications_search) %>>
      Cosmetic products search
    </a>
  </li>
  <li <%= active_page_class(:ingredients_search) %>>
    <a href="<%= poison_centre_ingredients_search_path %>" class="govuk-link govuk-link--no-visited-state" <%= aria_active(:ingredients_search) %>>
      Ingredients search
    </a>
  </li>
  <% if can_view_ingredients_list? %>
    <li <%= active_page_class(:ingredients_list) %>>
      <a href="<%= poison_centre_ingredients_path %>" class="govuk-link govuk-link--no-visited-state" <%= aria_active(:ingredients_list) %>>
        Ingredients list
      </a>
    </li>
  <% end %>
</ul>
