<% title = @notification.is_multicomponent? ? "Upload images of the item labels" : "Upload an image of the product label" %>
<% page_title title, errors: @error_list.present? %>
<% content_for :after_header do %>
  <%= link_to "Back", previous_wizard_path, class: "govuk-back-link" %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render(partial: "instructions", locals: { title: title }) %>

    <% if @notification.image_uploads.any? %>
      <table class="govuk-table" id="label-images-table">
        <caption class="govuk-table__caption govuk-heading-m">Label images</caption>
        <tbody class="govuk-table__body">
          <% @notification.image_uploads.each do |image| %>
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-width-two-thirds" scope="row">
                  <%= link_to(image.filename, url_for(image.file), class: "govuk-link govuk-link--no-visited-state") %>
                </th>
                <td class="govuk-table__cell">
                  <%= link_to("Remove",
                              responsible_person_notification_draft_delete_product_image_path(@notification.responsible_person, @notification, image_id: image.id),
                              method: :delete) %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= form_with(url: wizard_path, method: :put, multipart: true) do |form| %>
      <div class="govuk-form-group <%= "govuk-form-group--error" if @error_list.present? %>">
        <%= form.label :image_upload, "Upload a file no larger than 30 MB", class: "govuk-label govuk-label--s" %>

        <% if @error_list.present? %>
          <span class="govuk-error-message">
            <%= @error_list.first[:text] %>
          </span>
        <% end %>

        <%= form.file_field :image_upload, multiple: true, accept: ImageUpload.allowed_types.join(", "), class: "govuk-file-upload" %>
      </div>

      <div class="govuk-form-group">
        <%= govukButton text: "Continue" %>
      </div>
    <% end %>
  </div>
</div>
