<% title = "Nanomaterials" %>
<% page_title title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<% if @notification.nano_materials.blank? %>
  <%= form_with model: @notification, url: wizard_path, method: :put do |form| %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= error_summary_for(@notification, first_values: {contains_nanomaterials: "yes"}) %>

        <h1 class="govuk-heading-l"><%= title %></h1>

        <p class="govuk-body govuk-!-margin-bottom-1">A nanomaterial:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>has one or more external dimensions, or an internal structure, with a size ranging from 1 nm to 100 nm</li>
          <li>is insoluble or biopersistent</li>
          <li>is intentionally manufactured</li>
        </ul>

        <% count_input_html = capture do %>
          <%= render "form_components/govuk_input", form: form, key: :nanomaterial_count,
              label: { text: "Nanomaterial count" } %>
        <% end %>
        <%= render "form_components/govuk_radios", form: form, key: :contains_nanomaterials,
                fieldset: { legend: { text: "Does #{@notification.product_name} contain nanomaterials?",
                classes: "govuk-label--m" } },
                items: [{ text: "Yes", value: "yes", conditional: { html: count_input_html },
                      checked: params[:notification].present? && params[:notification][:contains_nanomaterials] == "yes" },
                      { text: "No", value: "no" }] %>
        <%= govukButton text: "Continue" %>

      </div>
    </div>
  <% end %>
<% else %>
  <p class="govuk-inset-text">
    You can add and remove nanomaterials for this notification from product draft page.
    <br />
    <br />
    <%= link_to "Continue", next_step_path, class: "govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset" %>
  </p>
<% end %>
