<%= form_with(url: submission_path, method: submission_method, multipart: true) do |form| %>
  <div class="govuk-form-group <%= "govuk-form-group--error" if @error_list.present? %>">
    <%= form.label :image_upload, "Upload a file no larger than 30 MB", class: "govuk-label govuk-label--s" %>

    <% if @error_list.present? %>
      <span class="govuk-error-message">
        <%= @error_list.first[:text] %>
      </span>
    <% end %>

    <%= form.file_field :image_upload, multiple: true, accept: ImageUpload.allowed_types.join(", "), class: "govuk-file-upload" %>
  </div>

  <div class="govuk-form-group">
    <%= govukButton text: "Save and continue" %>
  </div>
<% end %>
