<% title = "Setup your account" %>
<% page_title(title, errors: @user.errors.any?) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <%= error_summary(@account_security_form.errors,
                      %i[full_name password secondary_authentication_methods app_authentication_code mobile_number],
                      map_errors: { secondary_authentication_methods: :app_authentication }) %>

    <h1 class="govuk-heading-l"><%= title %></h1>

    <%= form_for @account_security_form, url: user_path(@user), method: :patch do |form| %>
      <%= form_input @account_security_form, :full_name %>

      <%#
        This field is to enable password managers to capture the username as
        well as the password, but should not be visible to users, nor should
        the controller process the input.
      %>
      <%= content_tag :div, class: "app-password-manager-hidden" do -%>
        <%= email_field_tag :username, @user.email, disabled: true, tabindex: "-1", 'aria-hidden': true, autocomplete: "username" %>
      <% end -%>

      <%= password_input @account_security_form,
            autocomplete: "new-password",
            hint: { text: "Your password must contain at least 8 characters" } %>

      <%= hidden_field_tag :invitation, params[:invitation] %>

      <% mobile_number_input_html = capture do %>
        <%= form_input @account_security_form,
              :mobile_number,
              hint: { text: "We’ll send you a security code by text message" } %>
      <% end %>

      <% authenticartion_app_setup_html = capture do %>
        <%= hidden_field_tag 'registration_account_security_form[secret_key]', @account_security_form.secret_key %>
        <h2 class="govuk-heading-m">Set up your authenticator app</h2>
        <p clas="govuk-body">Use your authenticator app to scan the QR code below or manually enter the secret key into your authenticator app.</p>
        <div class="govuk-grid-row">
          <p class="govuk-grid-column-one-third"></p>
          <div class="govuk-grid-column-one-third">
            <%= image_tag @account_security_form.qr_code, alt: "Authentication App QR code." %>
          </div>
        </div>
        <p clas="govuk-body">Secret key: <b><%= @account_security_form.decorated_secret_key %></b></p>
        <%= form_input @account_security_form,
                       :app_authentication_code,
                       label: { text: "Enter the access code" },
                       hint: { text: "This is the 6 digit access code shown on your authenticator app." } %>
      <% end %>

      <%= render "form_components/govuk_checkboxes",
            form: form,
            key: :secondary_authentication_methods,
            hint: { text: "Choose one or both options" },
            fieldset: {
              legend: { text: "How do you want to get access codes?",
                        classes: "govuk-label--m",
                        isPageHeading: false }
              },
              items: [
                { id: "app_authentication",
                  key: :app_authentication,
                  text: "Authenticator app for smartphone or tablet",
                  conditional: { html: authenticartion_app_setup_html },
                  checked: @account_security_form.app_authentication_selected? },
                { id: "sms_authentication",
                  key: :sms_authentication,
                  text: "Text message",
                  conditional: { html: mobile_number_input_html },
                  checked: @account_security_form.sms_authentication_selected? }
              ] %>

      <%= govukButton(text: "Continue") %>

    <% end %>
  </div>
</div>
