<% content_for :page_title, "Business addresses - Market Surveillance & Product Safety" %>

<%= link_to 'Back to business', @business, class: "govuk-back-link" %>

<%= render "business_heading", business: @business %>

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Addresses</h2>
<p class="govuk-!-margin-bottom-6"><%= link_to 'New address', new_business_address_path(@business) %></p>

<%= will_paginate @addresses %>
<table>
  <thead>
    <tr>
      <th>Address type</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.address_type %></td>
        <td><%= link_to address.summary, address %></td>
        <td><%= link_to 'Delete', address, method: :delete, data: { confirm: 'Are you sure?' } if policy(address).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= will_paginate @addresses %>
