<% content_for :page_title, "Business addresses - Market Surveillance & Product Safety" %>

<%= link_to 'Back to business', @business, class: "govuk-back-link" %>

<%= render "business_heading", business: @business %>

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Addresses</h2>
<p class="govuk-!-margin-bottom-6"><%= link_to 'New address', new_business_address_path(@business), class: "govuk-link" %></p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Address type</th>
      <th class="govuk-table__header" scope="col">Address</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @addresses.each do |address| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= address.address_type %></td>
        <td class="govuk-table__cell"><%= link_to address.summary, address, class: "govuk-link" %></td>
        <td class="govuk-table__cell"><%= link_to 'Delete', address, method: :delete, data: { confirm: 'Are you sure?' }, class: "govuk-link" if policy(address).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= will_paginate @addresses %>
