<% content_for :page_title, "New Address - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to "Business", business_path(@address.business) %>
        </li>
        <li>
            <%= link_to "Addresses", business_addresses_path(@address.business) %>
        </li>
        <li>
            <%= link_to "New", new_business_address_path(@address.business) %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">New Address</h1>

<%= render 'form', address: @address, business: @address.business %>

<%= link_to 'Back', business_addresses_path(@address.business), :class => "link-back" %>
