<% content_for :page_title, "View address - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to "Business", business_path(@address.business) %>
        </li>
        <li>
            <%= link_to "Addresses", business_addresses_path(@address.business) %>
        </li>
        <li>
            <%= link_to "View", @address %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">
  Address
</h1>
<p>Address for <%= link_to "business", business_path(@address.business) %>.</p>

<h4 class="heading-small">
  Address type
</h4>
<p>
  <%= @address.address_type %>
</p>

<h4 class="heading-small">
  Source
</h4>
<p>
  <%= @address.source.show %>
</p>

<table>
  <tbody>
    <tr>
      <td>Address type</td>
      <td><%= @address.address_type %></td>
    </tr>
    <tr>
      <td>Line 1</td>
      <td><%= @address.line_1 %></td>
    </tr>
    <tr>
      <td>Line 2</td>
      <td><%= @address.line_2 %></td>
    </tr>
    <tr>
      <td>Locality</td>
      <td><%= @address.locality %></td>
    </tr>
    <tr>
      <td>Country</td>
      <td><%= @address.country %></td>
    </tr>
    <tr>
      <td>Postal code</td>
      <td><%= @address.postal_code %></td>
    </tr>
    <tr>
      <td>Source</td>
      <td><%= @address.source.show %></td>
    </tr>
  </tbody>
</table>
<br /><br />

<% if policy(@address).update? %>
  <div class="form-group">
    <%= link_to 'Edit', edit_address_path(@address) %>
  </div>
<% end %>

<%= link_to 'Back', business_addresses_path(@address.business), :class => "link-back" %>

<%= render 'history', versions: @address.versions %>
