<% content_for :page_title, "View address - Market Surveillance & Product Safety" %>

<%= link_to 'Back to addresses', business_addresses_path(@business), :class => "govuk-back-link" %>

<%= render "business_heading", business: @business %>
<h2 class="govuk-heading-l"><%= @address.address_type %></h2>

<div class="govuk-grid-row govuk-!-padding-bottom-6">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Address details</h3>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Source</th>
          <td class="govuk-table__cell"><%= @address.source.show %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Line 1</th>
          <td class="govuk-table__cell"><%= @address.line_1 %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Line 2</th>
          <td class="govuk-table__cell"><%= @address.line_2 %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Locality</th>
          <td class="govuk-table__cell"><%= @address.locality %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Country</th>
          <td class="govuk-table__cell"><%= @address.country %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Postal code</th>
          <td class="govuk-table__cell"><%= @address.postal_code %></td>
        </tr>
      </tbody>
    </table>

    <% if policy(@address).update? %>
      <%= link_to 'Edit details', edit_address_path(@address) %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-bottom-6">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">History</h3>
    <%= render 'history', versions: @address.versions %>
  </div>
</div>
