<% title = "Exposure routes" %>
<% question = "How is the user likely to be exposed to the nanomaterials?" %>
<% exposure_routes = @nano_material.exposure_routes %>
<% items = NanoMaterial.exposure_routes_options.map { |route|
  { key: route, text: get_exposure_route_name(route), checked: exposure_routes&.include?(route.to_s) }
} %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<%= form_with model: @nano_material, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <% if @nano_material.errors.messages.include?(:exposure_routes) %>
        <%= govukErrorSummary(titleText: "There is a problem", errorList: [{text: @nano_material.errors.messages[:exposure_routes][0], href: "#nano_material_dermal"}] ) %>
      <% end %>
      <%= render "form_components/govuk_checkboxes", form: form, key: :exposure_routes,
              fieldset: { legend: { text: question, classes: "govuk-label--l", isPageHeading: true } },
              items: items %>
      <%= govukButton text: "Continue" %>

    </div>
  </div>
<% end %>
