<% title = "List the shades #{@component_name} is available in" %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<%= form_with model: @component, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary_for(@component) %>
      <%= render "components/govuk_fieldset", legend: { text: title, classes: "govuk-label--l", isPageHeading: true } %>

        <% @component.shades.each_with_index do |shade, _index| %>
          <div class="govuk-form-group">
            <%= form.text_field :shades, multiple: true, value: shade,
                    class: "govuk-input govuk-input--width-20 shade-input" %>

            <%= govukButton text: "Remove", name: "remove_shade_with_id", value: "_index", classes: "govuk-button--secondary" %>
          </div>
        <% end %>
      <div class="govuk-form-group">
        <%= govukButton text: "Add another", classes: "govuk-button--secondary", name: "add_shade", value: "true" %>
      </div>

      <div class="govuk-form-group">
        <%= govukButton text: "Continue" %>
      </div>

    </div>
  </div>
<% end %>
