<% title = "Poisonous ingredients" %>
<% question = "Does the product contain any poisonous ingredients?" %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<div class="govuk-grid-row">

  <%= form_with model: @component, url: wizard_path, method: :put do |form| %>

    <%= error_summary_for(@component, first_values: {contains_poisonous_ingredients: "true"}) %>

    <%= render 'poisonous_ingredients' %>

    <%= render "form_components/govuk_radios", form: form, key:   :contains_poisonous_ingredients,
            fieldset: { legend: { text: question, classes: "govuk-fieldset__legend--m", isPageHeading: false } },
            items: [{ text: "Yes", value: "true" },
                    { text: "No", value: "false" }] %>

    <%= govukButton text: "Continue" %>
  <% end %>
</div>

