<% title = "Carcinogenic, mutagenic or reprotoxic substances" %>
<% question = "Does #{@component_name} contain category 1A or 1B CMR substances" %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @component, url: wizard_path, method: :put do |form| %>
      <%= error_summary_for(@component, first_values: {contains_cmrs: "yes"}) %>

      <h1 class="govuk-heading-l"><%= title %></h1>

      <p class="govuk-!-margin-bottom-2">
        Carcinogenic, mutagenic or reprotoxic (CMR) substances can cause or promote cancers, cause genetic mutations or damage the reproductive process.</p>

      <p class="govuk-!-margin-bottom-2">
        CMR substances are classified into 3 categories:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>1A – known to be CMRs, based on human studies</li>
        <li>1B – presumed to be CMRs, based on animal studies</li>
        <li>2 – suspected to be CMRs, based on some human or animal studies</li>
      </ul>

      <%= render "form_components/govuk_radios", form: form, key: :contains_cmrs,
              fieldset: { legend: { text: question, classes: "govuk-label--m" } },
              items: [{ text: "Yes", value: :yes },
                      { text: "No", value: :no }] %>
      <%= govukButton text: "Continue" %>
    <% end %>
  </div>
</div>
