<% title = "Select formulation type" %>
<% question = "How do you want to give the formulation of #{@component_name}?" %>
<% items = formulations_types_label.map { |type_key, type_text| { text: type_text, value: type_key.to_sym } } %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<%= form_with model: @component, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary_for(@component, first_values: {notification_type: items[0][:value]}) %>
      <%= render "form_components/govuk_radios", form: form, key: :notification_type,
              fieldset: { legend: { text: question, classes: "govuk-fieldset__legend--l", isPageHeading: true } },
              items: items %>
      <%= govukButton text: "Continue" %>
    </div>
  </div>
<% end %>
