<% content_for :page_title, "Upload formulation document" %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: responsible_person_notifications_path(@responsible_person, anchor: "incomplete") %>
<% end %>

<%= form_with url: responsible_person_notification_component_formulation_index_path(@responsible_person, @notification, @component), method: :post do |form| %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @error_list.present? %>
        <%= govukErrorSummary(titleText: "There is a problem", errorList: @error_list) %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <% if @component.exact? %>
      <%= render 'responsible_persons/wizard/component_build/exact_concentration' %>
    <% elsif @component.range? %>
      <%= render 'responsible_persons/wizard/component_build/ranges_concentration' %>
    <% else %>
      <p>This can be either as ranges or the exact concentration.</p>
      <p>For each ingredient give the International Nomenclature of Cosmetic Ingredients (INCI) name.</p>
    <% end %>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group <%= "govuk-form-group--error" if @error_list.present? %>">
        <%= form.label :formulation_file, "File type can be a ‘pdf’, ‘rtf’ or ‘txt’.", class: "govuk-label" %>

        <% if @error_list.present? %>
          <span class="govuk-error-message"><%= @error_list.first[:text] %></span>
        <% end %>

        <%= form.file_field :formulation_file, class: "govuk-file-upload", accept: Component.allowed_types.map(&method(:get_filetype_extension)).join(",") %>
      </div>


      <div class="govuk-form-group">
        <%= govukButton text: "Continue" %>
      </div>

    </div>
  </div>
<% end %>
