<h2 class="govuk-heading-m">Change your cookie settings</h2>
<%= form_for @cookie_form, url: cookie_form_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <div class="govuk-form-group">
    <%= f.govuk_radio_buttons_fieldset(:accept_analytics_cookies, legend: { size: 's', text: "Do you want to accept analytics cookies?" }) do %>
      <%= f.govuk_radio_button :accept_analytics_cookies, "true", label: { text: 'Yes' }, link_errors: true %>
      <%= f.govuk_radio_button :accept_analytics_cookies, "false", label: { text: 'No' } %>
    <% end %>
  </div>
  <%= f.hidden_field :referrer_is_cookie_policy_page, value: true %>
  <%= f.govuk_submit "Save cookie settings" %>
<% end %>
