<% title = "Privacy policy" %>
<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p>This Privacy Notice applies from 8 April 2019.</p>

    <h1 class="govuk-heading-xl"><%= title %></h1>

    <h2 class="govuk-heading-m">Who we are</h2>

    <p>The Office of Product Safety and Standards (OPSS) is part of the Department for Business, Energy and Industrial Strategy (BEIS) and responsible for operating the Cosmetic product notifications service. The OPSS is the data controller for the Cosmetic product notifications service. The Cosmetic product notifications service is a new system for maintaining a database of cosmetic products in the UK.</p>

    <h2 class="govuk-heading-m">Our Privacy Commitment</h2>

    <p>
      OPSS is committed to protecting your privacy. This “Privacy Notice”, explains what personal information
        we collect about you either directly or indirectly and how we use, share and look after that information
        for the Cosmetic product notifications service. We encourage you to review this Privacy Notice carefully.
        In addition to the commitments set out in this Privacy Notice, we operate in accordance with a set of data
        privacy rules which apply to the processing of all personal data by the entire Department of BEIS. These
        privacy rules can be found at the <%= link_to "BEIS Personal Information Charter", "https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy/about/personal-information-charter" %>.</p>

    <h2 class="govuk-heading-m">Other Websites</h2>

    <p>
      This Privacy Notice only applies when you are using the Cosmetic product notifications service and
        alternative privacy notices may apply when you are using other sections of
      <%= link_to "https://www.gov.uk/", "https://www.gov.uk/" %>. For example, if you are using the OPSS section of
      <%= link_to "https://www.gov.uk/", "https://www.gov.uk/" %>, the following
      <%= link_to "privacy notice", "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/773329/safety-and-standards-privacy-notice.pdf" %> will apply.
    </p>


    <h2 class="govuk-heading-m">What Personal Data is</h2>

    <p>
      Personal Data is any information which we collect about you that can be used to identify you and includes any information, such as your name, address, IP address.
    </p>

    <p>
      It is our intention to provide you with as much information as possible about what we do with that Personal Data, so that when you provide the Personal Data to us, you do so with an awareness of how it will be used.
    </p>

    <h2 class="govuk-heading-m">What Personal Data we collect</h2>

    <p>We collect the following Personal Data:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>name, email address and telephone number of all users who create an account</li>
      <li>address and name of the ‘responsible person’</li>
      <li>name, email address and phone number of the ‘contact person’</li>
      <li>questions, queries or feedback you might provide if you contact us</li>
      <li>internet Protocol (IP) address, and details of which version of web browser used.</li>
      <li>information on how the site, cookies and page tagging techniques are used (please see the analytics section below for more information).</li>
    </ul>

    <h2 class="govuk-heading-m">What Special Categories Personal Data we collect</h2>

    <p>
      We do not process Special Categories Personal Data in relation to the Cosmetic product notifications service. If this changes you will be notified of the details of any such processing and the legal basis on which we rely to do so.
    </p>

    <h2 class="govuk-heading-m">How we collect your Personal Data</h2>

    <p>We collect Personal Data from various sources including:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>from you directly when you use the Cosmetic product notifications service</li>
      <li>from third parties who are acting on your behalf when they use the Cosmetic product notifications service</li>
    </ul>

    <h2 class="govuk-heading-m">How we use your Personal Data</h2>

    <p>We use your information for the following purposes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to identify and/or contact you and/or your company to monitor compliance with legislation
          (i.e. manufacturing cosmetic products safely).</li>
      <li>to identify and/or contact you and/or your company for potential enforcement action relating
          to a cosmetic product.</li>
      <li>to contact about healthcare issues relating to a cosmetic product.</li>
    </ul>


    <h2 class="govuk-heading-m">How we use analytics</h2>

    <p>We may use analytics software, such as Google Analytics, to collect information about how the website is used.
        We do this to help make sure the site is meeting the needs of its users and to help us make improvements, for
        example improving site search. Google Analytics stores information about: the pages you visit, how long you
        spend on each page, how you got to the site, and what you click on while you’re visiting the site. We do not
        collect or store your personal information as part of the analytics process so this information cannot be used
        to identify who you are. We also collect data in order to: improve the site by monitoring how you use it,
        gather feedback to improve our services, for example our email alerts, respond to any feedback you send us,
        if you’ve asked us to, send email alerts to users who request them, allow you to access the Cosmetic product
        notifications service and enter data as well as provide you with information.</p>

    <h2 class="govuk-heading-m">What Legal Basis we rely on</h2>

    <p>For all processing of Personal Data in relation to the Cosmetic product notifications service our legal basis
        for processing is the performance of a task in the public interest that is set out in law and is statute based
        namely the draft Product Safety and Metrology etc. (Amendment) (EU-Exit) Regulations 2019.</p>

    <h2 class="govuk-heading-m">How we share your data</h2>

    <p>We share your personal data (specifically contact person, and responsible person) in the following ways:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>With the National Poisons Information Service (NPIS) for healthcare purposes</li>
      <li>With Market Surveillance Authorities for investigating or alerting people to product safety issues</li>
      <li>Where we use third party service providers who process personal data on our behalf in order to provide
          services to us, for example, our IT services provider</li>
      <li>With scientific advisers that offer opinions to the Secretary of State on cosmetic ingredients</li>
      <li>With other government departments for reporting purposes</li>
      <li>If we are required to do so as part of our regulatory oversight enforcement operations or by law –
          for example, by court order, or to prevent fraud or other crime.</li>
    </ul>

    <p>We ensure that any third parties with whom we share Personal Data to process it on our behalf adopt equivalent
        or superior data protection standards to our own.</p>

    <h2 class="govuk-heading-m">How we transfer your Personal Data overseas</h2>

    <p>We do not send or store your Personal Data outside of the European Economic Area. If this changes you will be
        notified of the details of any such transfer and the adequacy mechanisms put in place to ensure the security
        of your Personal Data.</p>

    <h2 class="govuk-heading-m">How long we keep your Personal Data</h2>

    <p>We will only retain your Personal Data for as long as it is needed for the purposes set out in this document
        or the law requires us to. We may retain it for a longer period if directed to do so by law enforcement
        authorities and/or in connection with criminal proceedings.</p>

    <h2 class="govuk-heading-m">Where your Personal Data is processed and stored</h2>

    <p>We choose our systems carefully to make sure that your data is as safe as possible while under our control.
        Your Personal Data will be hosted using a Platform as a Service product located in the UK and will not be
        stored outside of the UK at any time.</p>

    <h2 class="govuk-heading-m">How we protect your Personal Data and keep it secure</h2>

    <p>
      We are committed to doing all that we can to keep your Personal Data secure. We have set up systems and
        processes to prevent unauthorised access or disclosure of your Personal Data, for example, we protect your
        data using varying levels of encryption and run regular penetration tests to assess our security standards.
    </p>

    <h2 class="govuk-heading-m">Your information rights</h2>

    <p>You have a number of rights in relation to your personal data. These include the right to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be informed about how we use your personal data;</li>
      <li>obtain access to your personal data that we hold;</li>
      <li>request that your personal data is corrected if you believe it is incorrect, incomplete or inaccurate;</li>
      <li>request that we erase your personal data in the following circumstances:
        <ul class="govuk-list govuk-list--bullet">
          <li>if we are continuing to process personal data beyond the period when it is necessary to do so
              for the purpose for which it was originally collected;
          <li>if we are relying on consent as the legal basis for processing and you withdraw consent;
          <li>if we are relying on legitimate interest as the legal basis for processing and you object to this
              processing and there is no overriding compelling ground which enables us to continue with the processing;
          <li>if the personal data has been processed unlawfully (i.e. in breach of the requirements of the
              data protection legislation);
          <li>if it is necessary to delete the personal data to comply with a legal obligation;
        </ul>
      </li>
      <li>ask us to restrict our data processing activities where you consider that:
        <ul class="govuk-list govuk-list--bullet">
          <li>personal data is inaccurate;
          <li>our processing of your personal data is unlawful;
          <li>where we no longer need the personal data but you require us to keep it to enable you to establish,
              exercise or defend a legal claim;
          <li>where you have raised an objection to our use of your personal data;
        </ul>
      </li>
      <li>request a copy of certain personal data that you have provided to us in a commonly used electronic format.
          This right relates to personal data that you have provided to us that we need in order to perform our
          agreement with you and personal data where we are relying on consent to process your personal data;</li>
      <li>object to our processing of your personal data where we are relying on legitimate interests or exercise
          of a public interest task to make the processing lawful. If you raise an objection we will carry out an
          assessment to determine whether we have an overriding legitimate ground which entitles us to continue to
          process your personal data;</li>
      <li>not be subject to automated decisions which produce legal effects or which could have a similarly significant effect on you</li>
    </ul>


    <h2 class="govuk-heading-m">Changes to this policy</h2>

    <p>We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also
        change. Any changes to this privacy policy will apply to you and your data immediately. If these changes affect
        how your Personal Data is processed, OPSS will take reasonable steps to let you know.</p>

    <p>You can see previous versions of this page.</p>

    <h2 class="govuk-heading-m">Contact us or make a complaint</h2>

    <p>Contact the Data Protection Officer (DPO) if you have any questions about anything in this document or think
        that your Personal Data has been misused or mishandled.</p>

    <p class="govuk-!-margin-bottom-0">BEIS Data Protection Officer,</p>
    <p class="govuk-!-margin-bottom-0">Department for Business, Energy and Industrial Strategy,</p>
    <p class="govuk-!-margin-bottom-0">1 Victoria Street, London SW1H 0ET</p>

    <p>Email: <% mail_to "dataprotection@beis.gov.uk" %></p>

    <p>You can also make a complaint to the Information Commissioner, who is an independent regulator.</p>

    <p class="govuk-!-margin-bottom-0">Email: <%= mail_to "casework@ico.org.uk" %></p>

    <p class="govuk-!-margin-bottom-0">Telephone: 0303 123 1113</p>
    <p class="govuk-!-margin-bottom-0">Textphone: 01625 545860</p>
    <p>Monday to Friday, 9am to 4:30pm</p>
    <p class="govuk-!-margin-bottom-0">Information Commissioner’s Office</p>
    <p class="govuk-!-margin-bottom-0">Wycliffe House</p>
    <p class="govuk-!-margin-bottom-0">Water Lane</p>
    <p class="govuk-!-margin-bottom-0">Wilmslow</p>

    <p>Cheshire SK9 5AF</p>

    <p>Last updated: 8 April 2019</p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

    <h1 class="govuk-heading-l">Cookies policy</h1>

    <h2 class="govuk-heading-m">What are cookies?</h2>

    <p>Cookies are small text files that are saved on your device to help the website perform a number of functions.
        On your first visit to our website, a popup banner asked you to accept our use of cookies and similar
        technologies. The information these cookies collect is based on your browsing device’s IP-address
        (hardware identifier).</p>

    <h2 class="govuk-heading-m">What do the cookies do?</h2>

    <p>The cookies we use:</p>

    <p>DO NOT: store personally identifiable information about you; store information such as passwords
        (and cannot) allow us to access other information stored on your device, store information about
        you others could understand, compromise your security</p>

    <p>DO: allow us to see how many people use our website and monitor their activities; allow us to see
        how people arrive at our site (e.g. via search engine); allow us to gather geographic location and
        browser information.</p>

    <h2 class="govuk-heading-m">What cookies does this website use?</h2>

    <p>This website uses two types of cookies:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Persistent cookies, which remain on your device to capture and remember your preferences (if chosen)
          for any future re-visit (e.g. your location).
      <li>Session cookies, which are deleted when your browser is closed. These cookies are used for analytical
          services provided by Google Inc. in the US on our behalf. The analysis allows an insight into where and
          how our website is used so that we can continuously work on its improvement. Google will not associate
          your IP address with any other data held by Google. However, if you do not wish to be part of this analysis,
          feel free to amend your browser settings or
        <% link_to "install a browser plug-in", "https://tools.google.com/dlpage/gaoptout" %> to opt-out.
    </ol>

    <p>The cookies we use, what they are used for and how long they remain on your device are set out below:</p>

    <h3 class="govuk-heading-m">Google Analytics</h3>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Lifetime of cookie</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_ga</td>
          <td class="govuk-table__cell">This helps us count how many people visit our site by tracking if you’ve visited before.</td>
          <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gid</td>
          <td class="govuk-table__cell">This helps us count how many people visit our site by tracking if you’ve visited before.</td>
          <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_gat</td>
          <td class="govuk-table__cell">Used to manage the rate at which page view requests are made.</td>
          <td class="govuk-table__cell">1 minute</td>
        </tr>
      </tbody>
    </table>

    <h3 class="govuk-heading-m">Cosmetic product notifications service</h3>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Purpose</th>
          <th class="govuk-table__header">Lifetime of cookie</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">_cosmetics_session</td>
          <td class="govuk-table__cell">This stores information relating to recent actions that have been taken.
              For example, partial information from a wizard.</td>
          <td class="govuk-table__cell">When you close your browser</td>
        </tr>
      </tbody>
    </table>

    <p>You can <%= link_to "opt out of Google Analytics cookies", "https://tools.google.com/dlpage/gaoptout" %>.</p>

    <h2 class="govuk-heading-m">How are cookies deleted?</h2>

    <p>To delete or stop cookies being placed on your device, please check the help menu of your internet browser.
        Blocking cookies may reduce the functionality of this website.</p>

    <h2 class="govuk-heading-m">For more information</h2>

    <p>To learn more about cookies and similar technologies, we recommend you visit:
      <%= link_to "http://www.allaboutcookies.org/", "http://www.allaboutcookies.org/" %></p>

  </div>
</div>
