<%
  prefix = if @responsible_persons_selection_form.previous.present?
            @responsible_persons_selection_form.available.none? ? "Add" : "Change"
          else
            "Select the"
          end
  title = prefix + " Responsible Person"
%>
<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= link_to "Back", responsible_person_path(current_responsible_person), class: "govuk-back-link" if current_responsible_person %>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= error_summary_for(@responsible_persons_selection_form,
                        first_values: { selection: @responsible_persons_selection_form.radio_items.first[:value] }) %>
    <%= form_with model: @responsible_persons_selection_form, url: select_responsible_persons_path, method: :post, html: { novalidate: true } do |form| %>
      <% heading = capture do %>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <%= title %>
          </h1>
        </legend>
        <% if @responsible_persons_selection_form.previous.present? %>
          <div id="change-rp-hint" class="govuk-hint">
            Replace <%= @responsible_persons_selection_form.previous.name %> as the Responsible Person.
          </div>
        <% end %>
      <% end %>
      <%= render("form_components/govuk_radios",
                form: form,
                key: :selection,
                fieldset: { legend: { html: heading } },
                classes: "govuk-!-padding-top-3 govuk-!-padding-bottom-1",
                described_by: @responsible_persons_selection_form.previous.present? ? "change-rp-hint" : nil,
                items: @responsible_persons_selection_form.radio_items) %>
      <div class="govuk-button-group">
        <%= govukButton text: "Save and Continue" %>
        <%= link_to("Cancel",
                    responsible_person_path(current_responsible_person),
                    class: "govuk-link govuk-link--no-visited-state") if current_responsible_person %>
      </div>
    <% end %>
  </div>
</div>
