<% content_for :page_title, "UK Responsible Person" %>
<% content_for :after_header do %>
  <%= render "layouts/navbar" %>
<% end %>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-6">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2" aria-describedby="responsible-person-hint">
          <abbr>UK</abbr> Responsible Person
        </h1>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-2">
        <% if current_user.responsible_persons.length > 1 %>
          <%= link_to "Change the Responsible Person", select_responsible_persons_path, class: 'govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset' %>
        <% else %>
          <%= link_to "Add a Responsible Person", account_path(:select_type), class: 'govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-align-right opss-text-underline-offset' %>
        <% end %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p id="responsible-person-hint" class="govuk-hint govuk-!-width-two-thirds">
        The Responsible Person can be a business, individual or sole trader and has an assigned contact.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h2 class="govuk-heading-s">Business, individual or sole trader</h2>

    <%= govukSummaryList(
      classes: "govuk-!-margin-bottom-8",
      rows: [
        {
          key: { text: "Name" },
          value: { text: @responsible_person.name },
        },
        {
          key: { text: "Address" },
          value: { text: wrap_summary_address(@responsible_person.address_lines) },
        },
        {
          key: { text: "Business type" },
          value: {
            text:
              case @responsible_person.account_type
              when "individual" then "Individual or sole trader"
              when "business" then "Limited company or Limited Liability Partnership (LLP)"
              end
          },
        }
      ])
    %>

    <h2 class="govuk-heading-s">Assigned contact</h2>

    <% @responsible_person.contact_persons.each do |contact_person| %>
      <%= render "/notifications/contact_person_details", contact_person: contact_person %>
    <% end %>

  </div>
</div>
