<% content_for :page_title, "Forgot password - Market Surveillance & Product Safety" %>

<h1 class="heading-xlarge">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, :class => "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Send me reset password instructions", :class => "button" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
