<%= paginator.render do %>
  <%
    # We can provide personalised "nav_class: 'css classes'" argument to "paginate" calls
    nav_css_classes = "opss-pagination-link"
    nav_css_classes += " #{nav_class}" if defined?(nav_class)
  %>
  <nav class="<%= nav_css_classes %>">
    <ul>
      <%= prev_page_tag %>
      <li class="opss-pagination-link__wrap opss-pagination-link--text govuk-body">
        Page <%= current_page %>
      </li>
      <%= next_page_tag %>
    </ul>
  </nav>
<% end %>
