<% content_for :page_title, "Case products - Market Surveillance & Product Safety" %>

<% content_for :after_header do %>
<%= link_to 'Back to case', @investigation, class: "govuk-back-link" %>
<% end %>

<%= render "investigation_heading", investigation: @investigation %>

<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Manage products</h2>
<%= link_to 'Add product', search_investigation_products_path(@investigation) %>

<div class="govuk-!-padding-top-8">
    <% if @investigation.products.any? %>
        <% @investigation.products.each do |product| %>
            <%= render layout: "product_summary", locals: { product: product } do %>
                <div class="form-group">
                    <%= link_to 'Remove',
                                investigation_product_path(@investigation, product),
                                method: :delete,
                                data: { confirm: 'Are you sure?' }
                    %>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <p>No products.</p>
    <% end %>
</div>
