<% content_for :page_title, "New product for investigation - Market Surveillance & Product Safety" %>
<%# The data attribute is used by JS to determine if there is an investigation %>
<div class="new-product-page products-search-form" data-investigation-id=<%= @investigation.id %>>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <%= link_to 'Investigations', investigations_path %>
            </li>
            <li>
                <%= link_to 'Investigation', @investigation %>
            </li>
            <li>
                <%= link_to 'New Product', new_investigation_product_path(@investigation) %>
            </li>
        </ol>
    </div>

    <%= link_to 'Back', @investigation, class: "govuk-back-link link-back" %>

    <h1 class="heading-xlarge">New product for investigation</h1>
    <%= render 'products/form', product: @product, countries: @countries, form_model: [@investigation, @product] %>
</div>
