<% content_for :page_title, "Add product to investigation - Market Surveillance & Product Safety" %>
<%# The data attribute is used by JS to determine if there is an investigation %>
<div class="investigation-product-page products-search-form"
    data-investigation-id=<%= @investigation.id %>
    data-product-ids=<%= @investigation.product_ids.join(",") %>
    >

    <%= link_to 'Back to investigation', @investigation, class: "govuk-back-link link-back" %>

    <%= render "investigation_heading", investigation: @investigation %>
    <h2 class="govuk-heading-l">Add product</h2>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <%= form_with(model: @product, url: new_investigation_product_path(@investigation), local: true, method: :get) do |form| %>
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Product details</h3>
                <%= render 'products/core_params', form: form, product: @product, countries: @countries %>
                <div class="form-group">
                    <%= form.submit "Create new", :class => "govuk-button" %>
                </div>
            <% end %>
        </div>
        <div class="govuk-grid-column-one-half">
            <%= render 'products/suggestions_container' %>
        </div>
    </div>
</div>
