<% title = "Check your email" %>
<% content_for :page_title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">
      <% if local_assigns[:email] %>
        <%= I18n.t("users.check_your_email.message_sent.with_email", email: local_assigns[:email]) %>
      <% else %>
        <%= I18n.t("users.check_your_email.message_sent.generic") %>
      <% end %>
      <br>
      <%= I18n.t("users.check_your_email.follow_link") %>
      <br>
      <%= I18n.t("users.check_your_email.check_spam") %>
    </p>

  </div>
</div>
