<% content_for :page_title, "View activity - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to "Investigation", investigation_path(@activity.investigation) %>
        </li>
        <li>
            <%= link_to "Activities", investigation_activities_path(@activity.investigation) %>
        </li>
        <li>
            <%= link_to "View", @activity %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">
  Activity
</h1>
<p>Activity for <%= link_to "investigation", investigation_path(@activity.investigation) %>.</p>

<h4 class="heading-small">
  Activity type
</h4>
<p>
  <%= @activity.activity_type.titleized_name %>
</p>

<h4 class="heading-small">
  Notes
</h4>
<p>
  <%= @activity.notes %>
</p>

<div class="form-group">
  <%= link_to 'Edit', edit_activity_path(@activity), :class => "button" %>
</div>
<%= link_to 'Back', investigation_activities_path(@activity.investigation), :class => "link-back" %>
