<p id="notice"><%= notice %></p>

<p>
  <strong>Investigation:</strong>
  <%= link_to @activity.investigation.id, @activity.investigation %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @activity.activity_type.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @activity.notes %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', investigation_path(@activity.investigation) %>
