<p id="notice"><%= notice %></p>

<p>
  <strong>Investigation:</strong>
  <%= @activity.investigation %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @activity.activity_type %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @activity.notes %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
