<div class="govuk-grid-row govuk-!-padding-bottom-3">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Name</th>
          <td class="govuk-table__cell"><%= business.company_name %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Type</th>
          <td class="govuk-table__cell"><%= business.nature_of_business %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Primary address</th>
          <td class="govuk-table__cell"><%= business.primary_address&.summary %></td>
        </tr>
      </tbody>
    </table>
    <p><%= link_to "Full business details", business %></p>
    <%= yield %>
  </div>
</div>