<div class="timeline">
  <ul>
    <% versions.reverse.each do |version| %>
      <li>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><%= version.event.titleize %></h3>
        <p class="timeline-details govuk-!-margin-bottom-1">By <%= version.whodunnit && (user = User.find_by(id: version.whodunnit)).present? ? user.email : "anonymous" %>, <%= version.created_at.to_s :long_ordinal %></p>
        <% version.changeset.select { |_, (from, to)| !(from.blank? && to.blank?) }.each do |field, (from, to)| %>
          <% if !["id", "created_at", "updated_at"].include?(field) &&  !to.blank? %>
            <p>
              Changed "<%= field.titleize %>"
              <% if !from.blank? %>
                from "<%= from.to_s %>"
              <% end %>
              to "<%= to.to_s %>"
            </p>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <!-- A dummy item at the end adds the end blob to the timeline -->
    <li></li>
  </ul>
</div>
