<h3 class="heading-medium">
    History
</h3>

<details>
  <% versions.each do |version| %>
    <summary><span class="summary">
        <%= version.event.upcase %>
        on <%= version.created_at.to_formatted_s(:db) %>
        by <%= User.find(version.whodunnit).email ||= "anonymous" %>
    </span></summary>

    <div class="panel panel-border-narrow">
        <% version.changeset.select { |_, change| !(change[0].blank? && change[1].blank?) }.each do |field, change| %>
            <p><%= field %>: <%= change[0].to_s %> => <%= change[1].to_s %></p>
        <% end %>
    </div>
  <% end %>
</details>
