<div class="govuk-grid-row product-summary govuk-!-padding-bottom-3 govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-one-half">
    <div class="aspect-ratio-3-2-container">
      <div class="aspect-ratio-contents">
        <% if product.images.attached? %>
          <%= render "images/image_tag", image: product.images.first, dimensions: "300x200", class_name: "product-image" %>
        <% elsif product.rapex_images.any? %>
          <%= image_tag(product.rapex_images[0].url, alt: product.rapex_images[0].title, :class => "product-image") %>
        <% else %>
          <p class="no-images">No images.</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Type</th>
          <td class="govuk-table__cell"><%= product.name %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Brand</th>
          <td class="govuk-table__cell"><%= product.brand %></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Model</th>
          <td class="govuk-table__cell"><%= product.model %></td>
        </tr>
      </tbody>
    </table>
    <p><%= link_to "Full product details", product %></p>
    <%= yield %>
  </div>
</div>
