<%= form_with(model: form_model, local: true) do |form| %>
  <%= render 'core_params', form: form, product: product, countries: countries %>

  <div class="form-group date-select-control">
    <%= form.label :date_placed_on_market, :class => "form-label" %>
    <%= form.date_select :date_placed_on_market, start_year: Date.current.year, end_year: 1990 %>
  </div>

  <div class="form-group">
    <%= form.label :associated_parts, :class => "form-label" %>
    <%= form.text_field :associated_parts, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.fields_for :images do |image| %>
      <%= render 'image_fields', f: image %>
    <% end %>
    <%= link_to_add_association 'add image', form, :images %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", :class => "govuk-button" %>
  </div>
<% end %>
