<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2 class="heading-large"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :gtin, "GTIN (Global Trade Item Number/Barcode)", :class => "form-label" %>
    <%= form.text_field :gtin, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name, :class => "form-label" %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, :class => "form-label" %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :model, :class => "form-label" %>
    <%= form.text_field :model, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mpn, "Manufacturer Part Number", :class => "form-label" %>
    <%= form.text_field :mpn, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :batch_number, :class => "form-label" %>
    <%= form.text_field :batch_number, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :purchase_url, "Purchase URL", :class => "form-label" %>
    <%= form.text_field :purchase_url, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :brand, :class => "form-label" %>
    <%= form.text_field :brand, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image_url, "Image URL", :class => "form-label" %>
    <%= form.text_field :image_url, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", :class => "button" %>
  </div>
<% end %>
