<%= form_with(model: form_model, local: true) do |form| %>
  <%= render 'products/core_params', form: form, product: product, countries: countries %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group">
      <%= form.label :date_placed_on_market, :class => "form-label" %>
      <div class="govuk-date-input">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-day">
              Day
            </label>
            <%= form.number_field "date_placed_on_market(3i)", value: product.date_placed_on_market&.day, :class => "govuk-input govuk-date-input__input govuk-input--width-2" %>
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-day">
              Month
            </label>
            <%= form.number_field "date_placed_on_market(2i)", value: product.date_placed_on_market&.month, :class => "govuk-input govuk-date-input__input govuk-input--width-2" %>
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-day">
              Year
            </label>
            <%= form.number_field "date_placed_on_market(1i)", value: product.date_placed_on_market&.year, :class => "govuk-input govuk-date-input__input govuk-input--width-4" %>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-group">
    <%= form.label :associated_parts, :class => "form-label" %>
    <%= form.text_field :associated_parts, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.fields_for :images do |image| %>
      <%= render 'image_fields', f: image %>
    <% end %>
    <%= link_to_add_association 'add image', form, :images %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", :class => "govuk-button" %>
  </div>
<% end %>
