<table class="govuk-table sortable govuk-!-margin-bottom-3">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <% if form %>
        <th class="govuk-table__header not-implemented" scope="col"></th>
      <% end %>
      <th class="govuk-table__header" scope="col"><%= sortable "name", "Product" %></th>
      <th class="govuk-table__header" scope="col"><%= sortable "type", "Type" %></th>
      <th class="govuk-table__header" scope="col"><%= sortable "country_of_origin", "Origin" %></th>
      <% unless @compressed %>
        <th class="govuk-table__header" scope="col">Cases</th>
      <% end %>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @products.each do |product| %>
      <tr class="govuk-table__row">
        <% if form %>
          <td class="govuk-table__cell not-implemented"><%= form.check_box :product_ids, { multiple: true }, product.id, false %></td>
        <% end %>
        <td class="govuk-table__cell"><%= link_to product.name, product, class: "govuk-link" %></td>
        <td class="govuk-table__cell"><%= product.product_type %></td>
        <td class="govuk-table__cell"><%= product.country_of_origin_for_display %></td>
        <td class="govuk-table__cell">
          <span class="govuk-!-font-size-36 govuk-!-font-weight-bold">
            <%= product.investigations.count %>
          </span>
        </td>
      </tr>
    <% end %>
    <% if @products.empty? %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">No products found.</td>
    </tr>
    <% end %>
  </tbody>
</table>
