<table>
  <thead>
    <tr>
      <th>GTIN (Barcode)</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Investigations</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.gtin %></td>
        <td><%= link_to product.name, product %></td>
        <td><%= product.brand %></td>
        <td><%= product.investigations.length %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>