<table class="govuk-!-margin-bottom-3">
  <thead>
    <tr>
      <% if form %>
        <th class="not-implemented"colspan="1"></th>
      <% end %>
      <th><%= sortable "name", "Product" %></th>
      <th><%= sortable "type", "Type" %></th>
      <th><%= sortable "country_of_origin", "Origin" %></th>
      <% unless @compressed %>
        <th>Cases</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% if form %>
          <td class="not-implemented"><%= form.check_box :product_ids, { multiple: true }, product.id, false %></td>
        <% end %>
        <td><%= link_to product.name, product %></td>
        <td><%= product.product_type %></td>
        <td><%= product.country_of_origin_for_display %></td>
        <td>
          <span class="govuk-!-font-size-36 govuk-!-font-weight-bold">
            <%= product.investigations.count %>
          </span>
        </td>
      </tr>
    <% end %>
    <% if @products.empty? %>
    <tr>
      <td>No products found.</td>
    </tr>
    <% end %>
  </tbody>
</table>
