<table>
  <thead>
    <tr>
      <% if form %>
        <th colspan="1"></th>
      <% end %>
      <th>Name</th>
      <th>Brand</th>
      <th>Category(s)</th>
      <th>Origin Co</th>
      <% unless @compressed %>
        <th>Investigations</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% if form %>
          <td><%= form.check_box :product_ids, { multiple: true }, product.id, false %></td>
        <% end %>
        <td><%= link_to product.name, product %></td>
        <td><%= product.brand %></td>
        <td><span class="not-implemented">Some category (+10)</span></td>
        <td><%= product.country_of_origin_for_display%></td>
        <% unless @compressed %>
        <td>
          <span class="investigations not-implemented">
            <%= link_to product.investigations.count, investigations_path %>
          </span>
        </td>
        <% end %>
      </tr>
    <% end %>
    <% if @products.empty? %>
    <tr>
      <td>No products found.</td>
    </tr>
    <% end %>
  </tbody>
</table>
