<% content_for :page_title, "Products - Market Surveillance & Product Safety" %>

<%= render "layouts/navbar" %>

<%= form_with(url: products_path, method: "get", class: "grey govuk-!-padding-3") do |form| %>
  <div class="form-group">
    <%= form.label "Search for Products", class: "form-label" %>
    <%= form.text_field :q, value: params[:q], class: "form-control" %>
    <%= form.submit ">", name: nil, class: "govuk-button" %>
  </div>
<% end %>
</br>

<%= link_to 'New product', new_product_path, class: "govuk-button right" %><br /><br />

<%= will_paginate @products %>
<%= render 'table', product: @products %>
<%= will_paginate @products %>

