<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Products', products_path %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">Products</h1>
<%= link_to 'New Product', new_product_path, :class => "button" %><br /><br />

<%= will_paginate @products %>
<br />
<table>
  <thead>
    <tr>
      <th>GTIN</th>
      <th>Name</th>
      <th>Brand</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.gtin %></td>
        <td><%= link_to product.name, product %></td>
        <td><%= product.brand %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= will_paginate @products %>

