<% content_for :page_title, "Products - Market Surveillance & Product Safety" %>

<%= render "layouts/navbar" %>

<%= form_with(url: products_path, method: "get", class: "search-background govuk-!-padding-3") do |form| %>
  <div class="form-group">
    <%= form.label "Search for Products", class: "form-label" %>
    <%= form.text_field :q, value: params[:q], class: "form-control" %>
    <%= form.submit ">", name: nil, class: "govuk-button" %>
  </div>
<% end %>

<br/>

<%= form_with(url: confirm_merge_products_path, method: :get) do |form| %>
  <%= form.submit "Merge selected", name: nil, class: "not-implemented" %>
  <%= link_to 'New product', new_product_path, class: "right" %>

  <%= will_paginate @products %>
  <%= render 'table', product: @products, form: form %>
  <%= will_paginate @products %>
<%end%>
