<% content_for :page_title, "New product - Market Surveillance & Product Safety" %>
<%# The data attribute is used by JS to determine if there is an investigation %>
<div class="new-product-page" data-investigation-id=<%= @investigation&.id %>>
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <%= link_to 'Products', products_path %>
            </li>
            <li>
                <%= link_to 'New', new_product_path %>
            </li>
        </ol>
    </div>

    <h1 class="heading-xlarge">New product</h1>
    <div class="grid-row">
        <div class="column-half">
            <%= render 'form', product: @product, countries: @countries, form_model: [@investigation, @product] %>
        </div>
        <div class="column-half">
            <h2 class="heading-medium">Suggested products</h2>
            <div id="suggested-products">
                Start filling in the form for suggestions.
            </div>
        </div>
    </div>

    <%= link_to 'Back', products_path, :class => "link-back" %>
</div>
