<% content_for :page_title, "New product - Market Surveillance & Product Safety" %>
<%# The data attribute is used by JS to determine if there is an investigation %>
<div class="new-product-page products-search-form">
    <div class="breadcrumbs">
        <ol role="breadcrumbs">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <%= link_to 'Products', products_path %>
            </li>
            <li>
                <%= link_to 'New', new_product_path %>
            </li>
        </ol>
    </div>

    <%= link_to 'Back', products_path, class: "govuk-back-link link-back" %>

    <h1 class="heading-xlarge">New product</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <%= render 'form', product: @product, countries: @countries, form_model: @product %>
        </div>
        <div class="govuk-grid-column-one-half">
            <%= render 'suggestions_container' %>
        </div>
    </div>
</div>
