<% content_for :page_title, "View product - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Products', products_path %>
        </li>
        <li>
            <%= link_to 'View', @product %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge">
  Product
</h1>

<div class="slider-nav">
  <% @product.images.each do |image| %>
    <%= image_tag(image.url, alt: image.title) %>
  <% end %>
</div>

<h4 class="heading-small">
  Product ID
</h4>
<p>
  <%= @product.id %>
</p>

<h4 class="heading-small">
  GTIN (Global Trade Item Number/Barcode)
</h4>
<p>
  <%= @product.gtin %>
</p>

<h4 class="heading-small">
  Name
</h4>
<p>
  <%= @product.name %>
</p>

<h4 class="heading-small">
  Description
</h4>
<p>
  <%= @product.description %>
</p>

<h4 class="heading-small">
  Model
</h4>
<p>
  <%= @product.model %>
</p>

<h4 class="heading-small">
  MPN (Manufacturer Part Number)
</h4>
<p>
  <%= @product.mpn %>
</p>

<h4 class="heading-small">
  Batch number
</h4>
<p>
  <%= @product.batch_number %>
</p>

<h4 class="heading-small">
  Purchase URL
</h4>
<p>
  <%= link_to(@product.purchase_url, @product.purchase_url, target: "_blank") unless @product.purchase_url.nil? %>
</p>

<h4 class="heading-small">
  Brand
</h4>
<p>
  <%= @product.brand %>
</p>

<h4 class="heading-small">
  Source
</h4>
<p>
  <%= @product.source.show %>
</p>

<% if @product.investigations.any? -%>
  <h4 class="heading-small">Investigations</h4>
  <% @product.investigations.each do |investigation| %>
    <p><%= link_to investigation.id, investigation %></p>
  <% end %>
<% end -%>

<% if @product.potential_product_duplicates.any? -%>
  <h3 class="heading-medium">Potential duplicates</h3>
  <table>
    <thead>
      <tr>
        <th>Product name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% @product.potential_product_duplicates.each do |duplicate| %>
        <tr>
          <td><%= link_to duplicate.duplicate_product.name, duplicate.duplicate_product %></td>
          <td><%= duplicate.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br /><br />
<% end -%>

<div class="form-group no-print">
  <%= link_to 'Edit', edit_product_path(@product), :class => "button" %>
</div>

<div class="form-group no-print">
  <%= link_to 'Create PDF document', product_path(@product, :format => :pdf) %>
</div>

<div class="form-group no-print">
  <%= link_to 'Back', products_path, :class => "link-back" %>
</div>

<%= render 'history', versions: @product.versions %>
