<% content_for :page_title, "View product - Market Surveillance & Product Safety" %>

<%= link_to 'Back to list', products_path, class: "govuk-back-link" %>

<div class="govuk-grid-row govuk-!-padding-bottom-6">
  <div class="govuk-grid-column-two-thirds">
    <%= render "product_heading", product: @product %>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Cases</h3>
    <span class="govuk-heading-xl govuk-!-margin-bottom-0"><%= @product.investigations.size %></span>
  </div>
</div>

<div class="govuk-grid-row govuk-!-padding-bottom-6 row-border-top">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-1">Contents</h3>
    <ul class="dashed-list">
      <li><a href="#details" class="govuk-!-font-size-19">Details</a></li>
      <li><a href="#images" class="govuk-!-font-size-19">Images</a></li>
      <li><a href="#documents" class="govuk-!-font-size-19">Documents</a></li>
      <li><a href="#cases" class="govuk-!-font-size-19">Cases</a></li>
      <li><a href="#history" class="govuk-!-font-size-19">History</a></li>
    </ul>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-grid-row govuk-!-padding-bottom-6" id="details">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Details</h2>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Barcode</th>
              <td class="govuk-table__cell"><%= @product.gtin %></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Brand</th>
              <td class="govuk-table__cell"><%= @product.brand %></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Model number</th>
              <td class="govuk-table__cell"><%= @product.model %></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Batch number</th>
              <td class="govuk-table__cell"><%= @product.batch_number %></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Country of origin</th>
              <td class="govuk-table__cell"><%= @product.country_of_origin_for_display %></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Description</th>
              <td class="govuk-table__cell"><%= @product.description %></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Date on the market</th>
              <td class="govuk-table__cell"><%= @product.date_placed_on_market&.to_s :long_ordinal %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to "Edit details", edit_product_path(@product) %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-6" id="images">
      <div class="govuk-grid-column-full">
        <%= render "images_summary", parent: @product %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-6" id="documents">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Documents</h2>
        <%= render "documents_list_summary", parent: @product %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-6" id="cases">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Cases</h2>
        <%= render "investigations_summary", parent: @product %>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-6" id="history">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1">History</h2>
        <%= render 'history', versions: @product.versions %>
      </div>
    </div>

  </div>
</div>
