<% content_for :page_title, "View product - Market Surveillance & Product Safety" %>

<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Products', products_path %>
        </li>
        <li>
            <%= link_to 'View', @product %>
        </li>
    </ol>
</div>

<h1 class="heading-xlarge"><%= @product.name %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full company-details large-space-below">
    <table class="company-details-table">
      <thead>
      <td class="company-details-header">Product Details</td>
      <td></td>
      </thead>
      <tbody>
        <tr>
          <td>Product ID</td>
          <td><%= @product.id %></td>
        </tr>
        <tr>
          <td>GTIN (Global Trade Item Number/Barcode)</td>
          <td><%= @product.gtin %></td>
        </tr>
        <tr>
          <td>Brand</td>
          <td><%= @product.brand %></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><%= @product.description %></td>
        </tr>
        <tr>
          <td>Model</td>
          <td><%= @product.model %></td>
        </tr>
        <tr>
          <td>Batch number</td>
          <td><%= @product.batch_number %></td>
        </tr>
        <tr>
          <td>Serial number</td>
          <td><%= @product.serial_number %></td>
        </tr>
        <tr>
          <td>URL reference</td>
          <td><%= link_to(@product.url_reference, @product.url_reference, target: "_blank") unless @product.url_reference.nil? %></td>
        </tr>
        <tr>
          <td>Manufacturer</td>
          <td><%= @product.manufacturer %></td>
        </tr>
        <tr>
          <td>Country of origin</td>
          <td><%= @product.country_of_origin_for_display %></td>
        </tr>
        <tr>
          <td>Date placed on the market</td>
          <td><%= @product.date_placed_on_market&.to_s :long_ordinal %></td>
        </tr>
        <tr>
          <td>Associated parts or components</td>
          <td><%= @product.associated_parts %></td>
        </tr>
        <tr>
          <td>Source</td>
          <td><%= @product.source.show %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "Add more details", edit_product_path(@product)%>
  </div>
</div>

<div class="slider-nav">
  <% @product.images.attachments.each do |image| %>
    <% render "images/image_tag", image: image, dimensions: "300x200" %>
  <% end %>
  <% @product.rapex_images.each do |image| %>
    <%= image_tag(image.url, alt: image.title) %>
  <% end %>
</div>

<% if @product.images.attached? %>
  <h4 class="heading-small"><%= "Images (#{@product.images.attachments.count})" %></h4>
  <% @product.images.attachments.limit(2).each do |image| %>
    <%= render "images/image", image: image, dimensions: "300x200" %>
  <% end %>
  <br/>
<% else %>
  <h4 class="heading-small"><%= "Images" %></h4>
  <p>No images.</p>
<% end %>
<%= link_to "Manage images", associated_images_path(@product), class: "no-print" %>

<% if @product.investigations.any? -%>
  <h4 class="heading-small">Investigations</h4>
  <% @product.investigations.each do |investigation| %>
    <p><%= link_to investigation.id, investigation %></p>
  <% end %>
<% end -%>

<div class="form-group no-print">
  <%= link_to 'Create PDF document', product_path(@product, :format => :pdf) %>
</div>

<div class="form-group no-print">
  <%= link_to 'Back', products_path, :class => "link-back" %>
</div>

<%= render 'history', versions: @product.versions %>
