<h2>
  Product
</h2>

<div>
  <% @product.images.attachments.each do |image| %>
    <% render "images/image_tag", image: image, dimensions: "300x200" %>
  <% end %>
  <% @product.rapex_images.each do |image| %>
    <%= image_tag(image.url, alt: image.title) %>
  <% end %>
</div>

<table style="width:100%; text-align:left">
  <tr>
    <th>Product ID</th>
    <td><%= @product.id %></td>
  </tr>

  <tr>
    <th>GTIN (Global Trade Item Number/Barcode)</th>
    <td><%= @product.gtin %></td>
  </tr>

  <tr>
    <th>Name</th>
    <td><%= @product.name %></td>
  </tr>

  <tr>
    <th>Brand</th>
    <td><%= @product.brand %></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%= @product.description %></td>
  </tr>

  <tr>
    <th>Model</th>
    <td><%= @product.model %></td>
  </tr>

  <tr>
    <th>Batch number</th>
    <td><%= @product.batch_number %></td>
  </tr>

  <tr>
    <th>Serial number</th>
    <td><%= @product.serial_number %></td>
  </tr>

  <tr>
    <th>URL reference</th>
    <td><%= link_to(@product.url_reference, @product.url_reference, target: "_blank") unless @product.url_reference.nil? %></td>
  </tr>

  <tr>
    <th>Manufacturer</th>
    <td><%= @product.manufacturer %></td>
  </tr>

  <tr>
    <th>Country of origin</th>
    <td><%= @product.country_of_origin_for_display %></td>
  </tr>

  <tr>
    <th>Date placed on the market</th>
    <td><%= @product.date_placed_on_market&.to_s :long_ordinal %></td>
  </tr>

  <tr>
    <th>Associated parts or components</th>
    <td><%= @product.associated_parts %></td>
  </tr>

  <tr>
    <th>Source</th>
    <td><%= @product.source.show %></td>
  </tr>
</table>

<% if @product.investigations.any? -%>
  <tr>
    <th>Investigations</th>
    <% @product.investigations.each do |investigation| %>
      <td><%= link_to investigation.id, investigation %></td>
      </tr>
    <% end %>
<% end -%>
