<div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <%= link_to 'Products', products_path %>
        </li>
        <li>
            <%= link_to 'View', @product %>
        </li>
    </ol>
</div>

<h4 class="heading-small">
  GTIN (Global Trade Item Number/Barcode):
</h4>
<p>
  <%= @product.gtin %>
</p>

<h4 class="heading-small">
  Name:
</h4>
<p>
  <%= @product.name %>
</p>

<h4 class="heading-small">
  Description:
</h4>
<p>
  <%= @product.description %>
</p>

<h4 class="heading-small">
  Model:
</h4>
<p>
  <%= @product.model %>
</p>

<h4 class="heading-small">
  MPN (Manufacturer Part Number):
</h4>
<p>
  <%= @product.mpn %>
</p>

<h4 class="heading-small">
  Batch number:
</h4>
<p>
  <%= @product.batch_number %>
</p>

<h4 class="heading-small">
  Purchase url:
</h4>
<p>
  <%= @product.purchase_url %>
</p>

<h4 class="heading-small">
  Brand:
</h4>
<p>
  <%= @product.brand %>
</p>

<div class="form-group">
  <%= link_to 'Edit', edit_product_path(@product), :class => "button" %>
</div>
<%= link_to 'Back', products_path, :class => "link-back" %>
