<% title = "Confirm usage" %>
<% annex_details = get_ec_regulation_annex_details_for_nanomaterial_purposes(@nano_element.purposes) %>
<% question = "Does the #{@nano_element.inci_name} conform to the restrictions set out in #{annex_details}?" %>

<% content_for :page_title, title %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: previous_wizard_path %>
<% end %>

<%= form_with model: @nano_element, url: wizard_path, method: :put do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary_for(@nano_element, first_values: {confirm_usage: "yes"}) %>
      <%= render "form_components/govuk_radios", form: form, key: :confirm_usage,
              fieldset: { legend: { text: question, classes: "govuk-label--xl", isPageHeading: true } },
              items: [{ text: "Yes", value: "yes" }, { text: "No", value: "no" }] %>
      <%= govukButton text: "Continue" %>
    </div>
  </div>
<% end %>
