<%= form_with model: image, scope: :image, local: true, url: investigation_image_path(@investigation, image) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2 class="heading-large"><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, :class => "form-label" %>
    <%= form.text_field :title, :value => image.metadata["title"], :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Save image details", :class => "govuk-button" %>
  </div>
<% end %>
