<table class="govuk-table image-list">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" colspan="2"></th>
  </tr>
  </thead>

  <tbody class="govuk-table__body">
  <% @images.each do |image| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell image-preview">
        <%= render "image", image: image, dimensions: "300x300" %>
      </td>
      <td class="govuk-table__cell image-details">
        <h2 class="govuk-heading-m image-title"><%= image.metadata["title"] %></h2>
        <div class="image-updated right">Updated <%= Time.parse(image.metadata["updated"]).strftime("%d/%m/%Y") if image.metadata["updated"].present? %></div>

        <div class="image-description"><%= image.metadata["description"] %></div>

        <%= link_to "Edit image details", edit_associated_image_path(@parent, image), class: "govuk-link edit-image-link" %>
        <%= link_to "Delete image", associated_image_path(@parent, image), method: :delete, data: { confirm: "Are you sure?" }, class: "govuk-link delete-image-link" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
