<% content_for :page_title, "Image details - Market Surveillance & Product Safety" %>

<%= link_to 'Back', associated_images_path(@parent), class: "govuk-back-link" %>

<h1 class="heading-large"><%= @image.metadata["title"] %></h1>

<%= render 'image', image: @image, dimensions: "600x400" %>

<div class="image-description"><%= @image.metadata["description"] %></div>
<%= link_to "Edit image details", edit_associated_image_path(@parent, @image), class: "edit-image-link" %>
