
<% content_for :head do %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
<% end %>
<% content_for :content do %>
    <div id="content">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">ALPHA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>
        <%= yield %>
    </div>
<% end %>
<%= render file: 'layouts/govuk_template' %>