
<% content_for :head do %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
<% end %>
<% content_for :header_class, "with-proposition" %>
<% content_for :proposition_header do %>
    <%= render "layouts/header" %>
<% end %>
<% content_for :content do %>
    <div id="content">
        <%= render "layouts/alpha_tag" %>
        <%= render "layouts/notice" %>
        <%= yield %>
    </div>
<% end %>
<%= render file: "layouts/govuk_template" %>
<script>
  window.GOVUKFrontend.initAll()
</script>
