<% title = "What is the item name?" %>

<% page_title title, errors: @component.errors.any? %>
<% content_for :after_header do %>
  <%= govukBackLink text: "Back", href: responsible_person_notification_draft_path(@notification.responsible_person, @notification) %>
<% end %>

<%= form_with model: @component, url: responsible_person_notification_components_path(@notification.responsible_person, @notification), method: :post do |form| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary_for(@component) %>
      <%= govukInput(form: form,
                     key: :name,
                     classes: "govuk-!-margin-top-7",
                     label: { text: title, classes: "govuk-label--l", isPageHeading: true },
                     hint: { html: "For example, ‘cream peroxide’" }) %>
      <%= govukButton text: "Save and continue" %>
    </div>
  </div>
<% end %>
